.icon-android { background-image: url('../img/icon-android.png'); background-repeat: no-repeat; }

.icon-apple { background-image: url('../img/icon-apple.png'); background-repeat: no-repeat; }

.icon-desktop { background-image: url('../img/icon-desktop.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('../img/icon-phone.png'); background-repeat: no-repeat; }

.icon-tablet { background-image: url('../img/icon-tablet.png'); background-repeat: no-repeat; }

.icon-windows-new { background-image: url('../img/icon-windows-new.png'); background-repeat: no-repeat; }

