.symbol-account { background-image: url('../img/account.png'); background-repeat: no-repeat; }

.symbol-bpay { background-image: url('../img/bpay.png'); background-repeat: no-repeat; }

.symbol-history-clock { background-image: url('../img/history-clock.png'); background-repeat: no-repeat; }

.symbol-move-from { background-image: url('../img/move-from.png'); background-repeat: no-repeat; }

.symbol-move-to { background-image: url('../img/move-to.png'); background-repeat: no-repeat; }

.symbol-transfer { background-image: url('../img/transfer.png'); background-repeat: no-repeat; }

