/*![Module-Version-Brand]*/
/*
 * buttons mixins
 *
 * doc comment with stuff and stuff
 *
 */


//////////////////////////////////////| buttons STYLES
._buttons( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) { //////////////////////////////////////| BOM
		//////////////////////////////////////| PRIMARY
		@primary-fontcolor: #fff;
		@primary-backgroundcolor: @color-A;
		@primary-bordercolor: @color-A;
		@primary-active-fontcolor: #fff;
		@primary-active-backgroundcolor: @color-A;
		@primary-active-bordercolor: @color-A;
		@primary-hover-fontcolor: #fff;
		@primary-hover-backgroundcolor: @color-A;
		@primary-hover-bordercolor: @color-A;

		//////////////////////////////////////| HERO
		@hero-fontcolor: #fff;
		@hero-backgroundcolor: @color-B;
		@hero-bordercolor: @color-A;
		@hero-active-fontcolor: #fff;
		@hero-active-backgroundcolor: @color-A;
		@hero-active-bordercolor: @color-A;
		@hero-hover-fontcolor: #fff;
		@hero-hover-backgroundcolor: @color-A;
		@hero-hover-bordercolor: @color-A;

		//////////////////////////////////////| NEUTRAL
		@neutral-fontcolor: #fff;
		@neutral-backgroundcolor: @color-C;
		@neutral-bordercolor: @color-A;
		@neutral-active-fontcolor: #fff;
		@neutral-active-backgroundcolor: @color-A;
		@neutral-active-bordercolor: @color-A;
		@neutral-hover-fontcolor: #fff;
		@neutral-hover-backgroundcolor: @color-A;
		@neutral-hover-bordercolor: @color-A;

		//////////////////////////////////////| FAINT
		@faint-fontcolor: #fff;
		@faint-backgroundcolor: @color-D;
		@faint-bordercolor: @color-A;
		@faint-active-fontcolor: #fff;
		@faint-active-backgroundcolor: @color-A;
		@faint-active-bordercolor: @color-A;
		@faint-hover-fontcolor: #fff;
		@faint-hover-backgroundcolor: @color-A;
		@faint-hover-bordercolor: @color-A;
	}
	.getBrand() when (@brand = BSA) { //////////////////////////////////////| BSA
		//////////////////////////////////////| PRIMARY
		@primary-fontcolor: #fff;
		@primary-backgroundcolor: @color-A;
		@primary-bordercolor: @color-A;
		@primary-active-fontcolor: #fff;
		@primary-active-backgroundcolor: @color-A;
		@primary-active-bordercolor: @color-A;
		@primary-hover-fontcolor: #fff;
		@primary-hover-backgroundcolor: @color-A;
		@primary-hover-bordercolor: @color-A;

		//////////////////////////////////////| HERO
		@hero-fontcolor: #fff;
		@hero-backgroundcolor: @color-A;
		@hero-bordercolor: @color-A;
		@hero-active-fontcolor: #fff;
		@hero-active-backgroundcolor: @color-A;
		@hero-active-bordercolor: @color-A;
		@hero-hover-fontcolor: #fff;
		@hero-hover-backgroundcolor: @color-A;
		@hero-hover-bordercolor: @color-A;

		//////////////////////////////////////| NEUTRAL
		@neutral-fontcolor: #fff;
		@neutral-backgroundcolor: @color-A;
		@neutral-bordercolor: @color-A;
		@neutral-active-fontcolor: #fff;
		@neutral-active-backgroundcolor: @color-A;
		@neutral-active-bordercolor: @color-A;
		@neutral-hover-fontcolor: #fff;
		@neutral-hover-backgroundcolor: @color-A;
		@neutral-hover-bordercolor: @color-A;

		//////////////////////////////////////| FAINT
		@faint-fontcolor: #fff;
		@faint-backgroundcolor: @color-A;
		@faint-bordercolor: @color-A;
		@faint-active-fontcolor: #fff;
		@faint-active-backgroundcolor: @color-A;
		@faint-active-bordercolor: @color-A;
		@faint-hover-fontcolor: #fff;
		@faint-hover-backgroundcolor: @color-A;
		@faint-hover-bordercolor: @color-A;
	}
	.getBrand() when (@brand = STG) { //////////////////////////////////////| STG
		//////////////////////////////////////| PRIMARY
		@primary-fontcolor: #fff;
		@primary-backgroundcolor: @color-A;
		@primary-bordercolor: @color-A;
		@primary-active-fontcolor: #fff;
		@primary-active-backgroundcolor: @color-A;
		@primary-active-bordercolor: @color-A;
		@primary-hover-fontcolor: #fff;
		@primary-hover-backgroundcolor: @color-A;
		@primary-hover-bordercolor: @color-A;

		//////////////////////////////////////| HERO
		@hero-fontcolor: #fff;
		@hero-backgroundcolor: @color-A;
		@hero-bordercolor: @color-A;
		@hero-active-fontcolor: #fff;
		@hero-active-backgroundcolor: @color-A;
		@hero-active-bordercolor: @color-A;
		@hero-hover-fontcolor: #fff;
		@hero-hover-backgroundcolor: @color-A;
		@hero-hover-bordercolor: @color-A;

		//////////////////////////////////////| NEUTRAL
		@neutral-fontcolor: #fff;
		@neutral-backgroundcolor: @color-A;
		@neutral-bordercolor: @color-A;
		@neutral-active-fontcolor: #fff;
		@neutral-active-backgroundcolor: @color-A;
		@neutral-active-bordercolor: @color-A;
		@neutral-hover-fontcolor: #fff;
		@neutral-hover-backgroundcolor: @color-A;
		@neutral-hover-bordercolor: @color-A;

		//////////////////////////////////////| FAINT
		@faint-fontcolor: #fff;
		@faint-backgroundcolor: @color-A;
		@faint-bordercolor: @color-A;
		@faint-active-fontcolor: #fff;
		@faint-active-backgroundcolor: @color-A;
		@faint-active-bordercolor: @color-A;
		@faint-hover-fontcolor: #fff;
		@faint-hover-backgroundcolor: @color-A;
		@faint-hover-bordercolor: @color-A;
	}
	.getBrand() when (@brand = WBC) { //////////////////////////////////////| WBC
		//////////////////////////////////////| PRIMARY
		@primary-fontcolor: #fff;
		@primary-backgroundcolor: @color-A;
		@primary-bordercolor: @color-A;
		@primary-active-fontcolor: #fff;
		@primary-active-backgroundcolor: @color-A;
		@primary-active-bordercolor: @color-A;
		@primary-hover-fontcolor: #fff;
		@primary-hover-backgroundcolor: @color-A;
		@primary-hover-bordercolor: @color-A;

		//////////////////////////////////////| HERO
		@hero-fontcolor: #fff;
		@hero-backgroundcolor: @color-A;
		@hero-bordercolor: @color-A;
		@hero-active-fontcolor: #fff;
		@hero-active-backgroundcolor: @color-A;
		@hero-active-bordercolor: @color-A;
		@hero-hover-fontcolor: #fff;
		@hero-hover-backgroundcolor: @color-A;
		@hero-hover-bordercolor: @color-A;

		//////////////////////////////////////| NEUTRAL
		@neutral-fontcolor: #fff;
		@neutral-backgroundcolor: @color-A;
		@neutral-bordercolor: @color-A;
		@neutral-active-fontcolor: #fff;
		@neutral-active-backgroundcolor: @color-A;
		@neutral-active-bordercolor: @color-A;
		@neutral-hover-fontcolor: #fff;
		@neutral-hover-backgroundcolor: @color-A;
		@neutral-hover-bordercolor: @color-A;

		//////////////////////////////////////| FAINT
		@faint-fontcolor: #fff;
		@faint-backgroundcolor: @color-A;
		@faint-bordercolor: @color-A;
		@faint-active-fontcolor: #fff;
		@faint-active-backgroundcolor: @color-A;
		@faint-active-bordercolor: @color-A;
		@faint-hover-fontcolor: #fff;
		@faint-hover-backgroundcolor: @color-A;
		@faint-hover-bordercolor: @color-A;
	}
	.getBrand();



	.btn {
		padding: 6px 12px;
		border-radius: 6px;
		font-size: 16px;
		font-weight: 300;
		white-space: nowrap;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		border: 1px solid @faint-bordercolor;
		user-select: none;
		-webkit-appearance: none;
		overflow: hidden;

		.btn-text {
			vertical-align: middle;
			display: inline-block;
		}

		.btn-icon {
			display: inline-block;
			float: right;
			vertical-align: middle;
			margin-left: 24px;

			&.btn-icon-left {
				float: left;
				margin-left: 0;
				margin-right: 24px;
			}
		}

		&.btn-block {
			display: block;
			width: 100%;
		}


		.make-button(
			@faint-fontcolor,
			@faint-backgroundcolor,
			@faint-bordercolor,
			@faint-active-fontcolor,
			@faint-active-backgroundcolor,
			@faint-active-bordercolor,
			@faint-hover-fontcolor,
			@faint-hover-backgroundcolor,
			@faint-hover-bordercolor
		);

		&.btn-primary {
			.make-button(
				@primary-fontcolor,
				@primary-backgroundcolor,
				@primary-bordercolor,
				@primary-active-fontcolor,
				@primary-active-backgroundcolor,
				@primary-active-bordercolor,
				@primary-hover-fontcolor,
				@primary-hover-backgroundcolor,
				@primary-hover-bordercolor
			);
		}

		&.btn-hero {
			.make-button(
				@hero-fontcolor,
				@hero-backgroundcolor,
				@hero-bordercolor,
				@hero-active-fontcolor,
				@hero-active-backgroundcolor,
				@hero-active-bordercolor,
				@hero-hover-fontcolor,
				@hero-hover-backgroundcolor,
				@hero-hover-bordercolor
			);
		}

		&.btn-neutral {
			.make-button(
				@neutral-fontcolor,
				@neutral-backgroundcolor,
				@neutral-bordercolor,
				@neutral-active-fontcolor,
				@neutral-active-backgroundcolor,
				@neutral-active-bordercolor,
				@neutral-hover-fontcolor,
				@neutral-hover-backgroundcolor,
				@neutral-hover-bordercolor
			);
		}
	}

	.btn-block + .btn-block {
		margin-top: 6px;
	}
}



/*
 * MAKE BUTTONS
 *
 * create buttons for each version with active, hover and disabled styles
 */
.make-button(
	@fontcolor,
	@backgroundcolor,
	@bordercolor,
	@active-fontcolor,
	@active-backgroundcolor,
	@active-bordercolor,
	@hover-fontcolor,
	@hover-backgroundcolor,
	@hover-bordercolor
) {

	color: @fontcolor;
	border-color: @bordercolor;
	background-color: @backgroundcolor;

	&:active {
		color: @active-fontcolor;
		border-color: @active-bordercolor;
		background-color: @active-backgroundcolor;
	}

	&:hover {
		color: @active-fontcolor;
		border-color: @active-bordercolor;
		background-color: @active-backgroundcolor;
	}


	&.disabled,
	&:disabled {
		opacity: 0.65;

		&:active,
		&:hover {
			color: @fontcolor;
			border-color: @bordercolor;
			background-color: @backgroundcolor;
			cursor: not-allowed;
		}
	}
}