/*![Module-Version-Brand]*/
/*
 * range-sliders mixins
 *
 * doc comment with stuff and stuff
 *
 */


//////////////////////////////////////| range-sliders STYLES
._range-sliders( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		@test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		@test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		@test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		@test: 'WBC';
	}
	.getBrand();



	.range-slider {
		-webkit-appearance: none;
		-moz-appearance: none;
		background: none;
		padding: 6px 0;
		width: 100%;


		//////////////////////////////////////| track
		&::-webkit-slider-runnable-track {
			.track();
		}

		&::-ms-track {
			.track();
		}

		&::-moz-range-track {
			.track();
		}


		//////////////////////////////////////| thumb
		&::-webkit-slider-thumb {
			.thumb();
		}

		&::-ms-thumb {
			.thumb();
		}

		&::-moz-range-thumb {
			.thumb();
		}


		//////////////////////////////////////| focus
		&:focus {
			.outline();

			&::-webkit-slider-thumb {
				&:after {
					.bubble();
				}
			}

			&::-ms-thumb {
				&:after {
					.bubble();
				}
			}

			&::-moz-range-thumb {
				&:after {
					.bubble();
				}
			}
		}

		&:hover {
			outline: none;
		}
	}

}

.track() {
	height: 8px;
	background: #fff;
	border: 1px solid #fff;
	box-shadow: 0px 0px 0px 1px @color-Border;
	border-radius: 1000px;
}

.thumb() {
	-webkit-appearance: none;
	border: 0 none;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: #fff;
	margin-top: -14px;
	position: relative;
	border: 1px solid @color-B;
	box-shadow: 4px 4px 6px -4px rgba(0, 0, 0, 0.25);
}

.bubble() {
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 3px;
	padding: 5px 10px;
	border: 1px solid @color-B;
	content: " ";
	white-space: nowrap;
}