.icon-account { background-image: url('../img/icon-account.png'); background-repeat: no-repeat; }

.icon-bpay { background-image: url('../img/icon-bpay.png'); background-repeat: no-repeat; }

.icon-history-clock { background-image: url('../img/icon-history-clock.png'); background-repeat: no-repeat; }

.icon-move-from { background-image: url('../img/icon-move-from.png'); background-repeat: no-repeat; }

.icon-move-to { background-image: url('../img/icon-move-to.png'); background-repeat: no-repeat; }

.icon-transfer { background-image: url('../img/icon-transfer.png'); background-repeat: no-repeat; }

