.icon-dropbox { background-image: url('../img/icon-dropbox.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('../img/icon-facebook.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('../img/icon-github.png'); background-repeat: no-repeat; }

.icon-google-plus { background-image: url('../img/icon-google-plus.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('../img/icon-instagram.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('../img/icon-linkedin.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('../img/icon-rss.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('../img/icon-share.png'); background-repeat: no-repeat; }

.icon-slack { background-image: url('../img/icon-slack.png'); background-repeat: no-repeat; }

.icon-star1 { background-image: url('../img/icon-star1.png'); background-repeat: no-repeat; }

.icon-star2 { background-image: url('../img/icon-star2.png'); background-repeat: no-repeat; }

.icon-star3 { background-image: url('../img/icon-star3.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('../img/icon-twitter.png'); background-repeat: no-repeat; }

.icon-yammer { background-image: url('../img/icon-yammer.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('../img/icon-youtube.png'); background-repeat: no-repeat; }

