.icon-business-person { background-image: url('../img/icon-business-person.png'); background-repeat: no-repeat; }

.icon-eftpos { background-image: url('../img/icon-eftpos.png'); background-repeat: no-repeat; }

.icon-office { background-image: url('../img/icon-office.png'); background-repeat: no-repeat; }

.icon-shop { background-image: url('../img/icon-shop.png'); background-repeat: no-repeat; }

