.symbol-android { background-image: url('../img/android.png'); background-repeat: no-repeat; }

.symbol-apple { background-image: url('../img/apple.png'); background-repeat: no-repeat; }

.symbol-desktop { background-image: url('../img/desktop.png'); background-repeat: no-repeat; }

.symbol-phone { background-image: url('../img/phone.png'); background-repeat: no-repeat; }

.symbol-tablet { background-image: url('../img/tablet.png'); background-repeat: no-repeat; }

.symbol-windows-new { background-image: url('../img/windows-new.png'); background-repeat: no-repeat; }

