.symbol-add-account { background-image: url('../img/add-account.png'); background-repeat: no-repeat; }

.symbol-american-express { background-image: url('../img/american-express.png'); background-repeat: no-repeat; }

.symbol-logo-alt { background-image: url('../img/logo-alt.png'); background-repeat: no-repeat; }

.symbol-logo-phone { background-image: url('../img/logo-phone.png'); background-repeat: no-repeat; }

.symbol-logo-tablet { background-image: url('../img/logo-tablet.png'); background-repeat: no-repeat; }

.symbol-master-card { background-image: url('../img/master-card.png'); background-repeat: no-repeat; }

.symbol-store-apple { background-image: url('../img/store-apple.png'); background-repeat: no-repeat; }

.symbol-store-google { background-image: url('../img/store-google.png'); background-repeat: no-repeat; }

.symbol-store-windows { background-image: url('../img/store-windows.png'); background-repeat: no-repeat; }

.symbol-visa { background-image: url('../img/visa.png'); background-repeat: no-repeat; }

