.icon-atm,
.symbol-atm { background-image: url('../img/atm.png'); background-repeat: no-repeat; }

.icon-calculator,
.symbol-calculator { background-image: url('../img/calculator.png'); background-repeat: no-repeat; }

.icon-calendar,
.symbol-calendar { background-image: url('../img/calendar.png'); background-repeat: no-repeat; }

.icon-camera,
.symbol-camera { background-image: url('../img/camera.png'); background-repeat: no-repeat; }

.icon-message,
.symbol-message { background-image: url('../img/message.png'); background-repeat: no-repeat; }

.icon-mobile-pay,
.symbol-mobile-pay { background-image: url('../img/mobile-pay.png'); background-repeat: no-repeat; }

.icon-notification,
.symbol-notification { background-image: url('../img/notification.png'); background-repeat: no-repeat; }

.icon-paypass,
.symbol-paypass { background-image: url('../img/paypass.png'); background-repeat: no-repeat; }

.icon-quick-balance,
.symbol-quick-balance { background-image: url('../img/quick-balance.png'); background-repeat: no-repeat; }

.icon-service-bell,
.symbol-service-bell { background-image: url('../img/service-bell.png'); background-repeat: no-repeat; }

.icon-settings,
.symbol-settings { background-image: url('../img/settings.png'); background-repeat: no-repeat; }

.icon-shelf-menu,
.symbol-shelf-menu { background-image: url('../img/shelf-menu.png'); background-repeat: no-repeat; }

.icon-to-mobile,
.symbol-to-mobile { background-image: url('../img/to-mobile.png'); background-repeat: no-repeat; }

