.icon-bar-chart,
.symbol-bar-chart { background-image: url('../img/bar-chart.png'); background-repeat: no-repeat; }

.icon-invest,
.symbol-invest { background-image: url('../img/invest.png'); background-repeat: no-repeat; }

.icon-pie-chart,
.symbol-pie-chart { background-image: url('../img/pie-chart.png'); background-repeat: no-repeat; }

