/*!_colors v3.0.0*/
/*
	 *  SETTINGS
	 */
/*!_fonts v2.0.3*/
/*
	 *  SETTINGS
	 */
/*
	 *  SETTINGS
	 */
@font-face {
  font-family: 'dragonbold';
  src: url('../font/dragonbold-bold-webfont.eot');
  src: url('../font/dragonbold-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/dragonbold-bold-webfont.woff2') format('woff2'), url('../font/dragonbold-bold-webfont.woff') format('woff'), url('../font/dragonbold-bold-webfont.ttf') format('truetype'), url('../font/dragonbold-bold-webfont.svg#dragon_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.body-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.brand-font {
  font-weight: normal;
  font-family: "dragonbold";
}
/*!_grid v2.0.0*/
.clearfix:before,
.clearfix:after,
.container-fluid:before,
.container-fluid:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 744px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.row {
  margin-left: -6px;
  margin-right: -6px;
}
@media (min-width: 768px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.container {
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 768px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
/*!_text-styling v4.0.3*/
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
	 * 1. Change the default font family in all browsers (opinionated).
	 * 2. Correct the line height in all browsers.
	 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
	 */
/* Document
		 ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
		 ========================================================================== */
/**
	 * Remove the margin in all browsers (opinionated).
	 */
body {
  margin: 0;
}
/**
	 * Add the correct display in IE 9-.
	 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
	 * Correct the font size and margin on `h1` elements within `section` and
	 * `article` contexts in Chrome, Firefox, and Safari.
	 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 * 1. Add the correct display in IE.
	 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
	 * Add the correct margin in IE 8.
	 */
figure {
  margin: 1em 40px;
}
/**
	 * 1. Add the correct box sizing in Firefox.
	 * 2. Show the overflow in Edge and IE.
	 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
		 ========================================================================== */
/**
	 * 1. Remove the gray background on active links in IE 10.
	 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
	 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
	 * Remove the outline on focused links when they are also active or hovered
	 * in all browsers (opinionated).
	 */
a:active,
a:hover {
  outline-width: 0;
}
/**
	 * 1. Remove the bottom border in Firefox 39-.
	 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
	 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
	 */
b,
strong {
  font-weight: inherit;
}
/**
	 * Add the correct font weight in Chrome, Edge, and Safari.
	 */
b,
strong {
  font-weight: bolder;
}
/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
	 * Add the correct font style in Android 4.3-.
	 */
dfn {
  font-style: italic;
}
/**
	 * Add the correct background and color in IE 9-.
	 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
	 * Add the correct font size in all browsers.
	 */
small {
  font-size: 80%;
}
/**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 */
audio,
video {
  display: inline-block;
}
/**
	 * Add the correct display in iOS 4-7.
	 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
	 * Remove the border on images inside links in IE 10-.
	 */
img {
  border-style: none;
}
/**
	 * Hide the overflow in IE.
	 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
		 ========================================================================== */
/**
	 * 1. Change the font styles in all browsers (opinionated).
	 * 2. Remove the margin in Firefox and Safari.
	 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
	 * Show the overflow in IE.
	 * 1. Show the overflow in Edge.
	 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
	 * Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
	 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
	 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
	 *    controls in Android 4.
	 * 2. Correct the inability to style clickable types in iOS and Safari.
	 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
	 * Remove the inner border and padding in Firefox.
	 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
	 * Restore the focus styles unset by the previous rule.
	 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
	 * Change the border, margin, and padding in all browsers (opinionated).
	 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
	 * 1. Correct the text wrapping in Edge and IE.
	 * 2. Correct the color inheritance from `fieldset` elements in IE.
	 * 3. Remove the padding so developers are not caught out when they zero out
	 *    `fieldset` elements in all browsers.
	 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
	 * 1. Add the correct display in IE 9-.
	 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
	 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
	 * Remove the default vertical scrollbar in IE.
	 */
textarea {
  overflow: auto;
}
/**
	 * 1. Add the correct box sizing in IE 10-.
	 * 2. Remove the padding in IE 10-.
	 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
	 * Correct the cursor style of increment and decrement buttons in Chrome.
	 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
	 * 1. Correct the odd appearance in Chrome and Safari.
	 * 2. Correct the outline style in Safari.
	 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
	 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
	 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
	 * 1. Correct the inability to style clickable types in iOS and Safari.
	 * 2. Change font properties to `inherit` in Safari.
	 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
		 ========================================================================== */
/*
	 * Add the correct display in IE 9-.
	 * 1. Add the correct display in Edge, IE, and Firefox.
	 */
details,
menu {
  display: block;
}
/*
	 * Add the correct display in all browsers.
	 */
summary {
  display: list-item;
}
/* Scripting
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 */
canvas {
  display: inline-block;
}
/**
	 * Add the correct display in IE.
	 */
template {
  display: none;
}
/* Hidden
		 ========================================================================== */
/**
	 * Add the correct display in IE 10-.
	 */
[hidden] {
  display: none;
}
/*
	 *  SETTINGS
	 */
body {
  font-size: 0.875em;
  line-height: 1.42857143;
  color: #004833;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #004833;
  text-decoration: none;
}
address {
  font-style: normal;
}
blockquote {
  font-size: 16px;
  font-weight: 300;
}
button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
mark {
  background-color: #f9cccc;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #004833;
}
p {
  margin: 0.85714286em 0;
}
dl dt {
  font-weight: 700;
}
dl dd {
  margin: 0;
}
::-moz-selection {
  background-color: #f9cccc;
}
::selection {
  background-color: #f9cccc;
}
a {
  color: #e30000;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:focus {
  outline: none;
}
.is-keyboarduser a:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
label {
  display: inline-block;
  margin-bottom: 6px;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: #fff !important;
    box-shadow: none !important;
    border-color: #000 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding: 6px;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  p a {
    word-wrap: break-word;
  }
  select {
    background: #fff !important;
  }
  .container,
  .container-fluid {
    margin: auto;
    width: auto;
  }
}
/*!buttons v4.0.2 STG*/
/*
 * buttons mixins
 *
 */
/*
 * MAKE BUTTONS
 *
 * create buttons for each version with active, hover and disabled styles
 */
/*
 * BUTTONS SIZES
 *
 * Spit out the width, size and margin of a button for a specified size
 */
/*
 * BLOCK BUTTON
 *
 * Fit to parent container
 */
/*
	 *  SETTINGS
	 */
.btn {
  padding: 5px 12px;
  font-size: 16px;
  height: 36px;
  border-radius: 3px;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #d6d5d0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.btn > .icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  top: 3px;
}
.ie8 .btn > .icon {
  zoom: 0.75;
}
.btn > .icon {
  position: relative;
  vertical-align: top;
  display: inline-block;
  line-height: 1;
}
.btn,
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  outline: none;
}
.is-keyboarduser .btn:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.btn.disabled,
.btn:disabled {
  opacity: 0.5;
}
.btn.disabled:active,
.btn:disabled:active,
.btn.disabled:hover,
.btn:disabled:hover {
  cursor: not-allowed;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-icon + .btn-text,
.btn-text + .btn-icon,
.btn-dropdown > .btn:after {
  margin-left: 0.25em;
}
.btn-primary {
  color: #fff;
  border-color: #e30000;
  background-color: #e30000;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-primary:hover {
  color: #fff;
  border-color: #e30000;
  background-color: #eb4d4d;
}
.btn-primary:hover .icons-background {
  fill: #fff;
}
.btn-primary:active {
  color: #fff;
  border-color: #e30000;
  background-color: #f18080;
}
.btn-primary:active .icons-background {
  fill: #fff;
}
.btn-primary .icons-background {
  fill: #fff;
}
.btn-group .btn-group-input:checked + .btn-primary {
  color: #fff;
  border-color: #e30000;
  background-color: #e30000;
}
.btn-group .btn-group-input:checked + .btn-primary .icons-background {
  fill: #fff;
}
.btn-primary.disabled:active,
.btn-primary:disabled:active,
.btn-primary.disabled:hover,
.btn-primary:disabled:hover {
  color: #fff;
  border-color: #e30000;
  background-color: #e30000;
}
.btn-hero {
  color: #004833;
  border-color: #78be20;
  background-color: #78be20;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-hero:hover {
  color: #004833;
  border-color: #78be20;
  background-color: #a1d263;
}
.btn-hero:hover .icons-background {
  fill: #004833;
}
.btn-hero:active {
  color: #004833;
  border-color: #78be20;
  background-color: #bcdf90;
}
.btn-hero:active .icons-background {
  fill: #004833;
}
.btn-hero .icons-background {
  fill: #004833;
}
.btn-group .btn-group-input:checked + .btn-hero {
  color: #004833;
  border-color: #78be20;
  background-color: #78be20;
}
.btn-group .btn-group-input:checked + .btn-hero .icons-background {
  fill: #004833;
}
.btn-hero.disabled:active,
.btn-hero:disabled:active,
.btn-hero.disabled:hover,
.btn-hero:disabled:hover {
  color: #004833;
  border-color: #78be20;
  background-color: #78be20;
}
.btn-neutral {
  color: #fff;
  border-color: #757463;
  background-color: #757463;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-neutral:hover {
  color: #fff;
  border-color: #757463;
  background-color: #9e9e92;
}
.btn-neutral:hover .icons-background {
  fill: #fff;
}
.btn-neutral:active {
  color: #fff;
  border-color: #757463;
  background-color: #babab1;
}
.btn-neutral:active .icons-background {
  fill: #fff;
}
.btn-neutral .icons-background {
  fill: #fff;
}
.btn-group .btn-group-input:checked + .btn-neutral {
  color: #fff;
  border-color: #757463;
  background-color: #757463;
}
.btn-group .btn-group-input:checked + .btn-neutral .icons-background {
  fill: #fff;
}
.btn-neutral.disabled:active,
.btn-neutral:disabled:active,
.btn-neutral.disabled:hover,
.btn-neutral:disabled:hover {
  color: #fff;
  border-color: #757463;
  background-color: #757463;
}
.btn-faint {
  color: #757463;
  border-color: #d6d5d0;
  background-color: #f8f8f7;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-faint:hover {
  color: #757463;
  border-color: #d6d5d0;
  background-color: #fff;
}
.btn-faint:hover .icons-background {
  fill: #757463;
}
.btn-faint:active {
  color: #757463;
  border-color: #d6d5d0;
  background-color: #fff;
}
.btn-faint:active .icons-background {
  fill: #757463;
}
.btn-faint .icons-background {
  fill: #757463;
}
.btn-group .btn-group-input:checked + .btn-faint {
  color: #757463;
  border-color: #d6d5d0;
  background-color: #f8f8f7;
}
.btn-group .btn-group-input:checked + .btn-faint .icons-background {
  fill: #757463;
}
.btn-faint.disabled:active,
.btn-faint:disabled:active,
.btn-faint.disabled:hover,
.btn-faint:disabled:hover {
  color: #757463;
  border-color: #d6d5d0;
  background-color: #f8f8f7;
}
.btn-link {
  color: #e30000;
  border-color: transparent;
  background-color: transparent;
  transition: background 0.2s ease, color 0.2s ease;
  border-radius: 0;
}
.btn-link:hover {
  color: #e30000;
  border-color: transparent;
  background-color: transparent;
}
.btn-link:hover .icons-background {
  fill: #e30000;
}
.btn-link:active {
  color: #e30000;
  border-color: transparent;
  background-color: transparent;
}
.btn-link:active .icons-background {
  fill: #e30000;
}
.btn-link .icons-background {
  fill: #e30000;
}
.btn-group .btn-group-input:checked + .btn-link {
  color: #e30000;
  border-color: transparent;
  background-color: transparent;
}
.btn-group .btn-group-input:checked + .btn-link .icons-background {
  fill: #e30000;
}
.btn-link.disabled:active,
.btn-link:disabled:active,
.btn-link.disabled:hover,
.btn-link:disabled:hover {
  color: #e30000;
  border-color: transparent;
  background-color: transparent;
}
.btn-link:hover,
.btn-link:hover .btn-text {
  text-decoration: underline;
}
.btn-link:disabled:hover,
.btn-link:disabled:hover .btn-text {
  text-decoration: none;
}
.btn-soft,
.btn-group-item > .btn:not(:hover) {
  background-color: #fff;
  color: #004833;
}
.btn-soft .icons-background,
.btn-group-item > .btn:not(:hover) .icons-background {
  fill: #004833;
}
.btn-soft.btn-faint,
.btn-group-item > .btn.btn-faint {
  color: #757463;
}
.btn-soft.btn-faint:active,
.btn-group-item > .btn.btn-faint:active,
.btn-soft.btn-faint:hover,
.btn-group-item > .btn.btn-faint:hover {
  background-color: #f8f8f7;
}
.btn-soft.disabled:active,
.btn-group-item > .btn.disabled:active,
.btn-soft:disabled:active,
.btn-group-item > .btn:disabled:active,
.btn-soft.disabled:hover,
.btn-group-item > .btn.disabled:hover,
.btn-soft:disabled:hover,
.btn-group-item > .btn:disabled:hover {
  background-color: #fff;
  color: #004833;
}
.btn-block {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.btn-block .btn-icon,
.btn-block .btn-text {
  float: left;
}
.btn-block .btn-icon + .btn-text,
.btn-block .btn-text + .btn-icon {
  float: right;
}
.btn-small {
  padding: 3px 9px 4px;
  font-size: 14px;
  height: 30px;
}
.btn-small > .icon {
  font-size: 12px;
  width: 12px;
  height: 12px;
  top: 5px;
}
.ie8 .btn-small > .icon {
  zoom: 0.5;
}
.btn-large {
  padding: 8px 15px;
  font-size: 16px;
  height: 42px;
}
.btn-large > .icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  top: 0;
}
.ie8 .btn-large > .icon {
  zoom: 1;
}
.btn-xlarge {
  padding: 9px 18px 10px;
  font-size: 18px;
  height: 48px;
}
.btn-xlarge > .icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  top: 2px;
}
.ie8 .btn-xlarge > .icon {
  zoom: 1;
}
@media (min-width: 768px) {
  .btn-small-sm {
    padding: 3px 9px 4px;
    font-size: 14px;
    height: 30px;
  }
  .btn-small-sm > .icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
  .ie8 .btn-small-sm > .icon {
    zoom: 0.5;
  }
  .btn-medium-sm {
    padding: 5px 12px;
    font-size: 16px;
    height: 36px;
  }
  .btn-medium-sm > .icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .ie8 .btn-medium-sm > .icon {
    zoom: 0.75;
  }
  .btn-large-sm {
    padding: 8px 15px;
    font-size: 16px;
    height: 42px;
  }
  .btn-large-sm > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
  }
  .ie8 .btn-large-sm > .icon {
    zoom: 1;
  }
  .btn-xlarge-sm {
    padding: 9px 18px 10px;
    font-size: 18px;
    height: 48px;
  }
  .btn-xlarge-sm > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 2px;
  }
  .ie8 .btn-xlarge-sm > .icon {
    zoom: 1;
  }
  .btn-block-sm {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .btn-block-sm .btn-icon,
  .btn-block-sm .btn-text {
    float: left;
  }
  .btn-block-sm .btn-icon + .btn-text,
  .btn-block-sm .btn-text + .btn-icon {
    float: right;
  }
}
@media (min-width: 992px) {
  .btn-small-md {
    padding: 3px 9px 4px;
    font-size: 14px;
    height: 30px;
  }
  .btn-small-md > .icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
  .ie8 .btn-small-md > .icon {
    zoom: 0.5;
  }
  .btn-medium-md {
    padding: 5px 12px;
    font-size: 16px;
    height: 36px;
  }
  .btn-medium-md > .icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .ie8 .btn-medium-md > .icon {
    zoom: 0.75;
  }
  .btn-large-md {
    padding: 8px 15px;
    font-size: 16px;
    height: 42px;
  }
  .btn-large-md > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
  }
  .ie8 .btn-large-md > .icon {
    zoom: 1;
  }
  .btn-xlarge-md {
    padding: 9px 18px 10px;
    font-size: 18px;
    height: 48px;
  }
  .btn-xlarge-md > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 2px;
  }
  .ie8 .btn-xlarge-md > .icon {
    zoom: 1;
  }
  .btn-block-md {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .btn-block-md .btn-icon,
  .btn-block-md .btn-text {
    float: left;
  }
  .btn-block-md .btn-icon + .btn-text,
  .btn-block-md .btn-text + .btn-icon {
    float: right;
  }
}
@media (min-width: 1200px) {
  .btn-small-lg {
    padding: 3px 9px 4px;
    font-size: 14px;
    height: 30px;
  }
  .btn-small-lg > .icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
  .ie8 .btn-small-lg > .icon {
    zoom: 0.5;
  }
  .btn-medium-lg {
    padding: 5px 12px;
    font-size: 16px;
    height: 36px;
  }
  .btn-medium-lg > .icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .ie8 .btn-medium-lg > .icon {
    zoom: 0.75;
  }
  .btn-large-lg {
    padding: 8px 15px;
    font-size: 16px;
    height: 42px;
  }
  .btn-large-lg > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
  }
  .ie8 .btn-large-lg > .icon {
    zoom: 1;
  }
  .btn-xlarge-lg {
    padding: 9px 18px 10px;
    font-size: 18px;
    height: 48px;
  }
  .btn-xlarge-lg > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 2px;
  }
  .ie8 .btn-xlarge-lg > .icon {
    zoom: 1;
  }
  .btn-block-lg {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .btn-block-lg .btn-icon,
  .btn-block-lg .btn-text {
    float: left;
  }
  .btn-block-lg .btn-icon + .btn-text,
  .btn-block-lg .btn-text + .btn-icon {
    float: right;
  }
}
@media (max-width: 767px) {
  .btn-small-xs-only {
    padding: 3px 9px 4px;
    font-size: 14px;
    height: 30px;
  }
  .btn-small-xs-only > .icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
  .ie8 .btn-small-xs-only > .icon {
    zoom: 0.5;
  }
  .btn-medium-xs-only {
    padding: 5px 12px;
    font-size: 16px;
    height: 36px;
  }
  .btn-medium-xs-only > .icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .ie8 .btn-medium-xs-only > .icon {
    zoom: 0.75;
  }
  .btn-large-xs-only {
    padding: 8px 15px;
    font-size: 16px;
    height: 42px;
  }
  .btn-large-xs-only > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
  }
  .ie8 .btn-large-xs-only > .icon {
    zoom: 1;
  }
  .btn-xlarge-xs-only {
    padding: 9px 18px 10px;
    font-size: 18px;
    height: 48px;
  }
  .btn-xlarge-xs-only > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 2px;
  }
  .ie8 .btn-xlarge-xs-only > .icon {
    zoom: 1;
  }
  .btn-block-xs-only {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .btn-block-xs-only .btn-icon,
  .btn-block-xs-only .btn-text {
    float: left;
  }
  .btn-block-xs-only .btn-icon + .btn-text,
  .btn-block-xs-only .btn-text + .btn-icon {
    float: right;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .btn-small-sm-only {
    padding: 3px 9px 4px;
    font-size: 14px;
    height: 30px;
  }
  .btn-small-sm-only > .icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
  .ie8 .btn-small-sm-only > .icon {
    zoom: 0.5;
  }
  .btn-medium-sm-only {
    padding: 5px 12px;
    font-size: 16px;
    height: 36px;
  }
  .btn-medium-sm-only > .icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .ie8 .btn-medium-sm-only > .icon {
    zoom: 0.75;
  }
  .btn-large-sm-only {
    padding: 8px 15px;
    font-size: 16px;
    height: 42px;
  }
  .btn-large-sm-only > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
  }
  .ie8 .btn-large-sm-only > .icon {
    zoom: 1;
  }
  .btn-xlarge-sm-only {
    padding: 9px 18px 10px;
    font-size: 18px;
    height: 48px;
  }
  .btn-xlarge-sm-only > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 2px;
  }
  .ie8 .btn-xlarge-sm-only > .icon {
    zoom: 1;
  }
  .btn-block-sm-only {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .btn-block-sm-only .btn-icon,
  .btn-block-sm-only .btn-text {
    float: left;
  }
  .btn-block-sm-only .btn-icon + .btn-text,
  .btn-block-sm-only .btn-text + .btn-icon {
    float: right;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .btn-small-md-only {
    padding: 3px 9px 4px;
    font-size: 14px;
    height: 30px;
  }
  .btn-small-md-only > .icon {
    font-size: 12px;
    width: 12px;
    height: 12px;
    top: 5px;
  }
  .ie8 .btn-small-md-only > .icon {
    zoom: 0.5;
  }
  .btn-medium-md-only {
    padding: 5px 12px;
    font-size: 16px;
    height: 36px;
  }
  .btn-medium-md-only > .icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    top: 3px;
  }
  .ie8 .btn-medium-md-only > .icon {
    zoom: 0.75;
  }
  .btn-large-md-only {
    padding: 8px 15px;
    font-size: 16px;
    height: 42px;
  }
  .btn-large-md-only > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
  }
  .ie8 .btn-large-md-only > .icon {
    zoom: 1;
  }
  .btn-xlarge-md-only {
    padding: 9px 18px 10px;
    font-size: 18px;
    height: 48px;
  }
  .btn-xlarge-md-only > .icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    top: 2px;
  }
  .ie8 .btn-xlarge-md-only > .icon {
    zoom: 1;
  }
  .btn-block-md-only {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
  .btn-block-md-only .btn-icon,
  .btn-block-md-only .btn-text {
    float: left;
  }
  .btn-block-md-only .btn-icon + .btn-text,
  .btn-block-md-only .btn-text + .btn-icon {
    float: right;
  }
}
.btn-trim {
  padding-left: 0;
  padding-right: 0;
}
.btn-group {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  font-family: sans-serif;
}
.btn-group-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.btn-group-input:focus + .btn {
  outline: none;
  display: inline-block;
}
.is-keyboarduser .btn-group-input:focus + .btn {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.btn-group-input:hover + .btn {
  outline: none;
}
.btn-group-item {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0;
  vertical-align: middle;
}
.btn-group-item:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.btn-group-item:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ie8 .btn-group-item {
  display: inline;
}
.ie8 .btn-group-item .btn-group-input {
  position: static;
  vertical-align: middle;
}
.ie8 .btn-group-item > .btn {
  border: none;
  opacity: 1;
  background: none;
  padding: 0 12px 0 6px;
  height: auto;
  vertical-align: middle !important;
}
.ie8 .btn-group-item > .btn,
.ie8 .btn-group-item > .btn:hover {
  color: #004833;
}
.btn-group-wrapper {
  display: table;
  width: 100%;
  vertical-align: middle;
}
.btn-group-wrapper .btn-group-text,
.btn-group-wrapper .btn-group {
  display: table-cell;
}
.btn-group-wrapper .btn-group-text {
  padding-right: 12px;
  vertical-align: middle;
}
.btn-group-wrapper .btn-group {
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
}
.btn-group-block {
  display: table;
  width: 100%;
}
.btn-group-block .btn-group-item {
  display: table-cell;
  width: 1%;
}
.btn-group-block .btn-group-item > .btn {
  width: 100%;
  vertical-align: top;
}
.ie8 .btn-group-block .btn-group-item > .btn {
  width: auto;
}
.btn-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-dropdown > .btn {
  text-align: left;
}
.btn-dropdown > .btn:after {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  content: '';
  border-top: 8px solid;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  height: 0;
  width: 0;
  transition: border 0.2s ease;
  top: -1px;
}
.btn-dropdown.is-open > .btn:before {
  content: '';
  position: fixed;
  z-index: 110;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn-dropdown.is-open .dropdown-menu {
  display: block;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #d6d5d0;
  padding: 12px;
}
.btn-dropdown-block {
  display: block;
  width: 100%;
}
.btn-dropdown-block > .btn {
  display: block;
  width: 100%;
}
.btn-dropdown-block > .btn:after {
  float: right;
  height: 100%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  margin-top: -4px;
  top: 0;
}
.ie8 .btn-dropdown-block > .btn:after {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin-top: auto;
  top: 8px;
}
.dropdown-menu {
  min-width: 190px;
  background-color: #fff;
  border-radius: 3px;
  margin: 3px 0 12px 0;
}
.dropdown-menu:focus {
  outline: none;
}
.is-keyboarduser .dropdown-menu:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.js .dropdown-menu {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 115;
  left: 0;
  right: 0;
}
.dropdown-menu .dropdown-menu-headline {
  background-color: #f1f1ef;
  font-size: 12px;
  font-weight: 500;
  padding: 7px;
  margin: 24px -6px 18px -6px;
}
.dropdown-menu .dropdown-menu-headline:first-child {
  margin-top: -6px;
}
.dropdown-menu .checkbox,
.dropdown-menu .radio,
.dropdown-menu .switch {
  width: 100%;
  margin-right: 0;
  margin-bottom: 12px;
}
.dropdown-menu .checkbox-text,
.dropdown-menu .radio-text,
.dropdown-menu .switch-text {
  width: 100%;
}
.dropdown-menu .checkbox + .checkbox,
.dropdown-menu .radio + .checkbox,
.dropdown-menu .switch + .checkbox,
.dropdown-menu .checkbox + .radio,
.dropdown-menu .radio + .radio,
.dropdown-menu .switch + .radio,
.dropdown-menu .checkbox + .switch,
.dropdown-menu .radio + .switch,
.dropdown-menu .switch + .switch {
  margin-top: 12px;
}
.dropdown-menu .checkbox + .checkbox:before,
.dropdown-menu .radio + .checkbox:before,
.dropdown-menu .switch + .checkbox:before,
.dropdown-menu .checkbox + .radio:before,
.dropdown-menu .radio + .radio:before,
.dropdown-menu .switch + .radio:before,
.dropdown-menu .checkbox + .switch:before,
.dropdown-menu .radio + .switch:before,
.dropdown-menu .switch + .switch:before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  right: 0;
  border-top: 1px solid #d6d5d0;
}
.dropdown-menu .checkbox + .checkbox:last-child,
.dropdown-menu .radio + .checkbox:last-child,
.dropdown-menu .switch + .checkbox:last-child,
.dropdown-menu .checkbox + .radio:last-child,
.dropdown-menu .radio + .radio:last-child,
.dropdown-menu .switch + .radio:last-child,
.dropdown-menu .checkbox + .switch:last-child,
.dropdown-menu .radio + .switch:last-child,
.dropdown-menu .switch + .switch:last-child {
  margin-bottom: 0;
}
.dropdown-menu .lists-linklist a {
  display: block;
}
.dropdown-menu .btn-group-wrapper + .btn-group-wrapper {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #d6d5d0;
}
.dropdown-menu-small {
  min-width: 130px;
}
.dropdown-menu-large {
  min-width: 250px;
}
@media print {
  .btn .icons-background {
    fill: #000 !important;
  }
  .btn-dropdown > .btn:after {
    border-top-color: #000 !important;
  }
  .btn-group-input:checked + .btn {
    background-color: #000 !important;
    color: #fff !important;
  }
}
