.symbol-house-b { background-image: url('../img/house-b.png'); background-repeat: no-repeat; }

.symbol-people { background-image: url('../img/people.png'); background-repeat: no-repeat; }

.symbol-person { background-image: url('../img/person.png'); background-repeat: no-repeat; }

