.symbol-excel-file { background-image: url('../img/excel-file.png'); background-repeat: no-repeat; }

.symbol-generic-file { background-image: url('../img/generic-file.png'); background-repeat: no-repeat; }

.symbol-pdf-file { background-image: url('../img/pdf-file.png'); background-repeat: no-repeat; }

.symbol-word-file { background-image: url('../img/word-file.png'); background-repeat: no-repeat; }

.symbol-zip-file { background-image: url('../img/zip-file.png'); background-repeat: no-repeat; }

