/*![Module-Version-Brand]*/
/*
 * accessibility-helper mixins
 *
 * doc comment with stuff and stuff
 *
 */


//////////////////////////////////////| accessibility-helper STYLES
._accessibility-helper( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		@test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		@test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		@test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		@test: 'WBC';
	}
	.getBrand();



	.accessibility-helper {
		content: @test;
	}
}