.icon-atm { background-image: url('../img/icon-atm.png'); background-repeat: no-repeat; }

.icon-calculator { background-image: url('../img/icon-calculator.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('../img/icon-calendar.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('../img/icon-camera.png'); background-repeat: no-repeat; }

.icon-message { background-image: url('../img/icon-message.png'); background-repeat: no-repeat; }

.icon-mobile-pay { background-image: url('../img/icon-mobile-pay.png'); background-repeat: no-repeat; }

.icon-notification { background-image: url('../img/icon-notification.png'); background-repeat: no-repeat; }

.icon-paypass { background-image: url('../img/icon-paypass.png'); background-repeat: no-repeat; }

.icon-quick-balance { background-image: url('../img/icon-quick-balance.png'); background-repeat: no-repeat; }

.icon-service-bell { background-image: url('../img/icon-service-bell.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('../img/icon-settings.png'); background-repeat: no-repeat; }

.icon-shelf-menu { background-image: url('../img/icon-shelf-menu.png'); background-repeat: no-repeat; }

.icon-to-mobile { background-image: url('../img/icon-to-mobile.png'); background-repeat: no-repeat; }

