.icon-excel-file { background-image: url('../img/icon-excel-file.png'); background-repeat: no-repeat; }

.icon-generic-file { background-image: url('../img/icon-generic-file.png'); background-repeat: no-repeat; }

.icon-pdf-file { background-image: url('../img/icon-pdf-file.png'); background-repeat: no-repeat; }

.icon-word-file { background-image: url('../img/icon-word-file.png'); background-repeat: no-repeat; }

.icon-zip-file { background-image: url('../img/icon-zip-file.png'); background-repeat: no-repeat; }

