.icon-add-a { background-image: url('../img/icon-add-a.png'); background-repeat: no-repeat; }

.icon-add-b { background-image: url('../img/icon-add-b.png'); background-repeat: no-repeat; }

.icon-backspace { background-image: url('../img/icon-backspace.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('../img/icon-close.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('../img/icon-delete.png'); background-repeat: no-repeat; }

.icon-filter { background-image: url('../img/icon-filter.png'); background-repeat: no-repeat; }

.icon-pause { background-image: url('../img/icon-pause.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('../img/icon-play.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('../img/icon-remove.png'); background-repeat: no-repeat; }

