.icon-dropbox,
.symbol-dropbox { background-image: url('../img/dropbox.png'); background-repeat: no-repeat; }

.icon-facebook,
.symbol-facebook { background-image: url('../img/facebook.png'); background-repeat: no-repeat; }

.icon-github,
.symbol-github { background-image: url('../img/github.png'); background-repeat: no-repeat; }

.icon-google-plus,
.symbol-google-plus { background-image: url('../img/google-plus.png'); background-repeat: no-repeat; }

.icon-linkedin,
.symbol-linkedin { background-image: url('../img/linkedin.png'); background-repeat: no-repeat; }

.icon-rss,
.symbol-rss { background-image: url('../img/rss.png'); background-repeat: no-repeat; }

.icon-share,
.symbol-share { background-image: url('../img/share.png'); background-repeat: no-repeat; }

.icon-star1,
.symbol-star1 { background-image: url('../img/star1.png'); background-repeat: no-repeat; }

.icon-star2,
.symbol-star2 { background-image: url('../img/star2.png'); background-repeat: no-repeat; }

.icon-star3,
.symbol-star3 { background-image: url('../img/star3.png'); background-repeat: no-repeat; }

.icon-twitter,
.symbol-twitter { background-image: url('../img/twitter.png'); background-repeat: no-repeat; }

.icon-youtube,
.symbol-youtube { background-image: url('../img/youtube.png'); background-repeat: no-repeat; }

