.icon-accessibility { background-image: url('../img/icon-accessibility.png'); background-repeat: no-repeat; }

.icon-account { background-image: url('../img/icon-account.png'); background-repeat: no-repeat; }

.icon-add-circle { background-image: url('../img/icon-add-circle.png'); background-repeat: no-repeat; }

.icon-add { background-image: url('../img/icon-add.png'); background-repeat: no-repeat; }

.icon-alert { background-image: url('../img/icon-alert.png'); background-repeat: no-repeat; }

.icon-android { background-image: url('../img/icon-android.png'); background-repeat: no-repeat; }

.icon-apple { background-image: url('../img/icon-apple.png'); background-repeat: no-repeat; }

.icon-arrow-left { background-image: url('../img/icon-arrow-left.png'); background-repeat: no-repeat; }

.icon-arrow-right { background-image: url('../img/icon-arrow-right.png'); background-repeat: no-repeat; }

.icon-atm { background-image: url('../img/icon-atm.png'); background-repeat: no-repeat; }

.icon-australia { background-image: url('../img/icon-australia.png'); background-repeat: no-repeat; }

.icon-backspace { background-image: url('../img/icon-backspace.png'); background-repeat: no-repeat; }

.icon-bank { background-image: url('../img/icon-bank.png'); background-repeat: no-repeat; }

.icon-bar-chart { background-image: url('../img/icon-bar-chart.png'); background-repeat: no-repeat; }

.icon-book { background-image: url('../img/icon-book.png'); background-repeat: no-repeat; }

.icon-bpay { background-image: url('../img/icon-bpay.png'); background-repeat: no-repeat; }

.icon-business-person { background-image: url('../img/icon-business-person.png'); background-repeat: no-repeat; }

.icon-cafe { background-image: url('../img/icon-cafe.png'); background-repeat: no-repeat; }

.icon-calculator { background-image: url('../img/icon-calculator.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('../img/icon-calendar.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('../img/icon-camera.png'); background-repeat: no-repeat; }

.icon-car { background-image: url('../img/icon-car.png'); background-repeat: no-repeat; }

.icon-chat { background-image: url('../img/icon-chat.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('../img/icon-clock.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('../img/icon-close.png'); background-repeat: no-repeat; }

.icon-compass { background-image: url('../img/icon-compass.png'); background-repeat: no-repeat; }

.icon-contact { background-image: url('../img/icon-contact.png'); background-repeat: no-repeat; }

.icon-credit-card { background-image: url('../img/icon-credit-card.png'); background-repeat: no-repeat; }

.icon-cube { background-image: url('../img/icon-cube.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('../img/icon-delete.png'); background-repeat: no-repeat; }

.icon-desktop { background-image: url('../img/icon-desktop.png'); background-repeat: no-repeat; }

.icon-dollar { background-image: url('../img/icon-dollar.png'); background-repeat: no-repeat; }

.icon-download-file { background-image: url('../img/icon-download-file.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('../img/icon-download.png'); background-repeat: no-repeat; }

.icon-drag { background-image: url('../img/icon-drag.png'); background-repeat: no-repeat; }

.icon-drop-down { background-image: url('../img/icon-drop-down.png'); background-repeat: no-repeat; }

.icon-drop-up { background-image: url('../img/icon-drop-up.png'); background-repeat: no-repeat; }

.icon-dropbox { background-image: url('../img/icon-dropbox.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('../img/icon-edit.png'); background-repeat: no-repeat; }

.icon-eftpos { background-image: url('../img/icon-eftpos.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('../img/icon-email.png'); background-repeat: no-repeat; }

.icon-error { background-image: url('../img/icon-error.png'); background-repeat: no-repeat; }

.icon-excel-file { background-image: url('../img/icon-excel-file.png'); background-repeat: no-repeat; }

.icon-exit { background-image: url('../img/icon-exit.png'); background-repeat: no-repeat; }

.icon-expand-less { background-image: url('../img/icon-expand-less.png'); background-repeat: no-repeat; }

.icon-expand-more { background-image: url('../img/icon-expand-more.png'); background-repeat: no-repeat; }

.icon-face-happy { background-image: url('../img/icon-face-happy.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('../img/icon-facebook.png'); background-repeat: no-repeat; }

.icon-favourite { background-image: url('../img/icon-favourite.png'); background-repeat: no-repeat; }

.icon-filter { background-image: url('../img/icon-filter.png'); background-repeat: no-repeat; }

.icon-fingerprint { background-image: url('../img/icon-fingerprint.png'); background-repeat: no-repeat; }

.icon-future-clock { background-image: url('../img/icon-future-clock.png'); background-repeat: no-repeat; }

.icon-generic-file { background-image: url('../img/icon-generic-file.png'); background-repeat: no-repeat; }

.icon-geolocation { background-image: url('../img/icon-geolocation.png'); background-repeat: no-repeat; }

.icon-gift { background-image: url('../img/icon-gift.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('../img/icon-github.png'); background-repeat: no-repeat; }

.icon-global { background-image: url('../img/icon-global.png'); background-repeat: no-repeat; }

.icon-google-plus { background-image: url('../img/icon-google-plus.png'); background-repeat: no-repeat; }

.icon-grid { background-image: url('../img/icon-grid.png'); background-repeat: no-repeat; }

.icon-growth { background-image: url('../img/icon-growth.png'); background-repeat: no-repeat; }

.icon-hamburger-menu { background-image: url('../img/icon-hamburger-menu.png'); background-repeat: no-repeat; }

.icon-headset { background-image: url('../img/icon-headset.png'); background-repeat: no-repeat; }

.icon-help { background-image: url('../img/icon-help.png'); background-repeat: no-repeat; }

.icon-history-clock { background-image: url('../img/icon-history-clock.png'); background-repeat: no-repeat; }

.icon-house { background-image: url('../img/icon-house.png'); background-repeat: no-repeat; }

.icon-id-card { background-image: url('../img/icon-id-card.png'); background-repeat: no-repeat; }

.icon-image-square { background-image: url('../img/icon-image-square.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('../img/icon-info.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('../img/icon-instagram.png'); background-repeat: no-repeat; }

.icon-invest { background-image: url('../img/icon-invest.png'); background-repeat: no-repeat; }

.icon-key { background-image: url('../img/icon-key.png'); background-repeat: no-repeat; }

.icon-keyhole { background-image: url('../img/icon-keyhole.png'); background-repeat: no-repeat; }

.icon-light-bulb { background-image: url('../img/icon-light-bulb.png'); background-repeat: no-repeat; }

.icon-limit { background-image: url('../img/icon-limit.png'); background-repeat: no-repeat; }

.icon-link { background-image: url('../img/icon-link.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('../img/icon-linkedin.png'); background-repeat: no-repeat; }

.icon-list { background-image: url('../img/icon-list.png'); background-repeat: no-repeat; }

.icon-live-chat { background-image: url('../img/icon-live-chat.png'); background-repeat: no-repeat; }

.icon-map-pin { background-image: url('../img/icon-map-pin.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('../img/icon-map.png'); background-repeat: no-repeat; }

.icon-message { background-image: url('../img/icon-message.png'); background-repeat: no-repeat; }

.icon-mobile-pay { background-image: url('../img/icon-mobile-pay.png'); background-repeat: no-repeat; }

.icon-money-in { background-image: url('../img/icon-money-in.png'); background-repeat: no-repeat; }

.icon-money-out { background-image: url('../img/icon-money-out.png'); background-repeat: no-repeat; }

.icon-more-horiz { background-image: url('../img/icon-more-horiz.png'); background-repeat: no-repeat; }

.icon-more-vert { background-image: url('../img/icon-more-vert.png'); background-repeat: no-repeat; }

.icon-move-from { background-image: url('../img/icon-move-from.png'); background-repeat: no-repeat; }

.icon-move-to { background-image: url('../img/icon-move-to.png'); background-repeat: no-repeat; }

.icon-new-content { background-image: url('../img/icon-new-content.png'); background-repeat: no-repeat; }

.icon-new-window { background-image: url('../img/icon-new-window.png'); background-repeat: no-repeat; }

.icon-notification-active { background-image: url('../img/icon-notification-active.png'); background-repeat: no-repeat; }

.icon-notification-off { background-image: url('../img/icon-notification-off.png'); background-repeat: no-repeat; }

.icon-notification { background-image: url('../img/icon-notification.png'); background-repeat: no-repeat; }

.icon-office { background-image: url('../img/icon-office.png'); background-repeat: no-repeat; }

.icon-open-browser { background-image: url('../img/icon-open-browser.png'); background-repeat: no-repeat; }

.icon-padlock-open { background-image: url('../img/icon-padlock-open.png'); background-repeat: no-repeat; }

.icon-padlock { background-image: url('../img/icon-padlock.png'); background-repeat: no-repeat; }

.icon-pause-circle { background-image: url('../img/icon-pause-circle.png'); background-repeat: no-repeat; }

.icon-pause { background-image: url('../img/icon-pause.png'); background-repeat: no-repeat; }

.icon-pay-to-mobile { background-image: url('../img/icon-pay-to-mobile.png'); background-repeat: no-repeat; }

.icon-pay { background-image: url('../img/icon-pay.png'); background-repeat: no-repeat; }

.icon-paypass { background-image: url('../img/icon-paypass.png'); background-repeat: no-repeat; }

.icon-pdf-file { background-image: url('../img/icon-pdf-file.png'); background-repeat: no-repeat; }

.icon-pending { background-image: url('../img/icon-pending.png'); background-repeat: no-repeat; }

.icon-people { background-image: url('../img/icon-people.png'); background-repeat: no-repeat; }

.icon-percent { background-image: url('../img/icon-percent.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('../img/icon-person.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('../img/icon-phone.png'); background-repeat: no-repeat; }

.icon-pie-chart { background-image: url('../img/icon-pie-chart.png'); background-repeat: no-repeat; }

.icon-plane { background-image: url('../img/icon-plane.png'); background-repeat: no-repeat; }

.icon-play-circle { background-image: url('../img/icon-play-circle.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('../img/icon-play.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('../img/icon-print.png'); background-repeat: no-repeat; }

.icon-progress { background-image: url('../img/icon-progress.png'); background-repeat: no-repeat; }

.icon-quick-balance { background-image: url('../img/icon-quick-balance.png'); background-repeat: no-repeat; }

.icon-receipt { background-image: url('../img/icon-receipt.png'); background-repeat: no-repeat; }

.icon-refresh { background-image: url('../img/icon-refresh.png'); background-repeat: no-repeat; }

.icon-remove-circle { background-image: url('../img/icon-remove-circle.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('../img/icon-remove.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('../img/icon-rss.png'); background-repeat: no-repeat; }

.icon-sd-storage { background-image: url('../img/icon-sd-storage.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('../img/icon-search.png'); background-repeat: no-repeat; }

.icon-security { background-image: url('../img/icon-security.png'); background-repeat: no-repeat; }

.icon-service-bell { background-image: url('../img/icon-service-bell.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('../img/icon-settings.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('../img/icon-share.png'); background-repeat: no-repeat; }

.icon-shop { background-image: url('../img/icon-shop.png'); background-repeat: no-repeat; }

.icon-sim-card { background-image: url('../img/icon-sim-card.png'); background-repeat: no-repeat; }

.icon-slack { background-image: url('../img/icon-slack.png'); background-repeat: no-repeat; }

.icon-sms { background-image: url('../img/icon-sms.png'); background-repeat: no-repeat; }

.icon-star1 { background-image: url('../img/icon-star1.png'); background-repeat: no-repeat; }

.icon-star2 { background-image: url('../img/icon-star2.png'); background-repeat: no-repeat; }

.icon-star3 { background-image: url('../img/icon-star3.png'); background-repeat: no-repeat; }

.icon-stopwatch { background-image: url('../img/icon-stopwatch.png'); background-repeat: no-repeat; }

.icon-super { background-image: url('../img/icon-super.png'); background-repeat: no-repeat; }

.icon-switch { background-image: url('../img/icon-switch.png'); background-repeat: no-repeat; }

.icon-tablet { background-image: url('../img/icon-tablet.png'); background-repeat: no-repeat; }

.icon-take-out { background-image: url('../img/icon-take-out.png'); background-repeat: no-repeat; }

.icon-telephone { background-image: url('../img/icon-telephone.png'); background-repeat: no-repeat; }

.icon-thumb-down { background-image: url('../img/icon-thumb-down.png'); background-repeat: no-repeat; }

.icon-thumb-up { background-image: url('../img/icon-thumb-up.png'); background-repeat: no-repeat; }

.icon-tick { background-image: url('../img/icon-tick.png'); background-repeat: no-repeat; }

.icon-transfer { background-image: url('../img/icon-transfer.png'); background-repeat: no-repeat; }

.icon-transport { background-image: url('../img/icon-transport.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('../img/icon-twitter.png'); background-repeat: no-repeat; }

.icon-umbrella { background-image: url('../img/icon-umbrella.png'); background-repeat: no-repeat; }

.icon-upload { background-image: url('../img/icon-upload.png'); background-repeat: no-repeat; }

.icon-verified { background-image: url('../img/icon-verified.png'); background-repeat: no-repeat; }

.icon-video { background-image: url('../img/icon-video.png'); background-repeat: no-repeat; }

.icon-voice { background-image: url('../img/icon-voice.png'); background-repeat: no-repeat; }

.icon-walk { background-image: url('../img/icon-walk.png'); background-repeat: no-repeat; }

.icon-wallet { background-image: url('../img/icon-wallet.png'); background-repeat: no-repeat; }

.icon-watch { background-image: url('../img/icon-watch.png'); background-repeat: no-repeat; }

.icon-wearable { background-image: url('../img/icon-wearable.png'); background-repeat: no-repeat; }

.icon-wheelchair { background-image: url('../img/icon-wheelchair.png'); background-repeat: no-repeat; }

.icon-windows-new { background-image: url('../img/icon-windows-new.png'); background-repeat: no-repeat; }

.icon-word-file { background-image: url('../img/icon-word-file.png'); background-repeat: no-repeat; }

.icon-write { background-image: url('../img/icon-write.png'); background-repeat: no-repeat; }

.icon-yammer { background-image: url('../img/icon-yammer.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('../img/icon-youtube.png'); background-repeat: no-repeat; }

.icon-zip-file { background-image: url('../img/icon-zip-file.png'); background-repeat: no-repeat; }

