.logo-bom-shield { background-image: url('../img/logo-bom-shield.png'); background-repeat: no-repeat; }

.logo-bom { background-image: url('../img/logo-bom.png'); background-repeat: no-repeat; }

.logo-bsa-stacked { background-image: url('../img/logo-bsa-stacked.png'); background-repeat: no-repeat; }

.logo-bsa { background-image: url('../img/logo-bsa.png'); background-repeat: no-repeat; }

.logo-bt-stacked { background-image: url('../img/logo-bt-stacked.png'); background-repeat: no-repeat; }

.logo-bt { background-image: url('../img/logo-bt.png'); background-repeat: no-repeat; }

.logo-multibrand-large { background-image: url('../img/logo-multibrand-large.png'); background-repeat: no-repeat; }

.logo-multibrand-small-center { background-image: url('../img/logo-multibrand-small-center.png'); background-repeat: no-repeat; }

.logo-multibrand-small-right { background-image: url('../img/logo-multibrand-small-right.png'); background-repeat: no-repeat; }

.logo-multibrand-small { background-image: url('../img/logo-multibrand-small.png'); background-repeat: no-repeat; }

.logo-red-avatar-circle-reversed { background-image: url('../img/logo-red-avatar-circle-reversed.png'); background-repeat: no-repeat; }

.logo-red-avatar-circle { background-image: url('../img/logo-red-avatar-circle.png'); background-repeat: no-repeat; }

.logo-red-avatar { background-image: url('../img/logo-red-avatar.png'); background-repeat: no-repeat; }

.logo-stg-dragon { background-image: url('../img/logo-stg-dragon.png'); background-repeat: no-repeat; }

.logo-stg { background-image: url('../img/logo-stg.png'); background-repeat: no-repeat; }

.logo-wbc-live { background-image: url('../img/logo-wbc-live.png'); background-repeat: no-repeat; }

.logo-wbc { background-image: url('../img/logo-wbc.png'); background-repeat: no-repeat; }

.logo-wbg { background-image: url('../img/logo-wbg.png'); background-repeat: no-repeat; }

