.icon-credit-card { background-image: url('../img/icon-credit-card.png'); background-repeat: no-repeat; }

.icon-dollar { background-image: url('../img/icon-dollar.png'); background-repeat: no-repeat; }

.icon-growth { background-image: url('../img/icon-growth.png'); background-repeat: no-repeat; }

.icon-limit { background-image: url('../img/icon-limit.png'); background-repeat: no-repeat; }

.icon-money-in { background-image: url('../img/icon-money-in.png'); background-repeat: no-repeat; }

.icon-money-out { background-image: url('../img/icon-money-out.png'); background-repeat: no-repeat; }

.icon-percent { background-image: url('../img/icon-percent.png'); background-repeat: no-repeat; }

.icon-super { background-image: url('../img/icon-super.png'); background-repeat: no-repeat; }

.icon-switch { background-image: url('../img/icon-switch.png'); background-repeat: no-repeat; }

