.icon-alert,
.symbol-alert { background-image: url('../img/alert.png'); background-repeat: no-repeat; }

.icon-help,
.symbol-help { background-image: url('../img/help.png'); background-repeat: no-repeat; }

.icon-info,
.symbol-info { background-image: url('../img/info.png'); background-repeat: no-repeat; }

