/*! _colors v2.0.2 */
/*
	 *  SETTINGS
	 */
/*! _fonts v2.0.2 */
/*
	 *  SETTINGS
	 */
/*
	 *  SETTINGS
	 */
.body-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.brand-font {
  font-family: "Times New Roman", "Times", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/*! _grid v2.0.0 */
.clearfix:before,
.clearfix:after,
.container-fluid:before,
.container-fluid:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 744px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.row {
  margin-left: -6px;
  margin-right: -6px;
}
@media (min-width: 768px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.container {
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 768px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
/*!_text-styling v4.0.0*/
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
	 * 1. Change the default font family in all browsers (opinionated).
	 * 2. Correct the line height in all browsers.
	 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
	 */
/* Document
		 ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}
/* Sections
		 ========================================================================== */
/**
	 * Remove the margin in all browsers (opinionated).
	 */
body {
  margin: 0;
}
/**
	 * Add the correct display in IE 9-.
	 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
	 * Correct the font size and margin on `h1` elements within `section` and
	 * `article` contexts in Chrome, Firefox, and Safari.
	 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 * 1. Add the correct display in IE.
	 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
	 * Add the correct margin in IE 8.
	 */
figure {
  margin: 1em 40px;
}
/**
	 * 1. Add the correct box sizing in Firefox.
	 * 2. Show the overflow in Edge and IE.
	 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
		 ========================================================================== */
/**
	 * 1. Remove the gray background on active links in IE 10.
	 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
	 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
	 * Remove the outline on focused links when they are also active or hovered
	 * in all browsers (opinionated).
	 */
a:active,
a:hover {
  outline-width: 0;
}
/**
	 * 1. Remove the bottom border in Firefox 39-.
	 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
	 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
	 */
b,
strong {
  font-weight: inherit;
}
/**
	 * Add the correct font weight in Chrome, Edge, and Safari.
	 */
b,
strong {
  font-weight: bolder;
}
/**
	 * 1. Correct the inheritance and scaling of font size in all browsers.
	 * 2. Correct the odd `em` font sizing in all browsers.
	 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
	 * Add the correct font style in Android 4.3-.
	 */
dfn {
  font-style: italic;
}
/**
	 * Add the correct background and color in IE 9-.
	 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
	 * Add the correct font size in all browsers.
	 */
small {
  font-size: 80%;
}
/**
	 * Prevent `sub` and `sup` elements from affecting the line height in
	 * all browsers.
	 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 */
audio,
video {
  display: inline-block;
}
/**
	 * Add the correct display in iOS 4-7.
	 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
	 * Remove the border on images inside links in IE 10-.
	 */
img {
  border-style: none;
}
/**
	 * Hide the overflow in IE.
	 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
		 ========================================================================== */
/**
	 * 1. Change the font styles in all browsers (opinionated).
	 * 2. Remove the margin in Firefox and Safari.
	 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
	 * Show the overflow in IE.
	 * 1. Show the overflow in Edge.
	 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
	 * Remove the inheritance of text transform in Edge, Firefox, and IE.
	 * 1. Remove the inheritance of text transform in Firefox.
	 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
	 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
	 *    controls in Android 4.
	 * 2. Correct the inability to style clickable types in iOS and Safari.
	 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
	 * Remove the inner border and padding in Firefox.
	 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
	 * Restore the focus styles unset by the previous rule.
	 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
	 * Change the border, margin, and padding in all browsers (opinionated).
	 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
	 * 1. Correct the text wrapping in Edge and IE.
	 * 2. Correct the color inheritance from `fieldset` elements in IE.
	 * 3. Remove the padding so developers are not caught out when they zero out
	 *    `fieldset` elements in all browsers.
	 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
	 * 1. Add the correct display in IE 9-.
	 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
	 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
	 * Remove the default vertical scrollbar in IE.
	 */
textarea {
  overflow: auto;
}
/**
	 * 1. Add the correct box sizing in IE 10-.
	 * 2. Remove the padding in IE 10-.
	 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
	 * Correct the cursor style of increment and decrement buttons in Chrome.
	 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
	 * 1. Correct the odd appearance in Chrome and Safari.
	 * 2. Correct the outline style in Safari.
	 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
	 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
	 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
	 * 1. Correct the inability to style clickable types in iOS and Safari.
	 * 2. Change font properties to `inherit` in Safari.
	 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
		 ========================================================================== */
/*
	 * Add the correct display in IE 9-.
	 * 1. Add the correct display in Edge, IE, and Firefox.
	 */
details,
menu {
  display: block;
}
/*
	 * Add the correct display in all browsers.
	 */
summary {
  display: list-item;
}
/* Scripting
		 ========================================================================== */
/**
	 * Add the correct display in IE 9-.
	 */
canvas {
  display: inline-block;
}
/**
	 * Add the correct display in IE.
	 */
template {
  display: none;
}
/* Hidden
		 ========================================================================== */
/**
	 * Add the correct display in IE 10-.
	 */
[hidden] {
  display: none;
}
/*
	 *  SETTINGS
	 */
body {
  font-size: 0.875em;
  line-height: 1.428571429;
  color: #000;
  background-color: #f3f5f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #000;
  text-decoration: none;
}
address {
  font-style: normal;
}
blockquote {
  font-size: 16px;
  font-weight: 300;
}
mark {
  background-color: #f7ccd5;
}
p {
  margin: 0.8571428572em 0;
}
dl dt {
  font-weight: 700;
}
dl dd {
  margin: 0;
}
::-moz-selection {
  background-color: #f7ccd5;
}
::selection {
  background-color: #f7ccd5;
}
a {
  color: #d5002b;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #d5002b;
  text-decoration: underline;
}
a:focus {
  outline: none;
  color: #d5002b;
}
.is-keyboarduser a:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.is-keyboarduser a:focus {
  background-color: #fff;
}
a:hover {
  outline: none;
  background-color: transparent;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: #fff !important;
    box-shadow: none !important;
    border-color: #000 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding: 6px;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  p a {
    word-wrap: break-word;
  }
  select {
    background: #fff !important;
  }
  .container,
  .container-fluid {
    margin: auto;
    width: auto;
  }
}
/*!buttons v3.0.2 WBG*/
/*
 * buttons mixins
 *
 */
/*
 * MAKE BUTTONS
 *
 * create buttons for each version with active, hover and disabled styles
 */
/*
 * BUTTONS SIZES
 *
 * Spit out the width, size and margin of a button for a spesified size
 */
/*
	 *  SETTINGS
	 */
.btn {
  padding: 7px 12px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #cfd8dc;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 36px;
  text-decoration: none;
  color: #5b6871;
  border-color: #cfd8dc;
  background-color: #f3f5f6;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn .btn-text {
  vertical-align: top;
  display: inline-block;
  line-height: 0;
  margin-top: 10px;
}
.btn .btn-icon {
  display: inline-block;
  vertical-align: top;
  margin-left: 12px;
  margin-top: 3px;
}
.btn .btn-icon.btn-icon-left {
  margin-left: 0;
  margin-right: 3px;
}
.btn .btn-icon.icon-size-md,
.btn .btn-icon.icon-size-lg {
  width: 16px;
  height: 16px;
}
.btn .btn-icon.icon-size-md svg,
.btn .btn-icon.icon-size-lg svg {
  width: 16px;
  height: 16px;
}
.btn.btn-link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline;
  background: transparent;
  border-radius: 0;
  border: 0 none;
  color: #d5002b;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.428571429;
  font-weight: 400;
  height: auto;
  text-decoration: none;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.btn.btn-link .btn-text {
  text-decoration: underline;
  margin-top: 0;
  line-height: 1.428571429;
  display: inline;
}
.btn.btn-link .btn-icon {
  margin-left: 3px;
}
.btn.btn-link .btn-icon.btn-icon-left {
  margin-left: 0;
  margin-right: 3px;
}
p > .btn.btn-link {
  vertical-align: top;
}
.btn.btn-link.btn-xl,
.btn.btn-link.btn-lg,
.btn.btn-link.btn-sm {
  padding: 0;
  height: auto;
}
.btn.btn-link:focus,
.btn.btn-link:hover {
  background: transparent;
  text-decoration: none;
  color: #d5002b;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-xl,
.btn.btn-xl-xs {
  font-size: 18px;
  padding: 13px 14px 14px 14px;
  line-height: 1.11111111;
  height: 48px;
}
button.btn.btn-xl,
button.btn.btn-xl-xs,
a.btn.btn-xl,
a.btn.btn-xl-xs {
  padding-top: 13px;
}
.btn.btn-xl .btn-text,
.btn.btn-xl-xs .btn-text {
  margin-top: 10px;
}
.btn.btn-xl .btn-icon.icon-size-md,
.btn.btn-xl-xs .btn-icon.icon-size-md,
.btn.btn-xl .btn-icon.icon-size-lg,
.btn.btn-xl-xs .btn-icon.icon-size-lg {
  width: 32px;
  height: 32px;
  margin-top: -6px;
  vertical-align: top;
}
.btn.btn-xl .btn-icon.icon-size-md svg,
.btn.btn-xl-xs .btn-icon.icon-size-md svg,
.btn.btn-xl .btn-icon.icon-size-lg svg,
.btn.btn-xl-xs .btn-icon.icon-size-lg svg {
  width: 32px;
  height: 32px;
}
.btn.btn-lg,
.btn.btn-lg-xs {
  padding: 10px 14px 9px 14px;
  line-height: 1.33;
  height: 42px;
}
button.btn.btn-lg,
button.btn.btn-lg-xs,
a.btn.btn-lg,
a.btn.btn-lg-xs {
  padding-top: 10px;
}
.btn.btn-lg .btn-text,
.btn.btn-lg-xs .btn-text {
  margin-top: 10px;
}
.btn.btn-sm,
.btn.btn-sm-xs {
  padding: 3px 10px 3px 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  height: 30px;
}
button.btn.btn-sm,
button.btn.btn-sm-xs {
  padding-top: 2px;
}
a.btn.btn-sm,
a.btn.btn-sm-xs {
  padding-top: 3px;
}
.btn.btn-sm .btn-text,
.btn.btn-sm-xs .btn-text {
  margin-top: 11px;
}
@media (min-width: 768px) {
  .btn.btn-sm-sm {
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    height: 30px;
  }
  button.btn.btn-sm-sm {
    padding-top: 2px;
  }
  a.btn.btn-sm-sm {
    padding-top: 3px;
  }
  .btn.btn-sm-sm .btn-text {
    margin-top: 11px;
  }
  .btn.btn-md-sm {
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #cfd8dc;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
  }
  button.btn.btn-md-sm,
  a.btn.btn-md-sm {
    padding-top: 7px;
  }
  .btn.btn-md-sm .btn-text {
    vertical-align: top;
    display: inline-block;
    line-height: 0;
    margin-top: 10px;
  }
  .btn.btn-lg-sm {
    padding: 10px 14px 9px 14px;
    line-height: 1.33;
    height: 42px;
  }
  button.btn.btn-lg-sm,
  a.btn.btn-lg-sm {
    padding-top: 10px;
  }
  .btn.btn-lg-sm .btn-text {
    margin-top: 10px;
  }
  .btn.btn-xl-sm {
    font-size: 18px;
    padding: 13px 14px 14px 14px;
    line-height: 1.11111111;
    height: 48px;
  }
  button.btn.btn-xl-sm,
  a.btn.btn-xl-sm {
    padding-top: 13px;
  }
  .btn.btn-xl-sm .btn-text {
    margin-top: 10px;
  }
  .btn.btn-xl-sm .btn-icon.icon-size-md,
  .btn.btn-xl-sm .btn-icon.icon-size-lg {
    width: 32px;
    height: 32px;
    margin-top: -6px;
    vertical-align: top;
  }
  .btn.btn-xl-sm .btn-icon.icon-size-md svg,
  .btn.btn-xl-sm .btn-icon.icon-size-lg svg {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 992px) {
  .btn.btn-sm-md {
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    height: 30px;
  }
  button.btn.btn-sm-md {
    padding-top: 2px;
  }
  a.btn.btn-sm-md {
    padding-top: 3px;
  }
  .btn.btn-sm-md .btn-text {
    margin-top: 11px;
  }
  .btn.btn-md-md {
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #cfd8dc;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
  }
  button.btn.btn-md-md,
  a.btn.btn-md-md {
    padding-top: 7px;
  }
  .btn.btn-md-md .btn-text {
    vertical-align: top;
    display: inline-block;
    line-height: 0;
    margin-top: 10px;
  }
  .btn.btn-lg-md {
    padding: 10px 14px 9px 14px;
    line-height: 1.33;
    height: 42px;
  }
  button.btn.btn-lg-md,
  a.btn.btn-lg-md {
    padding-top: 10px;
  }
  .btn.btn-lg-md .btn-text {
    margin-top: 10px;
  }
  .btn.btn-xl-md {
    font-size: 18px;
    padding: 13px 14px 14px 14px;
    line-height: 1.11111111;
    height: 48px;
  }
  button.btn.btn-xl-md,
  a.btn.btn-xl-md {
    padding-top: 13px;
  }
  .btn.btn-xl-md .btn-text {
    margin-top: 10px;
  }
  .btn.btn-xl-md .btn-icon.icon-size-md,
  .btn.btn-xl-md .btn-icon.icon-size-lg {
    width: 32px;
    height: 32px;
    margin-top: -6px;
    vertical-align: top;
  }
  .btn.btn-xl-md .btn-icon.icon-size-md svg,
  .btn.btn-xl-md .btn-icon.icon-size-lg svg {
    width: 32px;
    height: 32px;
  }
}
@media (min-width: 1200px) {
  .btn.btn-sm-lg {
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    height: 30px;
  }
  button.btn.btn-sm-lg {
    padding-top: 2px;
  }
  a.btn.btn-sm-lg {
    padding-top: 3px;
  }
  .btn.btn-sm-lg .btn-text {
    margin-top: 11px;
  }
  .btn.btn-md-lg {
    padding: 7px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #cfd8dc;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 36px;
  }
  button.btn.btn-md-lg,
  a.btn.btn-md-lg {
    padding-top: 7px;
  }
  .btn.btn-md-lg .btn-text {
    vertical-align: top;
    display: inline-block;
    line-height: 0;
    margin-top: 10px;
  }
  .btn.btn-lg-lg {
    padding: 10px 14px 9px 14px;
    line-height: 1.33;
    height: 42px;
  }
  button.btn.btn-lg-lg,
  a.btn.btn-lg-lg {
    padding-top: 10px;
  }
  .btn.btn-lg-lg .btn-text {
    margin-top: 10px;
  }
  .btn.btn-xl-lg {
    font-size: 18px;
    padding: 13px 14px 14px 14px;
    line-height: 1.11111111;
    height: 48px;
  }
  button.btn.btn-xl-lg,
  a.btn.btn-xl-lg {
    padding-top: 13px;
  }
  .btn.btn-xl-lg .btn-text {
    margin-top: 10px;
  }
  .btn.btn-xl-lg .btn-icon.icon-size-md,
  .btn.btn-xl-lg .btn-icon.icon-size-lg {
    width: 32px;
    height: 32px;
    margin-top: -6px;
    vertical-align: top;
  }
  .btn.btn-xl-lg .btn-icon.icon-size-md svg,
  .btn.btn-xl-lg .btn-icon.icon-size-lg svg {
    width: 32px;
    height: 32px;
  }
}
.btn-group-input:checked + .btn {
  color: #5b6871;
  border-color: #cfd8dc;
  background-color: #f3f5f6;
}
.btn-group-input:checked + .btn .icons-background {
  fill: #5b6871;
}
.btn svg,
.btn .icons-background {
  fill: #5b6871;
}
.btn:hover {
  color: #5b6871;
  border-color: #cfd8dc;
  background-color: #fff;
  text-decoration: none;
}
.btn-dropdown > .btn:hover .btn-dropdown-caret:after {
  border-top-color: #5b6871;
}
.btn:hover svg,
.btn:hover .icons-background {
  fill: #5b6871;
}
.btn:focus,
.btn:active {
  color: #5b6871;
  border-color: #cfd8dc;
  background-color: #fff;
  text-decoration: none;
}
.btn:focus svg,
.btn:active svg,
.btn:focus .icons-background,
.btn:active .icons-background {
  fill: #5b6871;
}
.btn-dropdown > .btn .btn-dropdown-caret:after {
  transition: border 0.2s ease;
  border-top-color: #5b6871;
}
.btn.disabled,
.btn:disabled {
  opacity: 0.5;
}
.btn.disabled:active,
.btn:disabled:active,
.btn.disabled:hover,
.btn:disabled:hover {
  color: #5b6871;
  border-color: #cfd8dc;
  background-color: #f3f5f6;
  cursor: not-allowed;
}
.btn.btn-primary {
  color: #fff;
  border-color: #d5002b;
  background-color: #d5002b;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-group-input:checked + .btn.btn-primary {
  color: #fff;
  border-color: #d5002b;
  background-color: #d5002b;
}
.btn-group-input:checked + .btn.btn-primary .icons-background {
  fill: #fff;
}
.btn.btn-primary svg,
.btn.btn-primary .icons-background {
  fill: #fff;
}
.btn.btn-primary:hover {
  color: #fff;
  border-color: #d5002b;
  background-color: #e24d6b;
  text-decoration: none;
}
.btn-dropdown > .btn.btn-primary:hover .btn-dropdown-caret:after {
  border-top-color: #fff;
}
.btn.btn-primary:hover svg,
.btn.btn-primary:hover .icons-background {
  fill: #fff;
}
.btn.btn-primary:focus,
.btn.btn-primary:active {
  color: #fff;
  border-color: #d5002b;
  background-color: #ea8095;
  text-decoration: none;
}
.btn.btn-primary:focus svg,
.btn.btn-primary:active svg,
.btn.btn-primary:focus .icons-background,
.btn.btn-primary:active .icons-background {
  fill: #fff;
}
.btn-dropdown > .btn.btn-primary .btn-dropdown-caret:after {
  transition: border 0.2s ease;
  border-top-color: #fff;
}
.btn.btn-primary.disabled,
.btn.btn-primary:disabled {
  opacity: 0.5;
}
.btn.btn-primary.disabled:active,
.btn.btn-primary:disabled:active,
.btn.btn-primary.disabled:hover,
.btn.btn-primary:disabled:hover {
  color: #fff;
  border-color: #d5002b;
  background-color: #d5002b;
  cursor: not-allowed;
}
.btn.btn-hero {
  color: #fff;
  border-color: #495761;
  background-color: #495761;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-group-input:checked + .btn.btn-hero {
  color: #fff;
  border-color: #495761;
  background-color: #495761;
}
.btn-group-input:checked + .btn.btn-hero .icons-background {
  fill: #fff;
}
.btn.btn-hero svg,
.btn.btn-hero .icons-background {
  fill: #fff;
}
.btn.btn-hero:hover {
  color: #fff;
  border-color: #495761;
  background-color: #808990;
  text-decoration: none;
}
.btn-dropdown > .btn.btn-hero:hover .btn-dropdown-caret:after {
  border-top-color: #fff;
}
.btn.btn-hero:hover svg,
.btn.btn-hero:hover .icons-background {
  fill: #fff;
}
.btn.btn-hero:focus,
.btn.btn-hero:active {
  color: #fff;
  border-color: #495761;
  background-color: #a4abb0;
  text-decoration: none;
}
.btn.btn-hero:focus svg,
.btn.btn-hero:active svg,
.btn.btn-hero:focus .icons-background,
.btn.btn-hero:active .icons-background {
  fill: #fff;
}
.btn-dropdown > .btn.btn-hero .btn-dropdown-caret:after {
  transition: border 0.2s ease;
  border-top-color: #fff;
}
.btn.btn-hero.disabled,
.btn.btn-hero:disabled {
  opacity: 0.5;
}
.btn.btn-hero.disabled:active,
.btn.btn-hero:disabled:active,
.btn.btn-hero.disabled:hover,
.btn.btn-hero:disabled:hover {
  color: #fff;
  border-color: #495761;
  background-color: #495761;
  cursor: not-allowed;
}
.btn.btn-neutral {
  color: #fff;
  border-color: #263238;
  background-color: #263238;
  transition: background 0.2s ease, color 0.2s ease;
}
.btn-group-input:checked + .btn.btn-neutral {
  color: #fff;
  border-color: #263238;
  background-color: #263238;
}
.btn-group-input:checked + .btn.btn-neutral .icons-background {
  fill: #fff;
}
.btn.btn-neutral svg,
.btn.btn-neutral .icons-background {
  fill: #fff;
}
.btn.btn-neutral:hover {
  color: #fff;
  border-color: #263238;
  background-color: #677074;
  text-decoration: none;
}
.btn-dropdown > .btn.btn-neutral:hover .btn-dropdown-caret:after {
  border-top-color: #fff;
}
.btn.btn-neutral:hover svg,
.btn.btn-neutral:hover .icons-background {
  fill: #fff;
}
.btn.btn-neutral:focus,
.btn.btn-neutral:active {
  color: #fff;
  border-color: #263238;
  background-color: #93999c;
  text-decoration: none;
}
.btn.btn-neutral:focus svg,
.btn.btn-neutral:active svg,
.btn.btn-neutral:focus .icons-background,
.btn.btn-neutral:active .icons-background {
  fill: #fff;
}
.btn-dropdown > .btn.btn-neutral .btn-dropdown-caret:after {
  transition: border 0.2s ease;
  border-top-color: #fff;
}
.btn.btn-neutral.disabled,
.btn.btn-neutral:disabled {
  opacity: 0.5;
}
.btn.btn-neutral.disabled:active,
.btn.btn-neutral:disabled:active,
.btn.btn-neutral.disabled:hover,
.btn.btn-neutral:disabled:hover {
  color: #fff;
  border-color: #263238;
  background-color: #263238;
  cursor: not-allowed;
}
.btn:focus {
  outline: none;
  display: inline-block;
}
.is-keyboarduser .btn:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.btn-group-item .btn,
.btn.btn-soft {
  background-color: #fff;
  color: #000;
}
.btn-group-item .btn.btn-faint,
.btn.btn-soft.btn-faint {
  color: #5b6871;
}
.btn-group-item .btn svg,
.btn.btn-soft svg,
.btn-group-item .btn .icons-background,
.btn.btn-soft .icons-background {
  fill: #000;
  transition: fill 0.3s ease;
}
.btn-dropdown > .btn-group-item .btn .btn-dropdown-caret:after,
.btn-dropdown > .btn.btn-soft .btn-dropdown-caret:after {
  border-top-color: #000;
}
.btn-group-item .btn.disabled:active,
.btn.btn-soft.disabled:active,
.btn-group-item .btn:disabled:active,
.btn.btn-soft:disabled:active,
.btn-group-item .btn.disabled:hover,
.btn.btn-soft.disabled:hover,
.btn-group-item .btn:disabled:hover,
.btn.btn-soft:disabled:hover {
  background-color: #fff;
  color: #000;
}
.btn-block + .btn-block {
  margin-top: 6px;
}
.btn-group {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
  font-family: sans-serif;
}
.btn-group .btn-group-input {
  opacity: 0;
  position: absolute;
}
.btn-group .btn-group-input:focus + .btn {
  outline: none;
  display: inline-block;
}
.is-keyboarduser .btn-group .btn-group-input:focus + .btn {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.btn-group .btn-group-input:hover + .btn {
  outline: none;
}
.btn-group .btn-group-item {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.ie8 .btn-group .btn-group-item {
  display: inline;
}
.btn-group .btn-group-item .btn {
  border-right-width: 0;
  border-radius: 0;
}
.btn-group .btn-group-item:first-child .btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group .btn-group-item:last-child .btn {
  border-right-width: 1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ie8 .btn-group .btn-group-item .btn-group-input {
  opacity: 1;
  position: static;
  vertical-align: middle;
}
.ie8 .btn-group .btn-group-item .btn-group-text {
  border: 0 none;
  background: transparent;
  padding: 0 12px 0 6px;
  height: auto;
}
.ie8 .btn-group .btn-group-item .btn-group-text:hover {
  color: #000;
}
.btn-group.btn-block {
  display: table;
  width: 100%;
}
.btn-group.btn-block .btn-group-item {
  display: table-cell;
}
.btn-group.btn-block .btn-group-item .btn-group-text {
  width: 100%;
}
.ie8 .btn-group.btn-block .btn-group-item .btn-group-text {
  width: auto;
}
.btn-group-wrapper {
  display: table;
  width: 100%;
  vertical-align: middle;
}
.btn-group-wrapper .btn-group-line,
.btn-group-wrapper .btn-group {
  display: table-cell;
  vertical-align: middle;
}
.btn-group-wrapper .btn-group {
  text-align: right;
  white-space: nowrap;
}
.btn-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-dropdown > .btn {
  position: relative;
}
.btn-dropdown > .btn > .btn-dropdown-caret {
  margin-right: 26px;
}
.btn-dropdown > .btn > .btn-dropdown-caret:after {
  content: " ";
  display: block;
  vertical-align: middle;
  border-top-width: 8px;
  border-top-style: solid;
  border-right: 7px solid transparent;
  border-bottom: none;
  border-left: 7px solid transparent;
  position: absolute;
  right: 12px;
  top: 44%;
  height: 8px;
  width: 14px;
}
.btn-dropdown .dropdown-menu {
  min-width: 190px;
  background-color: #fff;
  border-radius: 3px;
  margin: 3px 0 12px 0;
}
.btn-dropdown .dropdown-menu:focus {
  outline: none;
}
.is-keyboarduser .btn-dropdown .dropdown-menu:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.btn-dropdown .dropdown-menu.dropdown-menu-sm {
  min-width: 130px;
}
.btn-dropdown .dropdown-menu.dropdown-menu-lg {
  min-width: 250px;
}
.js .btn-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  overflow: hidden;
  z-index: 115;
  left: 0;
  right: 0;
}
.btn-dropdown .dropdown-menu .dropdown-menu-headline {
  background-color: #f3f5f6;
  font-size: 12px;
  font-weight: 500;
  padding: 7px;
  margin: 24px -6px 18px -6px;
}
.btn-dropdown .dropdown-menu .dropdown-menu-headline:first-child {
  margin-top: -6px;
}
.btn-dropdown .dropdown-menu .checkbox,
.btn-dropdown .dropdown-menu .radio {
  display: table;
  width: 100%;
}
.btn-dropdown .dropdown-menu .checkbox + .checkbox,
.btn-dropdown .dropdown-menu .radio + .checkbox,
.btn-dropdown .dropdown-menu .checkbox + .radio,
.btn-dropdown .dropdown-menu .radio + .radio {
  margin-left: 0;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #cfd8dc;
  height: 37px;
}
.btn-dropdown .dropdown-menu .checkbox + .checkbox .checkbox-input,
.btn-dropdown .dropdown-menu .radio + .checkbox .checkbox-input,
.btn-dropdown .dropdown-menu .checkbox + .radio .checkbox-input,
.btn-dropdown .dropdown-menu .radio + .radio .checkbox-input,
.btn-dropdown .dropdown-menu .checkbox + .checkbox .radio-input,
.btn-dropdown .dropdown-menu .radio + .checkbox .radio-input,
.btn-dropdown .dropdown-menu .checkbox + .radio .radio-input,
.btn-dropdown .dropdown-menu .radio + .radio .radio-input {
  top: 15px;
}
.btn-dropdown .dropdown-menu .checkbox + .checkbox .checkbox-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .radio + .checkbox .checkbox-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .checkbox + .radio .checkbox-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .radio + .radio .checkbox-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .checkbox + .checkbox .radio-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .radio + .checkbox .radio-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .checkbox + .radio .radio-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .radio + .radio .radio-input + .checkbox-text:after,
.btn-dropdown .dropdown-menu .checkbox + .checkbox .checkbox-input + .radio-text:after,
.btn-dropdown .dropdown-menu .radio + .checkbox .checkbox-input + .radio-text:after,
.btn-dropdown .dropdown-menu .checkbox + .radio .checkbox-input + .radio-text:after,
.btn-dropdown .dropdown-menu .radio + .radio .checkbox-input + .radio-text:after,
.btn-dropdown .dropdown-menu .checkbox + .checkbox .radio-input + .radio-text:after,
.btn-dropdown .dropdown-menu .radio + .checkbox .radio-input + .radio-text:after,
.btn-dropdown .dropdown-menu .checkbox + .radio .radio-input + .radio-text:after,
.btn-dropdown .dropdown-menu .radio + .radio .radio-input + .radio-text:after {
  top: 12px;
}
.btn-dropdown .dropdown-menu .lists-linklist a {
  display: block;
}
.btn-dropdown .dropdown-menu .btn-group-wrapper + .btn-group-wrapper {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #cfd8dc;
}
.btn-dropdown.is-open > .btn:after {
  content: " ";
  position: fixed;
  z-index: 110;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.btn-dropdown.is-open .dropdown-menu {
  display: block;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid #cfd8dc;
  padding: 12px;
}
.btn-dropdown.btn-block {
  width: 100%;
}
.btn-dropdown.btn-block .btn {
  display: block;
  width: 100%;
}
.btn-dropdown.btn-block .btn .btn-dropdown-caret {
  width: 100%;
  display: inline-block;
  text-align: left;
}
@media print {
  .btn svg,
  .btn .icons-background {
    fill: #000 !important;
  }
  .btn-dropdown > .btn > .btn-dropdown-caret:after {
    border-top-color: #000 !important;
  }
  .btn-group-input:checked + .btn {
    background-color: #000 !important;
    color: #fff !important;
  }
}
