.symbol-credit-card { background-image: url('../img/credit-card.png'); background-repeat: no-repeat; }

.symbol-dollar { background-image: url('../img/dollar.png'); background-repeat: no-repeat; }

.symbol-growth { background-image: url('../img/growth.png'); background-repeat: no-repeat; }

.symbol-limit { background-image: url('../img/limit.png'); background-repeat: no-repeat; }

.symbol-money-in { background-image: url('../img/money-in.png'); background-repeat: no-repeat; }

.symbol-money-out { background-image: url('../img/money-out.png'); background-repeat: no-repeat; }

.symbol-percent { background-image: url('../img/percent.png'); background-repeat: no-repeat; }

.symbol-save { background-image: url('../img/save.png'); background-repeat: no-repeat; }

.symbol-super { background-image: url('../img/super.png'); background-repeat: no-repeat; }

.symbol-switch { background-image: url('../img/switch.png'); background-repeat: no-repeat; }

