.icon-australia { background-image: url('../img/icon-australia.png'); background-repeat: no-repeat; }

.icon-chat { background-image: url('../img/icon-chat.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('../img/icon-clock.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('../img/icon-edit.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('../img/icon-email.png'); background-repeat: no-repeat; }

.icon-id-card { background-image: url('../img/icon-id-card.png'); background-repeat: no-repeat; }

.icon-padlock { background-image: url('../img/icon-padlock.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('../img/icon-print.png'); background-repeat: no-repeat; }

.icon-sms { background-image: url('../img/icon-sms.png'); background-repeat: no-repeat; }

.icon-stopwatch { background-image: url('../img/icon-stopwatch.png'); background-repeat: no-repeat; }

.icon-telephone { background-image: url('../img/icon-telephone.png'); background-repeat: no-repeat; }

.icon-tick { background-image: url('../img/icon-tick.png'); background-repeat: no-repeat; }

