.icon-accessibility { background-image: url('../img/icon-accessibility.png'); background-repeat: no-repeat; }

.icon-car { background-image: url('../img/icon-car.png'); background-repeat: no-repeat; }

.icon-geolocation { background-image: url('../img/icon-geolocation.png'); background-repeat: no-repeat; }

.icon-map-pin { background-image: url('../img/icon-map-pin.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('../img/icon-map.png'); background-repeat: no-repeat; }

.icon-transport { background-image: url('../img/icon-transport.png'); background-repeat: no-repeat; }

.icon-walk { background-image: url('../img/icon-walk.png'); background-repeat: no-repeat; }

.icon-wheelchair { background-image: url('../img/icon-wheelchair.png'); background-repeat: no-repeat; }

