.icon-alarm,
.symbol-alarm { background-image: url('../img/alarm.png'); background-repeat: no-repeat; }

.icon-australia,
.symbol-australia { background-image: url('../img/australia.png'); background-repeat: no-repeat; }

.icon-chat,
.symbol-chat { background-image: url('../img/chat.png'); background-repeat: no-repeat; }

.icon-clock,
.symbol-clock { background-image: url('../img/clock.png'); background-repeat: no-repeat; }

.icon-edit,
.symbol-edit { background-image: url('../img/edit.png'); background-repeat: no-repeat; }

.icon-email,
.symbol-email { background-image: url('../img/email.png'); background-repeat: no-repeat; }

.icon-id-card,
.symbol-id-card { background-image: url('../img/id-card.png'); background-repeat: no-repeat; }

.icon-padlock,
.symbol-padlock { background-image: url('../img/padlock.png'); background-repeat: no-repeat; }

.icon-print,
.symbol-print { background-image: url('../img/print.png'); background-repeat: no-repeat; }

.icon-sms,
.symbol-sms { background-image: url('../img/sms.png'); background-repeat: no-repeat; }

.icon-stopwatch,
.symbol-stopwatch { background-image: url('../img/stopwatch.png'); background-repeat: no-repeat; }

.icon-telephone,
.symbol-telephone { background-image: url('../img/telephone.png'); background-repeat: no-repeat; }

