.symbol-business-person { background-image: url('../img/business-person.png'); background-repeat: no-repeat; }

.symbol-eftpos { background-image: url('../img/eftpos.png'); background-repeat: no-repeat; }

.symbol-office { background-image: url('../img/office.png'); background-repeat: no-repeat; }

.symbol-shop { background-image: url('../img/shop.png'); background-repeat: no-repeat; }

