.checkbox-input:disabled + .checkbox-text:after,
.icon-checkbox-off-disabled { background-image: url('../img/icon-checkbox-off-disabled.png'); background-repeat: no-repeat; }

.checkbox-input + .checkbox-text:after,
.icon-checkbox-off { background-image: url('../img/icon-checkbox-off.png'); background-repeat: no-repeat; }

.checkbox-input:disabled:checked + .checkbox-text:after,
.icon-checkbox-on-disabled { background-image: url('../img/icon-checkbox-on-disabled.png'); background-repeat: no-repeat; }

.checkbox-input:checked + .checkbox-text:after,
.icon-checkbox-on { background-image: url('../img/icon-checkbox-on.png'); background-repeat: no-repeat; }

.radio-input:disabled + .radio-text:after,
.icon-radio-off-disabled { background-image: url('../img/icon-radio-off-disabled.png'); background-repeat: no-repeat; }

.radio-input + .radio-text:after,
.icon-radio-off { background-image: url('../img/icon-radio-off.png'); background-repeat: no-repeat; }

.radio-input:disabled:checked + .radio-text:after,
.icon-radio-on-disabled { background-image: url('../img/icon-radio-on-disabled.png'); background-repeat: no-repeat; }

.radio-input:checked + .radio-text:after,
.icon-radio-on { background-image: url('../img/icon-radio-on.png'); background-repeat: no-repeat; }

.icon-accessibility { background-image: url('../img/icon-accessibility.png'); background-repeat: no-repeat; }

.icon-account { background-image: url('../img/icon-account.png'); background-repeat: no-repeat; }

.icon-add-a { background-image: url('../img/icon-add-a.png'); background-repeat: no-repeat; }

.icon-add-b { background-image: url('../img/icon-add-b.png'); background-repeat: no-repeat; }

.icon-alert { background-image: url('../img/icon-alert.png'); background-repeat: no-repeat; }

.icon-android { background-image: url('../img/icon-android.png'); background-repeat: no-repeat; }

.icon-apple { background-image: url('../img/icon-apple.png'); background-repeat: no-repeat; }

.icon-atm { background-image: url('../img/icon-atm.png'); background-repeat: no-repeat; }

.icon-australia { background-image: url('../img/icon-australia.png'); background-repeat: no-repeat; }

.icon-backspace { background-image: url('../img/icon-backspace.png'); background-repeat: no-repeat; }

.icon-bank { background-image: url('../img/icon-bank.png'); background-repeat: no-repeat; }

.icon-bar-chart { background-image: url('../img/icon-bar-chart.png'); background-repeat: no-repeat; }

.icon-book { background-image: url('../img/icon-book.png'); background-repeat: no-repeat; }

.icon-bpay { background-image: url('../img/icon-bpay.png'); background-repeat: no-repeat; }

.icon-business-person { background-image: url('../img/icon-business-person.png'); background-repeat: no-repeat; }

.icon-calculator { background-image: url('../img/icon-calculator.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('../img/icon-calendar.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('../img/icon-camera.png'); background-repeat: no-repeat; }

.icon-car { background-image: url('../img/icon-car.png'); background-repeat: no-repeat; }

.icon-chat { background-image: url('../img/icon-chat.png'); background-repeat: no-repeat; }

.icon-clock { background-image: url('../img/icon-clock.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('../img/icon-close.png'); background-repeat: no-repeat; }

.icon-compass { background-image: url('../img/icon-compass.png'); background-repeat: no-repeat; }

.icon-credit-card { background-image: url('../img/icon-credit-card.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('../img/icon-cross.png'); background-repeat: no-repeat; }

.icon-cube { background-image: url('../img/icon-cube.png'); background-repeat: no-repeat; }

.icon-delete { background-image: url('../img/icon-delete.png'); background-repeat: no-repeat; }

.icon-desktop { background-image: url('../img/icon-desktop.png'); background-repeat: no-repeat; }

.icon-dollar { background-image: url('../img/icon-dollar.png'); background-repeat: no-repeat; }

.icon-download { background-image: url('../img/icon-download.png'); background-repeat: no-repeat; }

.icon-dropbox { background-image: url('../img/icon-dropbox.png'); background-repeat: no-repeat; }

.icon-edit { background-image: url('../img/icon-edit.png'); background-repeat: no-repeat; }

.icon-eftpos { background-image: url('../img/icon-eftpos.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('../img/icon-email.png'); background-repeat: no-repeat; }

.icon-excel-file { background-image: url('../img/icon-excel-file.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('../img/icon-facebook.png'); background-repeat: no-repeat; }

.icon-filter { background-image: url('../img/icon-filter.png'); background-repeat: no-repeat; }

.icon-generic-file { background-image: url('../img/icon-generic-file.png'); background-repeat: no-repeat; }

.icon-geolocation { background-image: url('../img/icon-geolocation.png'); background-repeat: no-repeat; }

.icon-github { background-image: url('../img/icon-github.png'); background-repeat: no-repeat; }

.icon-global { background-image: url('../img/icon-global.png'); background-repeat: no-repeat; }

.icon-google-plus { background-image: url('../img/icon-google-plus.png'); background-repeat: no-repeat; }

.icon-growth { background-image: url('../img/icon-growth.png'); background-repeat: no-repeat; }

.icon-help { background-image: url('../img/icon-help.png'); background-repeat: no-repeat; }

.icon-history-clock { background-image: url('../img/icon-history-clock.png'); background-repeat: no-repeat; }

.icon-house { background-image: url('../img/icon-house.png'); background-repeat: no-repeat; }

.icon-id-card { background-image: url('../img/icon-id-card.png'); background-repeat: no-repeat; }

.icon-idea { background-image: url('../img/icon-idea.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('../img/icon-info.png'); background-repeat: no-repeat; }

.icon-instagram { background-image: url('../img/icon-instagram.png'); background-repeat: no-repeat; }

.icon-invest { background-image: url('../img/icon-invest.png'); background-repeat: no-repeat; }

.icon-key-hole { background-image: url('../img/icon-key-hole.png'); background-repeat: no-repeat; }

.icon-key { background-image: url('../img/icon-key.png'); background-repeat: no-repeat; }

.icon-limit { background-image: url('../img/icon-limit.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('../img/icon-linkedin.png'); background-repeat: no-repeat; }

.icon-map-pin { background-image: url('../img/icon-map-pin.png'); background-repeat: no-repeat; }

.icon-map { background-image: url('../img/icon-map.png'); background-repeat: no-repeat; }

.icon-message { background-image: url('../img/icon-message.png'); background-repeat: no-repeat; }

.icon-mobile-pay { background-image: url('../img/icon-mobile-pay.png'); background-repeat: no-repeat; }

.icon-money-in { background-image: url('../img/icon-money-in.png'); background-repeat: no-repeat; }

.icon-money-out { background-image: url('../img/icon-money-out.png'); background-repeat: no-repeat; }

.icon-more { background-image: url('../img/icon-more.png'); background-repeat: no-repeat; }

.icon-move-from { background-image: url('../img/icon-move-from.png'); background-repeat: no-repeat; }

.icon-move-to { background-image: url('../img/icon-move-to.png'); background-repeat: no-repeat; }

.icon-new-window { background-image: url('../img/icon-new-window.png'); background-repeat: no-repeat; }

.icon-notification { background-image: url('../img/icon-notification.png'); background-repeat: no-repeat; }

.icon-office { background-image: url('../img/icon-office.png'); background-repeat: no-repeat; }

.icon-padlock { background-image: url('../img/icon-padlock.png'); background-repeat: no-repeat; }

.icon-pause { background-image: url('../img/icon-pause.png'); background-repeat: no-repeat; }

.icon-paypass { background-image: url('../img/icon-paypass.png'); background-repeat: no-repeat; }

.icon-pdf-file { background-image: url('../img/icon-pdf-file.png'); background-repeat: no-repeat; }

.icon-people { background-image: url('../img/icon-people.png'); background-repeat: no-repeat; }

.icon-percent { background-image: url('../img/icon-percent.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('../img/icon-person.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('../img/icon-phone.png'); background-repeat: no-repeat; }

.icon-pie-chart { background-image: url('../img/icon-pie-chart.png'); background-repeat: no-repeat; }

.icon-play { background-image: url('../img/icon-play.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('../img/icon-print.png'); background-repeat: no-repeat; }

.icon-quick-balance { background-image: url('../img/icon-quick-balance.png'); background-repeat: no-repeat; }

.icon-refresh { background-image: url('../img/icon-refresh.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('../img/icon-remove.png'); background-repeat: no-repeat; }

.icon-rss { background-image: url('../img/icon-rss.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('../img/icon-search.png'); background-repeat: no-repeat; }

.icon-service-bell { background-image: url('../img/icon-service-bell.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('../img/icon-settings.png'); background-repeat: no-repeat; }

.icon-share { background-image: url('../img/icon-share.png'); background-repeat: no-repeat; }

.icon-shelf-menu { background-image: url('../img/icon-shelf-menu.png'); background-repeat: no-repeat; }

.icon-shop { background-image: url('../img/icon-shop.png'); background-repeat: no-repeat; }

.icon-slack { background-image: url('../img/icon-slack.png'); background-repeat: no-repeat; }

.icon-sms { background-image: url('../img/icon-sms.png'); background-repeat: no-repeat; }

.icon-star1 { background-image: url('../img/icon-star1.png'); background-repeat: no-repeat; }

.icon-star2 { background-image: url('../img/icon-star2.png'); background-repeat: no-repeat; }

.icon-star3 { background-image: url('../img/icon-star3.png'); background-repeat: no-repeat; }

.icon-stopwatch { background-image: url('../img/icon-stopwatch.png'); background-repeat: no-repeat; }

.icon-super { background-image: url('../img/icon-super.png'); background-repeat: no-repeat; }

.icon-switch { background-image: url('../img/icon-switch.png'); background-repeat: no-repeat; }

.icon-tablet { background-image: url('../img/icon-tablet.png'); background-repeat: no-repeat; }

.icon-telephone { background-image: url('../img/icon-telephone.png'); background-repeat: no-repeat; }

.icon-tick { background-image: url('../img/icon-tick.png'); background-repeat: no-repeat; }

.icon-to-mobile { background-image: url('../img/icon-to-mobile.png'); background-repeat: no-repeat; }

.icon-transfer { background-image: url('../img/icon-transfer.png'); background-repeat: no-repeat; }

.icon-transport { background-image: url('../img/icon-transport.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('../img/icon-twitter.png'); background-repeat: no-repeat; }

.icon-umbrella { background-image: url('../img/icon-umbrella.png'); background-repeat: no-repeat; }

.icon-upload { background-image: url('../img/icon-upload.png'); background-repeat: no-repeat; }

.icon-walk { background-image: url('../img/icon-walk.png'); background-repeat: no-repeat; }

.icon-wallet { background-image: url('../img/icon-wallet.png'); background-repeat: no-repeat; }

.icon-wheelchair { background-image: url('../img/icon-wheelchair.png'); background-repeat: no-repeat; }

.icon-windows-new { background-image: url('../img/icon-windows-new.png'); background-repeat: no-repeat; }

.icon-word-file { background-image: url('../img/icon-word-file.png'); background-repeat: no-repeat; }

.icon-write { background-image: url('../img/icon-write.png'); background-repeat: no-repeat; }

.icon-yammer { background-image: url('../img/icon-yammer.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('../img/icon-youtube.png'); background-repeat: no-repeat; }

.icon-zip-file { background-image: url('../img/icon-zip-file.png'); background-repeat: no-repeat; }

.lists.lists-linklist > li:after,
.icon-linklist { background-image: url('../img/icon-linklist.png'); background-repeat: no-repeat; }

.lists.lists-tick > li:after,
.icon-ticklist { background-image: url('../img/icon-ticklist.png'); background-repeat: no-repeat; }

.logo-bom-shield { background-image: url('../img/logo-bom-shield.png'); background-repeat: no-repeat; }

.logo-bom { background-image: url('../img/logo-bom.png'); background-repeat: no-repeat; }

.logo-bsa-stacked { background-image: url('../img/logo-bsa-stacked.png'); background-repeat: no-repeat; }

.logo-bsa { background-image: url('../img/logo-bsa.png'); background-repeat: no-repeat; }

.logo-bt-stacked { background-image: url('../img/logo-bt-stacked.png'); background-repeat: no-repeat; }

.logo-bt { background-image: url('../img/logo-bt.png'); background-repeat: no-repeat; }

.logo-multibrand-large { background-image: url('../img/logo-multibrand-large.png'); background-repeat: no-repeat; }

.logo-multibrand-small { background-image: url('../img/logo-multibrand-small.png'); background-repeat: no-repeat; }

.logo-stg-dragon { background-image: url('../img/logo-stg-dragon.png'); background-repeat: no-repeat; }

.logo-stg { background-image: url('../img/logo-stg.png'); background-repeat: no-repeat; }

.logo-wbc-200 { background-image: url('../img/logo-wbc-200.png'); background-repeat: no-repeat; }

.logo-wbc-live { background-image: url('../img/logo-wbc-live.png'); background-repeat: no-repeat; }

.logo-wbc { background-image: url('../img/logo-wbc.png'); background-repeat: no-repeat; }

.logo-wbg { background-image: url('../img/logo-wbg.png'); background-repeat: no-repeat; }

.symbol-american-express { background-image: url('../img/symbol-american-express.png'); background-repeat: no-repeat; }

.symbol-facebook { background-image: url('../img/symbol-facebook.png'); background-repeat: no-repeat; }

.symbol-google-plus { background-image: url('../img/symbol-google-plus.png'); background-repeat: no-repeat; }

.symbol-instagram { background-image: url('../img/symbol-instagram.png'); background-repeat: no-repeat; }

.symbol-linkedin { background-image: url('../img/symbol-linkedin.png'); background-repeat: no-repeat; }

.symbol-master-card-accepted { background-image: url('../img/symbol-master-card-accepted.png'); background-repeat: no-repeat; }

.symbol-master-card-horizontal { background-image: url('../img/symbol-master-card-horizontal.png'); background-repeat: no-repeat; }

.symbol-master-card { background-image: url('../img/symbol-master-card.png'); background-repeat: no-repeat; }

.symbol-slack { background-image: url('../img/symbol-slack.png'); background-repeat: no-repeat; }

.symbol-store-apple { background-image: url('../img/symbol-store-apple.png'); background-repeat: no-repeat; }

.symbol-store-google { background-image: url('../img/symbol-store-google.png'); background-repeat: no-repeat; }

.symbol-store-windows { background-image: url('../img/symbol-store-windows.png'); background-repeat: no-repeat; }

.symbol-twitter { background-image: url('../img/symbol-twitter.png'); background-repeat: no-repeat; }

.symbol-visa-blue { background-image: url('../img/symbol-visa-blue.png'); background-repeat: no-repeat; }

.symbol-visa-white { background-image: url('../img/symbol-visa-white.png'); background-repeat: no-repeat; }

.symbol-visa { background-image: url('../img/symbol-visa.png'); background-repeat: no-repeat; }

.symbol-yammer { background-image: url('../img/symbol-yammer.png'); background-repeat: no-repeat; }

.symbol-youtube { background-image: url('../img/symbol-youtube.png'); background-repeat: no-repeat; }

