.icon-bar-chart { background-image: url('../img/icon-bar-chart.png'); background-repeat: no-repeat; }

.icon-invest { background-image: url('../img/icon-invest.png'); background-repeat: no-repeat; }

.icon-pie-chart { background-image: url('../img/icon-pie-chart.png'); background-repeat: no-repeat; }

