/*![Module-Version-Brand]*/
/*
 * radios mixins
 *
 * Radios with flexbox enhancements
 *
 */


//////////////////////////////////////| radios STYLES
._radios( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand();



	.radio {
		display: inline-block;

		&:extend(.clearfix all);

		.radio-input {
			opacity: 0;
			position: absolute;

			&:focus + .radio-text {
				.outline();
			}

			&:hover + .radio-text {
				outline: none;
			}

			&:disabled {
				& + .radio-text {
					color: @color-Muted;

					&:hover {
						cursor: not-allowed;
					}
				}
			}
		}

		.radio-text {
			font-size: 14px;
			font-weight: 400;
			padding-left: 38px;
			min-height: 32px;
			line-height: 1.2;
			display: inline-block;
			display: flex;
			justify-content: center;
			flex-direction: column;

			&:hover {
				cursor: pointer;
			}

			.radio-flip& {
				padding-left: 0;
				padding-right: 38px;
				background-position: right top;
			}
		}

		& + .radio {
			margin-left: 18px;
		}
	}


	//////////////////////////////////////| PRINT
	@media print {
		.radio {
			.radio-input {
				opacity: 1;
				position: static;
			}
			.radio-text {
				padding: 0;
				display: inline;
			}
		}
	}

}