/*! Alerts v3.0.0 WBC*/
/*
 * alerts mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| alerts mixin
._alerts( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() {
		@alert-Padding: 18px;
	}
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();



	//////////////////////////////////////| TEXT
	.text {
		+ .text {
			margin-top: 6px;
		}
	}
	.text-icon {
		margin-right: 6px;
	}

	.text-success {
		color: @color-Success;

		.icons-background {
			fill: @color-Success;
		}
	}
	.text-info {
		color: @color-Info;

		.icons-background {
			fill: @color-Info;
		}
	}
	.text-warning {
		color: @color-Warning;

		.icons-background {
			fill: @color-Warning;
		}
	}
	.text-danger {
		color: @color-Danger;

		.icons-background {
			fill: @color-Danger;
		}
	}
	.text-system {
		color: #000;

		.icons-background {
			fill: #000;
		}
	}



	//////////////////////////////////////| ALERT BOXES
	.alert {
		&:extend(.clearfix all);

		position: relative;
		z-index: 1;
		margin-bottom: 21px;
		padding: @alert-Padding;
		border-top: 1px solid @color-Border;
		border-bottom: 1px solid @color-Border;
		opacity: 1;

		> p,
		> ul {
			margin-bottom: 0;
		}
		> p + p {
			margin-top: 6px;
		}

		.js & {
			transition: all 0.15s ease;
		}

		&.is-closed {
			max-height: 0;
			opacity: 0;
			padding: 0;
			margin: 0;
			border: 0 none;
		}
	}

	// Alert types
	.alert-success {
		border-color: @color-Success-50;
		background-color: @color-Success-5;

		&,
		.alert-body {
			color: @color-Success;
		}
		.alert-icon,
		.alert-close {
			.icons-background {
				fill: @color-Success;
			}
		}
	}
	.alert-info {
		border-color: @color-Info-50;
		background-color: @color-Info-5;

		&,
		.alert-body {
			color: @color-Info;
		}
		.alert-icon,
		.alert-close {
			.icons-background {
				fill: @color-Info;
			}
		}
	}
	.alert-warning {
		border-color: @color-Warning-50;
		background-color: @color-Warning-5;

		&,
		.alert-body {
			color: @color-Warning;
		}
		.alert-icon,
		.alert-close {
			.icons-background {
				fill: @color-Warning;
			}
		}
	}
	.alert-danger {
		border-color: @color-Danger-50;
		background-color: @color-Danger-5;

		&,
		.alert-body {
			color: @color-Danger;
		}
		.alert-icon,
		.alert-close {
			.icons-background {
				fill: @color-Danger;
			}
		}
	}
	.alert-system {
		border-color: yellow;
		background-color: yellow;

		&,
		.alert-body {
			color: #000;
		}
		.alert-icon,
		.alert-close {
			.icons-background {
				fill: #000;
			}
		}
	}

	// Close button
	.alert-close {
		position: relative;
		margin-top: -(@alert-Padding - 3px); //incl tweak
		margin-right: -@alert-Padding;
		float: right;
		opacity: 1;
		transition: opacity 0.2s ease;

		.no-js & {
			display: none; //hide
		}

		&:focus {
			.outline();
		}
		&:hover {
			outline: none;
			opacity: 0.5;
		}
	}

	// Icon
	.alert-icon {
		float: left;
		margin-right: 6px;

		@media (min-width: @screen-sm) {
			margin-right: 12px;
		}
	}

	// Body
	.alert-body {
		position: relative;

		.alert-icon + & {
			@media (min-width: @screen-sm) {
				overflow: hidden; //no icon wrapping
			}
		}
	}
	// Body vertical alignment tweak, if after icon
	.alert-icon {
		@tweak: 2px;

		&.icon-xsmall,
		&.icon-small {
			+ .alert-body { top: auto; } //reset
		}
		&, //default size
		&.icon-large,
		&.icon-xlarge {
			+ .alert-body { top: @tweak; } //tweak
		}

		// Responsive icons
		//  - yes this is hella complicated & messy, but unfortunately required
		@media (min-width: @screen-sm) {
			&.icon-xsmall-sm,
			&.icon-small-sm {
				+ .alert-body { top: auto; } //reset
			}
			&.icon-medium-sm,
			&.icon-large-sm,
			&.icon-xlarge-sm {
				+ .alert-body { top: @tweak; } //tweak
			}
		}
		@media (min-width: @screen-md) {
			&.icon-xsmall-md,
			&.icon-small-md {
				+ .alert-body { top: auto; } //reset
			}
			&.icon-medium-md,
			&.icon-large-md,
			&.icon-xlarge-md {
				+ .alert-body { top: @tweak; } //tweak
			}
		}
		@media (min-width: @screen-lg) {
			&.icon-xsmall-lg,
			&.icon-small-lg {
				+ .alert-body { top: auto; } //reset
			}
			&.icon-medium-lg,
			&.icon-large-lg,
			&.icon-xlarge-lg {
				+ .alert-body { top: @tweak; } //tweak
			}
		}
	}



	//////////////////////////////////////| FORM VALIDATIONS
	.alert-form {
		margin-bottom: 21px;
	}
	.alert-form-msg {
		display: none; //hide
		font-size: 12px;

		.has-success &,
		.has-info &,
		.has-warning &,
		.has-danger & {
			display: block; //show
			margin: 6px 0 0;
		}
		.icon {
			vertical-align: top;
			margin-right: .25em;
		}
	}

	// Validation states
	.has-success {
		.alert-form-msg {
			color: @color-Success;

			.icons-background {
				fill: @color-Success;
			}
		}
		.input-field,
		.input-field-select,
		.input-field-select:focus {
			border-color: @color-Success;
		}
		.input-field {
			color: @color-Success;
		}
	}
	.has-info {
		.alert-form-msg {
			color: @color-Info;

			.icons-background {
				fill: @color-Info;
			}
		}
		.input-field,
		.input-field-select,
		.input-field-select:focus {
			border-color: @color-Info;
		}
		.input-field {
			color: @color-Info;
		}
	}
	.has-warning {
		.alert-form-msg {
			color: @color-Warning;

			.icons-background {
				fill: @color-Warning;
			}
		}
		.input-field,
		.input-field-select,
		.input-field-select:focus {
			border-color: @color-Warning;
		}
		.input-field {
			color: @color-Warning;
		}
	}
	.has-danger {
		.alert-form-msg {
			color: @color-Danger;

			.icons-background {
				fill: @color-Danger;
			}
		}
		.input-field,
		.input-field-select,
		.input-field-select:focus {
			border-color: @color-Danger;
		}
		.input-field {
			color: @color-Danger;
		}
	}


	//////////////////////////////////////| PRINT
	@media print {
		.text-success,
		.text-info,
		.text-warning,
		.text-danger {
			color: #000;
		}

		.alert-success,
		.alert-info,
		.alert-warning,
		.alert-danger,
		.alert-system {
			background-color: #fff;
			color: #000;
			border: 1px solid #000;
		}

		.alert-close {
			display: none;
		}

		.alert-form {
			.alert-form-msg {
				.has-success&,
				.has-info&,
				.has-warning&,
				.has-danger& {
					color: #000;
				}
			}

			.input-field,
			.input-field-select,
			.input-field-select:focus {
				border-color: #000;

				.has-success&,
				.has-info&,
				.has-warning&,
				.has-danger& {
					border-color: #000;
				}
			}
		}
	}
}


//////////////////////////////////////| alerts
._alerts( @brand );