/*! Badges v2.0.3 WBC*/
/*
 * badges mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| badges mixin
._badges( @brand ) {

	/*
	 *  SETTINGS
	 */

	.getBrand() {
		//////////////////////////////////////| PRIMARY
		@primary-fontcolor: #fff;
		@primary-backgroundcolor: @color-A;
		@primary-bordercolor: @primary-backgroundcolor;

		@primary-inverted-fontcolor: @color-A;
		@primary-inverted-backgroundcolor: #fff;
		@primary-inverted-bordercolor: @primary-inverted-backgroundcolor;


		//////////////////////////////////////| HERO
		@hero-fontcolor: #fff;
		@hero-backgroundcolor: @color-B;
		@hero-bordercolor: @hero-backgroundcolor;

		@hero-inverted-fontcolor: @color-B;
		@hero-inverted-backgroundcolor: #fff;
		@hero-inverted-bordercolor: @hero-inverted-backgroundcolor;


		//////////////////////////////////////| NEUTRAL
		@neutral-fontcolor: #fff;
		@neutral-backgroundcolor: @color-C;
		@neutral-bordercolor: @neutral-backgroundcolor;

		@neutral-inverted-fontcolor: @color-C;
		@neutral-inverted-backgroundcolor: #fff;
		@neutral-inverted-bordercolor: @neutral-inverted-backgroundcolor;


		//////////////////////////////////////| FAINT
		@faint-fontcolor: @color-Muted;
		@faint-backgroundcolor: #fff;
		@faint-bordercolor: @color-Border;

		@faint-inverted-fontcolor: @color-Muted;
		@faint-inverted-backgroundcolor: #fff;
		@faint-inverted-bordercolor: @faint-inverted-backgroundcolor;


		//////////////////////////////////////| SUCCESS
		@success-fontcolor: #fff;
		@success-backgroundcolor: @color-Success;
		@success-bordercolor: @success-backgroundcolor;

		@success-inverted-fontcolor: @color-Success;
		@success-inverted-backgroundcolor: #fff;
		@success-inverted-bordercolor: @info-inverted-backgroundcolor;


		//////////////////////////////////////| INFORMATION
		@info-fontcolor: #fff;
		@info-backgroundcolor: @color-Info;
		@info-bordercolor: @info-backgroundcolor;

		@info-inverted-fontcolor: @color-Info;
		@info-inverted-backgroundcolor: #fff;
		@info-inverted-bordercolor: @info-inverted-backgroundcolor;


		//////////////////////////////////////| WARNING
		@warning-fontcolor: #fff;
		@warning-backgroundcolor: @color-Warning;
		@warning-bordercolor: @warning-backgroundcolor;

		@warning-inverted-fontcolor: @color-Warning;
		@warning-inverted-backgroundcolor: #fff;
		@warning-inverted-bordercolor: @warning-inverted-backgroundcolor;


		//////////////////////////////////////| DANGER
		@danger-fontcolor: #fff;
		@danger-backgroundcolor: @color-Danger;
		@danger-bordercolor: @danger-backgroundcolor;

		@danger-inverted-fontcolor: @color-Danger;
		@danger-inverted-backgroundcolor: #fff;
		@danger-inverted-bordercolor: @danger-inverted-backgroundcolor;		
	}
	.getBrand() when (@brand = BOM) {}
	.getBrand() when (@brand = BSA) {}
	.getBrand() when (@brand = STG) {	
		@hero-fontcolor: @color-F;
	}
	.getBrand() when (@brand = WBC) {}
	.getBrand() when (@brand = WBG) {}
	.getBrand() when (@brand = BT) {}
	.getBrand();


	.badge {
		display: inline-block;
		min-width: 10px;
		padding: 4px 7px;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		border-radius: 12px;
		font-weight: 700;
		font-size: 14px;

		// Default (no type) badge
		._badges-make-badge(
			#fff,
			@color-C,
			@color-C,
			@color-Text,
			#fff,
			#fff
		);

		&:empty {
			display: none;
		}

		.badge-sronly {
			.sr-only();
		}

		.btn & {
			position: relative;
			vertical-align: top;
		}
		
	}

	// Types
	.badge-primary {
		._badges-make-badge(
			@primary-fontcolor,
			@primary-backgroundcolor,
			@primary-bordercolor,
			@primary-inverted-fontcolor,
			@primary-inverted-backgroundcolor,
			@primary-inverted-bordercolor
		);
	}
	.badge-hero {
		._badges-make-badge(
			@hero-fontcolor,
			@hero-backgroundcolor,
			@hero-bordercolor,
			@hero-inverted-fontcolor,
			@hero-inverted-backgroundcolor,
			@hero-inverted-bordercolor
		);
	}
	.badge-neutral {
		._badges-make-badge(
			@neutral-fontcolor,
			@neutral-backgroundcolor,
			@neutral-bordercolor,
			@neutral-inverted-fontcolor,
			@neutral-inverted-backgroundcolor,
			@neutral-inverted-bordercolor
		);
	}
	.badge-faint {
		._badges-make-badge(
			@faint-fontcolor,
			@faint-backgroundcolor,
			@faint-bordercolor,
			@faint-inverted-fontcolor,
			@faint-inverted-backgroundcolor,
			@faint-inverted-bordercolor
		);
	}

	// Alert types
	.badge-success {
		._badges-make-badge(
			@success-fontcolor,
			@success-backgroundcolor,
			@success-bordercolor,
			@success-inverted-fontcolor,
			@success-inverted-backgroundcolor,
			@success-inverted-bordercolor
		);
	}
	.badge-info {
		._badges-make-badge(
			@info-fontcolor,
			@info-backgroundcolor,
			@info-bordercolor,
			@info-inverted-fontcolor,
			@info-inverted-backgroundcolor,
			@info-inverted-bordercolor
		);
	}
	.badge-warning {
		._badges-make-badge(
			@warning-fontcolor,
			@warning-backgroundcolor,
			@warning-bordercolor,
			@warning-inverted-fontcolor,
			@warning-inverted-backgroundcolor,
			@warning-inverted-bordercolor
		);
	}
	.badge-danger {
		._badges-make-badge(
			@danger-fontcolor,
			@danger-backgroundcolor,
			@danger-bordercolor,
			@danger-inverted-fontcolor,
			@danger-inverted-backgroundcolor,
			@danger-inverted-bordercolor
		);
	}


	//////////////////////////////////////| PRINT
	@media print {
		.btn .badge,
		.badge {
			background-color: #fff;
			color: #000;
			border: 1px solid #000;
		}
	}

}

/*
 * MAKE BADGES
 *
 * create badges for each version
 */
._badges-make-badge(
	@fontcolor,
	@backgroundcolor,
	@bordercolor,
	@inverted-fontcolor,
	@inverted-backgroundcolor,
	@inverted-bordercolor
) {
	color: @fontcolor;
	background-color: @backgroundcolor;
	border: 1px solid @bordercolor;
	
	// Inverse filled button badges
	.btn-primary:not(.btn-soft) &,
	.btn-hero:not(.btn-soft) &,
	.btn-neutral:not(.btn-soft) & {
		color: @inverted-fontcolor;
		background-color: @inverted-backgroundcolor;
		border-color: @inverted-backgroundcolor;
	}

	// Tweak alignment for badges in various sizes
	.btn-small & {
		top: -1px;
	}
	.btn-xlarge & {
		top: 2px;
	}

	.lists & {
		float: right;
	}
}

//////////////////////////////////////| badges
._badges( @brand );