/*! Breadcrumbs v2.0.2 WBC*/
/*
 * breadcrumbs mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| breadcrumbs mixin
._breadcrumbs( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();


	@breadcrumb-gap: 8px;
	@breadcrumb-separator-width: 7px;
	@breadcrumb-separator-height: 12px;
	@breadcrumb-separator-offset: (20px - @breadcrumb-separator-height) / 2;




	.breadcrumb {}

	.breadcrumb-sronly {
		.sr-only();
	}

	.breadcrumb-list {
		padding: 6px 18px;
		margin-bottom: 21px;
		list-style: none;
		font-size: 13px;

		> li {
			display: inline-block;
			position: relative;

			+ li {
				margin-left: @breadcrumb-gap - 2px;
				padding-left: @breadcrumb-separator-width + @breadcrumb-gap;
			}
			
			// separator
			+ li:before {
				content: '';
				position: absolute;
				display: block;
				width: @breadcrumb-separator-width;
				height: @breadcrumb-separator-height;
				top: @breadcrumb-separator-offset;
				left: 0;
			}

			a {
				color: @color-Text;
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}

	}
}


//////////////////////////////////////| breadcrumbs
._breadcrumbs( @brand );