/*! Buttons v4.0.0 WBC*/
/*
 * buttons mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| buttons mixin
._buttons( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() {
		//////////////////////////////////////| PRIMARY
		@primary-fontcolor: #fff;
		@primary-backgroundcolor: @color-A;
		@primary-bordercolor: @color-A;
		@primary-active-fontcolor: #fff;
		@primary-active-backgroundcolor: @color-A-50;
		@primary-active-bordercolor: @color-A;
		@primary-hover-fontcolor: #fff;
		@primary-hover-backgroundcolor: @color-A-70;
		@primary-hover-bordercolor: @color-A;

		//////////////////////////////////////| HERO
		@hero-fontcolor: #fff;
		@hero-backgroundcolor: @color-B;
		@hero-bordercolor: @color-B;
		@hero-active-fontcolor: #fff;
		@hero-active-backgroundcolor: @color-B-50;
		@hero-active-bordercolor: @color-B;
		@hero-hover-fontcolor: #fff;
		@hero-hover-backgroundcolor: @color-B-70;
		@hero-hover-bordercolor: @color-B;

		//////////////////////////////////////| NEUTRAL
		@neutral-fontcolor: #fff;
		@neutral-backgroundcolor: @color-C;
		@neutral-bordercolor: @color-C;
		@neutral-active-fontcolor: #fff;
		@neutral-active-backgroundcolor: @color-C-50;
		@neutral-active-bordercolor: @color-C;
		@neutral-hover-fontcolor: #fff;
		@neutral-hover-backgroundcolor: @color-C-70;
		@neutral-hover-bordercolor: @color-C;

		//////////////////////////////////////| FAINT
		@faint-fontcolor: @color-Muted;
		@faint-backgroundcolor: @color-J;
		@faint-bordercolor: @color-Border;
		@faint-active-fontcolor: @color-Muted;
		@faint-active-backgroundcolor: #fff;
		@faint-active-bordercolor: @color-Border;
		@faint-hover-fontcolor: @color-Muted;
		@faint-hover-backgroundcolor: #fff;
		@faint-hover-bordercolor: @color-Border;

		//////////////////////////////////////| LINK
		@link-fontcolor: @color-A;
		@link-backgroundcolor: transparent;
		@link-bordercolor: transparent;

		@link-active-fontcolor: @link-fontcolor;
		@link-active-backgroundcolor: @link-backgroundcolor;
		@link-active-bordercolor: @link-bordercolor;
		@link-hover-fontcolor: @link-fontcolor;
		@link-hover-backgroundcolor: @link-backgroundcolor;
		@link-hover-bordercolor: @link-bordercolor;

		//////////////////////////////////////| SOFT
		@faint-soft-fontcolor: @color-Muted;
		@faint-soft-hover-backgroundcolor: @color-J;

		@buttons-IconGap: .25em; //relative to font size

		@buttons-DropdownCaretWidth: 14px;
		@buttons-DropdownCaretHeight: 8px;

		@icon-SizeDefault: 24px;
	}
	.getBrand() when (@brand = BOM) {}
	.getBrand() when (@brand = BSA) {
		@neutral-hover-backgroundcolor: @color-C;
	}
	.getBrand() when (@brand = STG) {
		@hero-fontcolor: @color-Text;
		@hero-active-fontcolor: @color-Text;
		@hero-hover-fontcolor: @color-Text;
	}
	.getBrand() when (@brand = WBC) {}
	.getBrand() when (@brand = WBG) {}
	.getBrand() when (@brand = BT) {}
	.getBrand();



	//////////////////////////////////////| BUTTONS
	.btn {
		._buttons-size( medium ); //default settings

		border-radius: 3px;
		font-weight: 400;
		line-height: 1.5;
		white-space: nowrap;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		border: 1px solid @faint-bordercolor;
		user-select: none;
		appearance: none;

		> .icon {
			position: relative;
			vertical-align: top;
			display: inline-block;
			line-height: 1;
		}

		&,
		&:hover {
			text-decoration: none;
		}

		&:focus {
			.outline();
		}

		&.disabled,
		&:disabled {
			opacity: 0.5;

			&:active,
			&:hover {
				cursor: not-allowed;
			}
		}
	}

	// Disabling of clicks on `<a>` elements
	a.btn.disabled,
		fieldset[disabled] a.btn {
		pointer-events: none;
	}

	// Icon/caret gap
	.btn-icon + .btn-text,
	.btn-text + .btn-icon,
	.btn-dropdown > .btn:after {
		margin-left: @buttons-IconGap;
	}

	// Button types
	.btn-primary {
		._buttons-make-button(
			@primary-fontcolor,
			@primary-backgroundcolor,
			@primary-bordercolor,
			@primary-active-fontcolor,
			@primary-active-backgroundcolor,
			@primary-active-bordercolor,
			@primary-hover-fontcolor,
			@primary-hover-backgroundcolor,
			@primary-hover-bordercolor
		);
	}
	.btn-hero {
		._buttons-make-button(
			@hero-fontcolor,
			@hero-backgroundcolor,
			@hero-bordercolor,
			@hero-active-fontcolor,
			@hero-active-backgroundcolor,
			@hero-active-bordercolor,
			@hero-hover-fontcolor,
			@hero-hover-backgroundcolor,
			@hero-hover-bordercolor
		);
	}
	.btn-neutral {
		._buttons-make-button(
			@neutral-fontcolor,
			@neutral-backgroundcolor,
			@neutral-bordercolor,
			@neutral-active-fontcolor,
			@neutral-active-backgroundcolor,
			@neutral-active-bordercolor,
			@neutral-hover-fontcolor,
			@neutral-hover-backgroundcolor,
			@neutral-hover-bordercolor
		);
	}
	.btn-faint {
		._buttons-make-button(
			@faint-fontcolor,
			@faint-backgroundcolor,
			@faint-bordercolor,
			@faint-active-fontcolor,
			@faint-active-backgroundcolor,
			@faint-active-bordercolor,
			@faint-hover-fontcolor,
			@faint-hover-backgroundcolor,
			@faint-hover-bordercolor
		);
	}
	.btn-link {
		._buttons-make-button(
			@link-fontcolor,
			@link-backgroundcolor,
			@link-bordercolor,
			@link-active-fontcolor,
			@link-active-backgroundcolor,
			@link-active-bordercolor,
			@link-hover-fontcolor,
			@link-hover-backgroundcolor,
			@link-hover-bordercolor
		);

		// Button link additional styling
		border-radius: 0;

		&:hover {
			&,
			.btn-text {
				text-decoration: underline;
			}
		}
		&:disabled {
			&:hover {
				&,
				.btn-text {
					text-decoration: none;
				}
			}
		}
	}


	// Button soft and Button group button
	.btn-soft,
	.btn-group-item > .btn:not(:hover) {
		background-color: #fff;
		color: @color-Text;

		.icons-background {
			fill: @color-Text;
		}
	}

	// Tweak colors for Faint Soft buttons and Button groups (which look like Soft buttons)
	.btn-soft,
	.btn-group-item > .btn {

		// Faint Soft buttons
		&.btn-faint {
			color: @faint-soft-fontcolor;

			&:active,
			&:hover {
				background-color: @faint-soft-hover-backgroundcolor;
			}
		}

		&.disabled,
		&:disabled {
			&:active,
			&:hover {
				background-color: #fff;
				color: @color-Text;
			}
		}
	}



	//////////////////////////////////////| BLOCK
	// Block button option
	.btn-block {
		._buttons-block();
	}

	// Stacked block buttons: .btn-block, .btn-group-block, .btn-dropdown-block and .btn-group-wrapper
	[class*="btn-"][class*="-block"] + [class*="btn-"][class*="-block"],
	.btn-group-wrapper + .btn-group-wrapper {
		margin-top: 6px;
	}



	//////////////////////////////////////| SIZING
	.btn-small {
		._buttons-size( small );
	}
	.btn-large {
		._buttons-size( large );
	}
	.btn-xlarge {
		._buttons-size( xlarge );
	}

	// This breakpoint and up
	@media (min-width: @screen-sm) {
		.btn-small-sm {
			._buttons-size( small );
		}
		.btn-medium-sm {
			._buttons-size( medium );
		}
		.btn-large-sm {
			._buttons-size( large );
		}
		.btn-xlarge-sm {
			._buttons-size( xlarge );
		}
		.btn-block-sm {
			._buttons-block();
		}
	}
	@media (min-width: @screen-md) {
		.btn-small-md {
			._buttons-size( small );
		}
		.btn-medium-md {
			._buttons-size( medium );
		}
		.btn-large-md {
			._buttons-size( large );
		}
		.btn-xlarge-md {
			._buttons-size( xlarge );
		}
		.btn-block-md {
			._buttons-block();
		}
	}
	@media (min-width: @screen-lg) {
		.btn-small-lg {
			._buttons-size( small );
		}
		.btn-medium-lg {
			._buttons-size( medium );
		}
		.btn-large-lg {
			._buttons-size( large );
		}
		.btn-xlarge-lg {
			._buttons-size( xlarge );
		}
		.btn-block-lg {
			._buttons-block();
		}
	}

	// This breakpoint only
	@media (max-width: (@screen-sm - 1)) {
		.btn-small-xs-only {
			._buttons-size( small );
		}
		.btn-medium-xs-only {
			._buttons-size( medium );
		}
		.btn-large-xs-only {
			._buttons-size( large );
		}
		.btn-xlarge-xs-only {
			._buttons-size( xlarge );
		}
		.btn-block-xs-only {
			._buttons-block();
		}
	}
	@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
		.btn-small-sm-only {
			._buttons-size( small );
		}
		.btn-medium-sm-only {
			._buttons-size( medium );
		}
		.btn-large-sm-only {
			._buttons-size( large );
		}
		.btn-xlarge-sm-only {
			._buttons-size( xlarge );
		}
		.btn-block-sm-only {
			._buttons-block();
		}
	}
	@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
		.btn-small-md-only {
			._buttons-size( small );
		}
		.btn-medium-md-only {
			._buttons-size( medium );
		}
		.btn-large-md-only {
			._buttons-size( large );
		}
		.btn-xlarge-md-only {
			._buttons-size( xlarge );
		}
		.btn-block-md-only {
			._buttons-block();
		}
	}


	//////////////////////////////////////| TRIM
	// Button trim option (no horiz. padding)
	.btn-trim {
		padding-left: 0;
		padding-right: 0;
	}


	//////////////////////////////////////| BUTTON GROUPS
	.btn-group {
		display: inline-block;
		font-size: 0; //no spaces
		vertical-align: middle;
		font-family: sans-serif;
	}
	.btn-group-input {
		position: absolute;
		z-index: -1; //put the input behind the button
		opacity: 0; //hide

		&:focus + .btn {
			.outline();
			display: inline-block;
		}
		&:hover + .btn {
			outline: none;
		}
	}

	.btn-group-item {
		display: inline-block;
		font-family: @fontfamily;
		margin-bottom: 0; //reset `label` bottom margin
		vertical-align: middle;

		&:not(:last-child) > .btn {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}
		&:not(:first-child) > .btn {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.ie8 & {
			display: inline;

			// Show and align radios
			.btn-group-input {
				position: static; //show
				vertical-align: middle;
			}

			// Disable button 'look'
			> .btn {
				border: none;
				opacity: 1;
				background: none;
				padding: 0 12px 0 6px;
				height: auto;
				vertical-align: middle !important;

				&,
				&:hover {
					color: @color-Text;
				}
			}
		}
	}

	// Button group with leading line text
	.btn-group-wrapper {
		display: table;
		width: 100%;
		vertical-align: middle;

		.btn-group-text,
		.btn-group {
			display: table-cell;
		}
		.btn-group-text {
			padding-right: 12px;
			vertical-align: middle;
		}
		.btn-group {
			text-align: right;
			white-space: nowrap;
			vertical-align: top;
		}
	}

	// Button group block option
	.btn-group-block {
		display: table;
		width: 100%;

		.btn-group-item {
			display: table-cell;
			width: 1%; //the fit better trick

			> .btn {
				width: 100%;
				vertical-align: top;

				.ie8 & {
					width: auto;
				}
			}
		}
	}


	//////////////////////////////////////| BUTTON DROPDOWNS
	.btn-dropdown {
		position: relative;
		display: inline-block;
		vertical-align: middle;

		> .btn {
			text-align: left; //never centred as there will always be a caret (on the right)
		}

		// Caret
		> .btn:after {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			content: '';
			border-top: @buttons-DropdownCaretHeight solid; //nb. no border-color uses text `color` value
			border-right: (@buttons-DropdownCaretWidth / 2) solid transparent;
			border-left: (@buttons-DropdownCaretWidth / 2) solid transparent;
			height: 0;
			width: 0;
			transition: border 0.2s ease;
			top: -1px; //tweak
		}

		// Open dropdown
		&.is-open {
			// Clickable overlay
			> .btn:before {
				content: '';
				position: fixed;
				z-index: 110;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.dropdown-menu {
				display: block;
				box-shadow: 0 6px 12px rgba(0,0,0,.175);
				border: 1px solid @color-Border;
				padding: 12px;
			}
		}
	}

	// Button dropdown block option
	.btn-dropdown-block {
		display: block;
		width: 100%;

		> .btn {
			display: block;
			width: 100%;

			// Caret
			&:after {
				float: right;
				height: 100%;
				transform: translateY(50%);
				margin-top: -(@buttons-DropdownCaretHeight / 2);
				top: 0; //reset tweak

				.ie8 & {
					transform: none;
					margin-top: auto; //reset
					top: 8px; //tweak
				}
			}
		}
	}

	// Dropdown menu
	.dropdown-menu {
		@item-gap: 12px;

		min-width: 190px;
		background-color: #fff;
		border-radius: 3px;
		margin: 3px 0 12px 0;

		&:focus {
			.outline();
		}

		.js & { //no-js fallback
			display: none;
			position: absolute;
			overflow: hidden;
			z-index: 115;
			left: 0;
			right: 0;
		}

		.dropdown-menu-headline { //headlines
			background-color: @color-Background;
			font-size: 12px;
			font-weight: 500;
			padding: 7px;
			margin: 24px -6px 18px -6px;

			&:first-child {
				margin-top: -6px;
			}
		}

		// Checkbox, radio & switch controls
		.checkbox,
		.radio,
		.switch {
			width: 100%;
			margin-right: 0;
			margin-bottom: @item-gap;

			&-text {
				width: 100%; //required for IE8, let's just apply for all
			}

			// Subsequent controls
			+ .checkbox,
			+ .radio,
			+ .switch {
				margin-top: @item-gap;

				// Divider line
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: -@item-gap;
					left: 0;
					right: 0;
					border-top: 1px solid @color-Border;
				}

				&:last-child {
					margin-bottom: 0; //reset
				}
			}
		}

		.lists-linklist a { //linklists
			display: block;
		}

		.btn-group-wrapper + .btn-group-wrapper {
			margin-top: @item-gap;
			padding-top: @item-gap;
			border-top: 1px solid @color-Border;
		}
	}

	.dropdown-menu-small {
		min-width: 130px;
	}
	.dropdown-menu-large {
		min-width: 250px;
	}



	//////////////////////////////////////| PRINT
	@media print {
		.btn {
			.icons-background {
				fill: #000 !important;
			}
		}

		.btn-dropdown > .btn:after {
			border-top-color: #000 !important;
		}

		.btn-group-input:checked + .btn {
			background-color: #000 !important;
			color: #fff !important;
		}
	}
}



/*
 * MAKE BUTTONS
 *
 * create buttons for each version with active, hover and disabled styles
 */
._buttons-make-button(
	@fontcolor,
	@backgroundcolor,
	@bordercolor,
	@active-fontcolor,
	@active-backgroundcolor,
	@active-bordercolor,
	@hover-fontcolor,
	@hover-backgroundcolor,
	@hover-bordercolor
) {
	color: @fontcolor;
	border-color: @bordercolor;
	background-color: @backgroundcolor;
	transition: background 0.2s ease, color 0.2s ease;

	&:hover {
		color: @hover-fontcolor;
		border-color: @hover-bordercolor;
		background-color: @hover-backgroundcolor;

		.icons-background {
			fill: @hover-fontcolor;
		}
	}

	&:active {
		color: @active-fontcolor;
		border-color: @active-bordercolor;
		background-color: @active-backgroundcolor;

		.icons-background {
			fill: @active-fontcolor;
		}
	}

	.icons-background {
		fill: @fontcolor;
	}

	// Specificity required
	.btn-group .btn-group-input:checked + & {
		color: @fontcolor;
		border-color: @bordercolor;
		background-color: @backgroundcolor;

		.icons-background {
			fill: @fontcolor;
		}
	}

	&.disabled,
	&:disabled {
		&:active,
		&:hover {
			color: @fontcolor;
			border-color: @bordercolor;
			background-color: @backgroundcolor;
		}
	}
}


/*
 * BUTTONS SIZES
 *
 * Spit out the width, size and margin of a button for a specified size
 */
._buttons-size( @size ) {
	.getSize() when (@size = small) {
		padding: 3px 9px 4px;
		font-size: 14px;
		height: 30px;

		> .icon {
			@size: 12px;

			font-size: @size;
			width: @size;
			height: @size;
			top: 5px; //tweak

			.ie8 & {
				zoom: unit(@size / @icon-SizeDefault);
			}
		}
	}
	.getSize() when (@size = medium) {
		padding: 5px 12px;
		font-size: 16px;
		height: 36px;

		> .icon {
			@size: 18px;

			font-size: @size;
			height: @size;
			width: @size;
			top: 3px; //tweak

			.ie8 & {
				zoom: unit(@size / @icon-SizeDefault);
			}
		}
	}
	.getSize() when (@size = large) {
		padding: 8px 15px;
		font-size: 16px;
		height: 42px;

		> .icon {
			@size: 24px;

			font-size: @size;
			width: @size;
			height: @size;
			top: 0; //tweak

			.ie8 & {
				zoom: unit(@size / @icon-SizeDefault);
			}
		}
	}
	.getSize() when (@size = xlarge) {
		padding: 9px 18px 10px;
		font-size: 18px;
		height: 48px;

		> .icon {
			@size: 24px;

			font-size: @size;
			width: @size;
			height: @size;
			top: 2px; //tweak

			.ie8 & {
				zoom: unit(@size / @icon-SizeDefault);
			}
		}
	}
	.getSize();
}

/*
 * BLOCK BUTTON
 *
 * Fit to parent container
 */
._buttons-block() {
	display: block;
	width: 100%;
	overflow-x: hidden; //trim text if wider than col
	text-align: center;

	.btn-icon,
	.btn-text {
		float: left;
	}
	.btn-icon + .btn-text,
	.btn-text + .btn-icon {
		float: right
	}
}


//////////////////////////////////////| buttons
._buttons( @brand );