/*! Icons v2.0.1 WBC*/
/*
 * icons mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| icons mixin
._icons( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();

	@icon-SizeXSmall: 12px; //0.5x
	@icon-SizeSmall: 18px; //0.75x
	@icon-SizeMedium: 24px; //1x (default)
	@icon-SizeLarge: 36px; //1.5x
	@icon-SizeXLarge: 48px; //2x

	@icon-SizeDefault: @icon-SizeMedium;	

	@icon-LoadingPulseTime: 1.25s;
	@icon-LoadingCircleWidth: .1em; //relative to the icon size’s font-size



	//////////////////////////////////////| BASE
	.icon {
		._icons-size( @icon-SizeDefault );

		display: inline-block;
		line-height: 1;
		background-size: contain;
		vertical-align: middle;

		svg {
			width: 100%;
			height: 100%;
		}

		// Icons inside links
		a & {
			.icons-background {
				fill: @color-A;
			}
		}

		.ie8 & {
			width: @icon-SizeDefault !important;
			height: @icon-SizeDefault !important;
		}
	}


	//////////////////////////////////////| CSS ICONS

	// Loading
	[class*="icon-loading"] {
		position: relative;

		// Circles
		&:before,
		&:after {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			top: 0;
			left: 0;
			border: @icon-LoadingCircleWidth solid;
			border-radius: 50%;
			animation: ripple @icon-LoadingPulseTime cubic-bezier(0, 0.2, 0.8, 1) infinite;
			will-change: transform, opacity;
			backface-visibility: hidden;
			width: 100%;
			height: 100%;

			// IE8&9 don’t support `animation` and IE8 doesn’t support `border-radius`
			.ie8 &,
			.ie9 & {
				display: none; //hide pseudo-element circles; use static clock icon provided by simple base64’d pngs
			}
		}
		&:after {
			animation-delay: -(@icon-LoadingPulseTime / 2);
		}
	}
	// Dark icon on light background
	.icon-loading {
		&:before,
		&:after {
			color: @color-Muted;
			border-color: @color-Muted;
		}
		.ie8 &,
		.ie9 & {
			// Clock icon
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA5UlEQVR4AZxUAQkDMRB7CSdhEl7CS6iESngJc1AJlTAJlTIJL+FXIEDYDposkAH9ay7k1tsWKJN98j15M3HWUWPjYFESHGD27VDF29fFOhlJXeAbN2sr8Y7Ca/LcdJy4c0MjRSPxXRQuFM1OTVqSuS3+wJ0nnXETngly9GIZEIvfuDA/oNCBipq4zwwXHmxVlOH4gkgsDHTuFoK4aig4FSeeQ6+HcfwMY7BqnOPfBi/TjBORAURkDNkADdn7m/rvpHsPzY+n2KtCAK8Kf9nlyJedsa5t8fYZTSscmlaZdK/0ad5sAQAH9ZUbRlDQpQAAAABJRU5ErkJggg==);
		}
	}
	// Light icon on dark background
	.icon-loading-inverse {
		&:before,
		&:after {
			color: #fff;
			border-color: #fff;
		}
		.ie8 &,
		.ie9 & {
			// Clock icon (inverse)
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAECAwQFBgcICPn6+/3++glGfDAAAAoElEQVR4AXWSURqDIAyD2wk4GSH3v+3EiekeyIt8P2kqBbuVK3gKNVtUwoCtXZ8kfpAoPlZeQB6TV/Zdrr2zTn/fHpyTbf1XkyJ/8W1jZ/QBQ07rPtKIs5YQL6PgMmerLA/3Dr8N1UCfXCYnLCQlrUFjU2eltv+NT/CEqCgwNpeciL8rFdZ4QAnMYSTSTmiI0hyixi5+LC9qfbXrx7B8Pl+3LQjnRIYeCwAAAABJRU5ErkJggg==);
		}
	}
	@keyframes ripple {
		0% {
			transform: scale(0);
			opacity: 1;
		}
		100% {
			transform: scale(1);
			opacity: 0;
		}
	}




	//////////////////////////////////////| SIZING
	.icon-xsmall {
		._icons-size( @icon-SizeXSmall );
	}
	.icon-small {
		._icons-size( @icon-SizeSmall );
	}
	.icon-large {
		._icons-size( @icon-SizeLarge );
	}
	.icon-xlarge {
		._icons-size( @icon-SizeXLarge );
	}

	// Breakpoint and up option
	@media (min-width: @screen-sm) {
		.icon-xsmall-sm {
			._icons-size( @icon-SizeXSmall );
		}
		.icon-small-sm {
			._icons-size( @icon-SizeSmall );
		}
		.icon-medium-sm {
			._icons-size( @icon-SizeMedium );
		}
		.icon-large-sm {
			._icons-size( @icon-SizeLarge );
		}
		.icon-xlarge-sm {
			._icons-size( @icon-SizeXLarge );
		}
	}
	@media (min-width: @screen-md) {
		.icon-xsmall-md {
			._icons-size( @icon-SizeXSmall );
		}
		.icon-small-md {
			._icons-size( @icon-SizeSmall );
		}
		.icon-medium-md {
			._icons-size( @icon-SizeMedium );
		}
		.icon-large-md {
			._icons-size( @icon-SizeLarge );
		}
		.icon-xlarge-md {
			._icons-size( @icon-SizeXLarge );
		}
	}
	@media (min-width: @screen-lg) {
		.icon-xsmall-lg {
			._icons-size( @icon-SizeXSmall );
		}
		.icon-small-lg {
			._icons-size( @icon-SizeSmall );
		}
		.icon-medium-lg {
			._icons-size( @icon-SizeMedium );
		}
		.icon-large-lg {
			._icons-size( @icon-SizeLarge );
		}
		.icon-xlarge-lg {
			._icons-size( @icon-SizeXLarge );
		}
	}

	// This breakpoint only
	@media (max-width: (@screen-sm - 1)) {
		.icon-xsmall-xs-only {
			._icons-size( @icon-SizeXSmall );
		}
		.icon-small-xs-only {
			._icons-size( @icon-SizeSmall );
		}
		.icon-medium-xs-only {
			._icons-size( @icon-SizeMedium );
		}
		.icon-large-xs-only {
			._icons-size( @icon-SizeLarge );
		}
		.icon-xlarge-xs-only {
			._icons-size( @icon-SizeXLarge );
		}
	}
	@media (min-width: @screen-sm) and (max-width: (@screen-md - 1)) {
		.icon-xsmall-sm-only {
			._icons-size( @icon-SizeXSmall );
		}
		.icon-small-sm-only {
			._icons-size( @icon-SizeSmall );
		}
		.icon-medium-sm-only {
			._icons-size( @icon-SizeMedium );
		}
		.icon-large-sm-only {
			._icons-size( @icon-SizeLarge );
		}
		.icon-xlarge-sm-only {
			._icons-size( @icon-SizeXLarge );
		}
	}
	@media (min-width: @screen-md) and (max-width: (@screen-lg - 1)) {
		.icon-xsmall-md-only {
			._icons-size( @icon-SizeXSmall );
		}
		.icon-small-md-only {
			._icons-size( @icon-SizeSmall );
		}
		.icon-medium-md-only {
			._icons-size( @icon-SizeMedium );
		}
		.icon-large-md-only {
			._icons-size( @icon-SizeLarge );
		}
		.icon-xlarge-md-only {
			._icons-size( @icon-SizeXLarge );
		}
	}



	//////////////////////////////////////| PRINT
	@media print {
		.icon {
			.icons-background {
				fill: #000;
			}
		}

		a & {
			.icons-background {
				fill: #000 !important;
			}
		}
	}
}


/*
 * ICON SIZES
 *
 * Spit out the styling of an icon for a specified size
 */
._icons-size( @size ) {
	font-size: @size; //for `.icon-loading` border-width relative sizing
	width: @size;
	height: @size;

	.ie8 & {
		zoom: unit(@size / @icon-SizeDefault);
	}
}


//////////////////////////////////////| icons
._icons( @brand );