/*! Input-Groups v3.0.0 WBC*/
/*
 * input-groups mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| input-groups mixin
._input-groups( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() {
		@input-group-BorderRadius: 3px;
	}
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();



	.input-group {
		position: relative;
		display: table;
		border-collapse: separate;
	}

	// Input, text addon and button/select
	.input-group > .input-field,
	.input-group-addon,
	.input-group-control {
		display: table-cell;

		// Internal bits
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
	}

	// Input
	.input-group .input-field {
		position: relative;
		z-index: 2;
		width: 100%;
		margin-bottom: 0;

		&:focus,
		&:active {
			z-index: 3;
		}

		// Handle side-by-side borders
		+ .input-field,
		+ .input-group-control .input-field {
			margin-left: -1px;
		}	
	}
	.input-group-control:not(:last-child) > select.input-field {
		margin-right: -1px;
	}

	// Text and button/select addon
	.input-group-addon,
	.input-group-control {
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;
	}

	// Text addon
	.input-group-addon {
		background-color: @color-Light;
		border: 1px solid @color-Border;
		font-weight: 400;
		color: @color-Text;
		font-family: @fontfamily;
		border-radius: @input-group-BorderRadius;
		line-height: 1.5;
		padding: 5px 12px;
		font-size: 16px;
		height: 36px;
	}

	// Button/select addon
	.input-group-control {
		position: relative;
		// Jankily prevent input button groups from wrapping with `white-space` and
		// `font-size` in combination with `inline-block` on buttons.
		font-size: 0;
		white-space: nowrap;

		> .btn {
			width: 100%; //fill required because of table-cell off-pixel thang
		}
		> .input-field {
			width: auto; //select can size itself
		}
	}


	//////////////////////////////////////| SIZING
	.input-group-small {
		.input-group-addon,
		.input-group-control > .btn {
			padding: 3px 9px 4px;
			font-size: 14px;
			height: 30px;
		}
	}
	.input-group-large {
		.input-group-addon,
		.input-group-control > .btn {
			padding: 8px 15px;
			font-size: 16px;
			height: 42px;
		}
	}
	.input-group-xlarge {
		.input-group-addon,
		.input-group-control > .btn {
			padding: 9px 18px 10px;
			font-size: 18px;
			height: 48px;
		}
	}


	// Reset rounded corners
	.input-group .input-field:not(:last-child),
	.input-group-addon:not(:last-child),
	.input-group-control:not(:last-child) > .btn,
	.input-group-control:not(:last-child) > select.input-field,
	.input-group-control:not(:last-child) > .btn-group > .btn,
	.input-group-control:not(:first-child) > .btn-group:not(:last-child) > .btn {
	  border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.input-group-addon:not(:last-child) {
	  border-right: none;
	}
	.input-group .input-field:not(:first-child),
	.input-group-addon:not(:first-child),
	.input-group-control:not(:first-child) > .btn,
	.input-group-control:not(:first-child) > select.input-field,
	.input-group-control:not(:first-child) > .btn-group > .btn,
	.input-group-control:not(:last-child) > .btn:not(:first-child),
	.input-group-control:not(:last-child) > .btn-group:not(:first-child) > .btn {
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.input-field + .input-group-addon:not(:first-child) {
	  border-left: none;
	}



	//////////////////////////////////////| FORMS
	// Inline forms
	.form-inline {

		// Kick in the inline
		@media (min-width: @screen-sm) {
			.input-group {
				display: inline-block;
				width: auto;
				vertical-align: middle;
				font-size: 0; //no spaces
			}
			.input-group > .input-field,
			.input-group-addon,
			.input-group-control {
				display: inline-block;
				width: auto;
			}
		}
	}

}




//////////////////////////////////////| input-groups
._input-groups( @brand );