/*! Labels v2.0.5 WBC*/
/*
 * labels mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| labels mixin
._labels( @brand ) {

	/*
	 *  SETTINGS
	 */

	//////////////////////////////////////| PRIMARY
	@primary-fontcolor: #fff;
	@primary-backgroundcolor: @color-A;

	//////////////////////////////////////| HERO
	@hero-backgroundcolor: @color-B;

	//////////////////////////////////////| NEUTRAL
	@neutral-fontcolor: #fff;
	@neutral-backgroundcolor: @color-C;

	//////////////////////////////////////| FAINT
	@faint-fontcolor: @color-Muted;
	@faint-backgroundcolor: #fff;
	@faint-bordercolor: @color-Border;
	@faint-borderwidth: 1px;

	//////////////////////////////////////| SUCCESS
	@success-fontcolor: #fff;
	@success-backgroundcolor: @color-Success;

	//////////////////////////////////////| INFORMATION
	@info-fontcolor: #fff;
	@info-backgroundcolor: @color-Info;

	//////////////////////////////////////| WARNING
	@warning-fontcolor: #fff;
	@warning-backgroundcolor: @color-Warning;

	//////////////////////////////////////| DANGER
	@danger-fontcolor: #fff;
	@danger-backgroundcolor: @color-Danger;


	.getBrand() {
		@hero-fontcolor: #fff;
	}
	.getBrand() when (@brand = BOM) {}
	.getBrand() when (@brand = BSA) {}
	.getBrand() when (@brand = STG) {
		@hero-fontcolor: @color-F;
	}
	.getBrand() when (@brand = WBC) {}
	.getBrand() when (@brand = WBG) {}
	.getBrand() when (@brand = BT) {}
	.getBrand();



	.label {
		display: inline;
		padding: 1px 6px;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: 2px;

		// Default (no type) label
		._labels-make-label(
			#fff,
			@color-A
		);

		&:empty {
			display: none;
		}

		a& {
			text-decoration: none;

			&:hover,
			&:focus {
				cursor: pointer;
			}
		}
	}

	//  Types
	.label-primary {
		._labels-make-label(
			@primary-fontcolor,
			@primary-backgroundcolor
		);
	}
	.label-hero {
		._labels-make-label(
			@hero-fontcolor,
			@hero-backgroundcolor
		);
	}
	.label-neutral {
		._labels-make-label(
			@neutral-fontcolor,
			@neutral-backgroundcolor
		);
	}
	.label-faint {
		._labels-make-label(
			@faint-fontcolor,
			@faint-backgroundcolor,
			@faint-bordercolor
		);
	}

	// Alert types
	.label-success {
		._labels-make-label(
			@success-fontcolor,
			@success-backgroundcolor
		);
	}
	.label-info {
		._labels-make-label(
			@info-fontcolor,
			@info-backgroundcolor
		);
	}
	.label-warning {
		._labels-make-label(
			@warning-fontcolor,
			@warning-backgroundcolor
		);
	}
	.label-danger {
		._labels-make-label(
			@danger-fontcolor,
			@danger-backgroundcolor
		);
	}


	//////////////////////////////////////| PRINT
	@media print {
		.label {
			color: #000;
			background-color: #fff;
			border: 1px solid #000;
		}
	}
}

/*
 * MAKE LABELS
 *
 * create labels for each version
 */
._labels-make-label(
	@fontcolor,
	@backgroundcolor,
	@bordercolor: @backgroundcolor,
) {	
	color: @fontcolor;
	background-color: @backgroundcolor;
	border: 1px solid @bordercolor;

	&[href]:not(.label-faint) {
		&:hover,
		&:focus {
			background-color: mix(@backgroundcolor, white, 50%);
			border-color: mix(@backgroundcolor, white, 50%);
		}
	}
	a& {
		&:hover,
		&:focus {
			color: @fontcolor;
		}
	}	
}

//////////////////////////////////////| labels
._labels( @brand );