/*! Popovers v2.0.3 WBC*/
/*
 * popovers mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| popovers mixin
._popovers( @brand ) {

	/*
	 *  SETTINGS
	 */
	@popover-Width: 282px;
	@popover-BorderWidth: 1px;
	@popover-BorderRadius: 3px;
	@popover-Gap: 3px;
	@pointer-Width: 16px;
	@pointer-Height: 12px;
	@pointer-Stroke: 2px;

	
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();




	.popover-wrapper {
		display: inline-block;
		position: relative;
	}

	.is-open {
		//////////////////////////////////////| DISMISSIBLE
		.popover.popover-dismissible {
			&:after {
				content: " ";
				position: fixed;
				z-index: 100;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: transparent;
			}
		}

		//////////////////////////////////////| POSITIONING
		&.is-bottom {
			.popover-popup {
				bottom: auto;
				top: 100%;
				margin-top: (@pointer-Height + @popover-Gap);
				margin-bottom: 0; //reset

				&:before,
				&:after {
					bottom: auto;
					top: -(@pointer-Height + (@pointer-Stroke / 2));
					border-top: none;
					border-bottom: @pointer-Height solid @color-Muted;
				}

				&:after {
					display: none;
				}
			}
		}
	}

	.popover-popup {
		position: absolute;
		display: block;
		left: 50%;
		bottom: 100%;
		width: @popover-Width;
		margin-bottom: (@pointer-Height + @popover-Gap);
		margin-left: -(@popover-Width / 2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		border-radius: @popover-BorderRadius;
		border: @popover-BorderWidth solid @color-Muted;
		z-index: 105;
		background-color: #fff;
		pointer-events: all;
		transform: translateZ(0);

		&:focus {
			.outline();
		}
		
		// triangle
		&:before,
		&:after {
			content: " ";
			position: absolute;
			bottom: -(@pointer-Height - (@pointer-Stroke / 2));
			left: 50%;
			margin-left: -(@pointer-Width / 2);
			width: 0;
			border-top: @pointer-Height solid #fff;
			border-right: (@pointer-Width / 2) solid transparent;
			border-left: (@pointer-Width / 2) solid transparent;
			font-size: 0;
			line-height: 0;
			z-index: 105;
		}

		&:before {
			bottom: -(@pointer-Height + (@pointer-Stroke / 2));
			border-top-color: @color-Muted;
			z-index: 105;
		}

		.popover-popup-title,
		.popover-popup-body {
			display: block;
			white-space: normal;
			padding: 10px 12px;
			margin: 0;
			text-align: left;
			color: @color-Text;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.428571429;
		}

		.popover-popup-title {
			background-color: @color-Muted;
			color: #fff;
			font-size: 16px;
			font-weight: 400;
		}

		.popover-popup-body {
			min-height: 60px;
			padding-bottom: 18px;
		}

		.js & {
			display: none;
		}

		.no-js & {
			position: static;
			margin-left: 12px;
			box-shadow: none;
			float: right;

			&:before,
			&:after {
				display: none;
			}
		}

		.is-open & {
			display: block;
		}

	}


	//////////////////////////////////////| PRINT
	@media print {
		.popover-popup-title {
			border-bottom: 1px solid #000;
		}
	}
}


//////////////////////////////////////| popovers
._popovers( @brand );