/*! Symbols v3.0.0 WBC*/
/*
 * symbols mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| symbols mixin
._symbols( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();


	// Base
	.symbol {
		display: inline-block;		
	}

	// Symbol varieties
	.symbol-american-express {
		width: 80px;
		height: 70px;
	}
	.symbol-logo-alt {
		width: 180px;
		height: 65px;
	}
	.symbol-logo-phone {
		width: 88px;
		height: 42px;
	}
	.symbol-logo-tablet {
		width: 180px;
		height: 65px;
	}
	.symbol-master-card {
		width: 80px;
		height: 50px;
	}
	.symbol-master-card-horizontal {
		width: 160px;
		height: 28px;
	}
	.symbol-master-card-accepted {
		width: 80px;
		height: 50px;
	}
	.symbol-store-apple {
		width: 170px;
		height: 58px;
	}
	.symbol-store-google {
		width: 170px;
		height: 58px;
	}
	.symbol-store-windows {
		width: 170px;
		height: 58px;
	}
	.symbol-visa {
		width: 80px;
		height: 26px;
	}
	.symbol-visa-white {
		width: 80px;
		height: 37px;
	}
	.symbol-visa-blue {
		width: 80px;
		height: 37px;
	}
	.symbol-twitter {
		width: 32px;
		height: 32px;
	}
	.symbol-facebook {
		width: 32px;
		height: 32px;
	}
	.symbol-linkedin {
		width: 32px;
		height: 32px;
	}
	.symbol-google-plus {
		width: 32px;
		height: 32px;
	}
	.symbol-youtube {
		width: 32px;
		height: 32px;
	}
	.symbol-instagram {
		width: 32px;
		height: 32px;
	}
	.symbol-slack {
		width: 32px;
		height: 32px;
	}
	.symbol-yammer {
		width: 32px;
		height: 32px;
	}

	// Sizing
	.symbol-size-lg {
		background-size: 200% 200%;
	}
	.symbol-size-sm {
		background-size: 50% 50%;
	}
}


//////////////////////////////////////| symbols
._symbols( @brand );