/*! Symbols v3.0.1 WBC*/
/*
 * symbols mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| symbols mixin
._symbols( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();


	// Base
	.symbol {
		display: inline-block;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	// Symbol varieties
	.symbol-american-express {
		width: 80px;
		height: 70px;
	}
	.symbol-bpay-port {
		width: 60px;
		height: 88px;
	}
	.symbol-bpay-land {
		width: 116px;
		height: 54px;
	}
	.symbol-logo-alt,
	.symbol-logo-tablet {
		width: 180px;
		height: 65px;
	}
	.symbol-logo-phone {
		width: 88px;
		height: 42px;
	}
	.symbol-master-card,
	.symbol-master-card-accepted {
		width: 80px;
		height: 50px;
	}
	.symbol-master-card-horizontal {
		width: 160px;
		height: 28px;
	}
	.symbol-store-apple,
	.symbol-store-apple-inverse,
	.symbol-store-windows {
		width: 170px;
		height: 58px;
	}
	.symbol-store-google {
		width: 170px;
		height: 50px;
	}
	.symbol-visa {
		width: 80px;
		height: 26px;
	}
	.symbol-visa-white,
	.symbol-visa-blue {
		width: 80px;
		height: 37px;
	}
	.symbol-twitter,
	.symbol-facebook,
	.symbol-linkedin,
	.symbol-google-plus,
	.symbol-youtube,
	.symbol-instagram,
	.symbol-slack,
	.symbol-yammer {
		width: 32px;
		height: 32px;
	}
}


//////////////////////////////////////| symbols
._symbols( @brand );