/*! Tooltips v2.0.3 WBC*/
/*
 * tooltips mixins
 *
 */

@brand: WBC;


//////////////////////////////////////| tooltips mixin
._tooltips( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		// @test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		// @test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		// @test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		// @test: 'WBC';
	}
	.getBrand() when (@brand = WBG) {
		// @test: 'WBG';
	}
	.getBrand() when (@brand = BT) {
		// @test: 'BT';
	}
	.getBrand();



	.tooltip {
		position: relative;

		&:focus {
			.outline();
		}

		// Use title attribute to populate :after pseudo-element
		&:after {
			content: ' (' attr(title) ')';
			display: inline;
			font-style: italic;
			color: @color-Muted;


			// Hide for tooltips attached to icons and buttons
			.icon&,
			.btn& {
				display: none; //hide
			}
		}

		@media (min-width: @screen-sm) {
			&:after {
				display: none; //hide
			}

			&:hover,
			&:focus,
			&:active {
				cursor: help;

				.tooltip-bubble {
					visibility: visible; //show
					opacity: 0.9;
				}
			}
		}
	}
}

.tooltip-bubble {
	position: absolute;
	bottom: 110%;
	left: 50%;
	margin: 0 0 6px -150px;
	color: #fff;
	background-color: #000;
	padding: 7px;
	width: 300px;
	border-radius: 3px;
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
	visibility: hidden;
	opacity: 0;
	white-space: normal;
	pointer-events: none;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	transition-delay: 100ms;
	z-index: 100;

	// Bubble element
	&:after {
		content: '';
		margin-left: -5px;
		width: 0;
		border-top: 5px solid #000;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		font-size: 0;
		line-height: 0;
		position: absolute;
		bottom: -5px;
		left: 50%;
	}
}


//////////////////////////////////////| tooltips
._tooltips( @brand );