.icon-credit-card,
.symbol-credit-card { background-image: url('../img/credit-card.png'); background-repeat: no-repeat; }

.icon-dollar,
.symbol-dollar { background-image: url('../img/dollar.png'); background-repeat: no-repeat; }

.icon-growth,
.symbol-growth { background-image: url('../img/growth.png'); background-repeat: no-repeat; }

.icon-limit,
.symbol-limit { background-image: url('../img/limit.png'); background-repeat: no-repeat; }

.icon-money-in,
.symbol-money-in { background-image: url('../img/money-in.png'); background-repeat: no-repeat; }

.icon-money-out,
.symbol-money-out { background-image: url('../img/money-out.png'); background-repeat: no-repeat; }

.icon-percent,
.symbol-percent { background-image: url('../img/percent.png'); background-repeat: no-repeat; }

.icon-save,
.symbol-save { background-image: url('../img/save.png'); background-repeat: no-repeat; }

.icon-super,
.symbol-super { background-image: url('../img/super.png'); background-repeat: no-repeat; }

.icon-switch,
.symbol-switch { background-image: url('../img/switch.png'); background-repeat: no-repeat; }

