.icon-book { background-image: url('../img/icon-book.png'); background-repeat: no-repeat; }

.icon-compass { background-image: url('../img/icon-compass.png'); background-repeat: no-repeat; }

.icon-cross { background-image: url('../img/icon-cross.png'); background-repeat: no-repeat; }

.icon-cube { background-image: url('../img/icon-cube.png'); background-repeat: no-repeat; }

.icon-global { background-image: url('../img/icon-global.png'); background-repeat: no-repeat; }

.icon-idea { background-image: url('../img/icon-idea.png'); background-repeat: no-repeat; }

.icon-key { background-image: url('../img/icon-key.png'); background-repeat: no-repeat; }

.icon-more { background-image: url('../img/icon-more.png'); background-repeat: no-repeat; }

.icon-umbrella { background-image: url('../img/icon-umbrella.png'); background-repeat: no-repeat; }

.icon-wallet { background-image: url('../img/icon-wallet.png'); background-repeat: no-repeat; }

