.logo-bom-shield,
.symbol-bom-shield { background-image: url('../img/bom-shield.png'); background-repeat: no-repeat; }

.logo-bom,
.symbol-bom { background-image: url('../img/bom.png'); background-repeat: no-repeat; }

.logo-bsa-stacked,
.symbol-bsa-stacked { background-image: url('../img/bsa-stacked.png'); background-repeat: no-repeat; }

.logo-bsa,
.symbol-bsa { background-image: url('../img/bsa.png'); background-repeat: no-repeat; }

.logo-bt-stacked,
.symbol-bt-stacked { background-image: url('../img/bt-stacked.png'); background-repeat: no-repeat; }

.logo-bt,
.symbol-bt { background-image: url('../img/bt.png'); background-repeat: no-repeat; }

.logo-stg-dragon,
.symbol-stg-dragon { background-image: url('../img/stg-dragon.png'); background-repeat: no-repeat; }

.logo-stg,
.symbol-stg { background-image: url('../img/stg.png'); background-repeat: no-repeat; }

.logo-wbc-live,
.symbol-wbc-live { background-image: url('../img/wbc-live.png'); background-repeat: no-repeat; }

.logo-wbc,
.symbol-wbc { background-image: url('../img/wbc.png'); background-repeat: no-repeat; }

.logo-wbg,
.symbol-wbg { background-image: url('../img/wbg.png'); background-repeat: no-repeat; }

