.icon-download { background-image: url('../img/icon-download.png'); background-repeat: no-repeat; }

.icon-new-window { background-image: url('../img/icon-new-window.png'); background-repeat: no-repeat; }

.icon-refresh { background-image: url('../img/icon-refresh.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('../img/icon-search.png'); background-repeat: no-repeat; }

.icon-upload { background-image: url('../img/icon-upload.png'); background-repeat: no-repeat; }

.icon-write { background-image: url('../img/icon-write.png'); background-repeat: no-repeat; }

