.symbol-alarm { background-image: url('../img/alarm.png'); background-repeat: no-repeat; }

.symbol-australia { background-image: url('../img/australia.png'); background-repeat: no-repeat; }

.symbol-chat { background-image: url('../img/chat.png'); background-repeat: no-repeat; }

.symbol-clock { background-image: url('../img/clock.png'); background-repeat: no-repeat; }

.symbol-edit { background-image: url('../img/edit.png'); background-repeat: no-repeat; }

.symbol-email { background-image: url('../img/email.png'); background-repeat: no-repeat; }

.symbol-id-card { background-image: url('../img/id-card.png'); background-repeat: no-repeat; }

.symbol-padlock { background-image: url('../img/padlock.png'); background-repeat: no-repeat; }

.symbol-print { background-image: url('../img/print.png'); background-repeat: no-repeat; }

.symbol-sms { background-image: url('../img/sms.png'); background-repeat: no-repeat; }

.symbol-stopwatch { background-image: url('../img/stopwatch.png'); background-repeat: no-repeat; }

.symbol-telephone { background-image: url('../img/telephone.png'); background-repeat: no-repeat; }

