.icon-accessibility,
.symbol-accessibility { background-image: url('../img/accessibility.png'); background-repeat: no-repeat; }

.icon-car,
.symbol-car { background-image: url('../img/car.png'); background-repeat: no-repeat; }

.icon-geolocation,
.symbol-geolocation { background-image: url('../img/geolocation.png'); background-repeat: no-repeat; }

.icon-map-pin,
.symbol-map-pin { background-image: url('../img/map-pin.png'); background-repeat: no-repeat; }

.icon-map,
.symbol-map { background-image: url('../img/map.png'); background-repeat: no-repeat; }

.icon-transport,
.symbol-transport { background-image: url('../img/transport.png'); background-repeat: no-repeat; }

.icon-walk,
.symbol-walk { background-image: url('../img/walk.png'); background-repeat: no-repeat; }

.icon-wheelchair,
.symbol-wheelchair { background-image: url('../img/wheelchair.png'); background-repeat: no-repeat; }

