.logo-bom-alt,
.symbol-bom-alt { background-image: url('../img/bom-alt.png'); background-repeat: no-repeat; }

.logo-bom-phone,
.symbol-bom-phone { background-image: url('../img/bom-phone.png'); background-repeat: no-repeat; }

.logo-bom-tablet,
.symbol-bom-tablet { background-image: url('../img/bom-tablet.png'); background-repeat: no-repeat; }

.logo-bsa-alt,
.symbol-bsa-alt { background-image: url('../img/bsa-alt.png'); background-repeat: no-repeat; }

.logo-bsa-phone,
.symbol-bsa-phone { background-image: url('../img/bsa-phone.png'); background-repeat: no-repeat; }

.logo-bsa-tablet,
.symbol-bsa-tablet { background-image: url('../img/bsa-tablet.png'); background-repeat: no-repeat; }

.logo-stg-alt,
.symbol-stg-alt { background-image: url('../img/stg-alt.png'); background-repeat: no-repeat; }

.logo-stg-phone,
.symbol-stg-phone { background-image: url('../img/stg-phone.png'); background-repeat: no-repeat; }

.logo-stg-tablet,
.symbol-stg-tablet { background-image: url('../img/stg-tablet.png'); background-repeat: no-repeat; }

.logo-wbc-alt,
.symbol-wbc-alt { background-image: url('../img/wbc-alt.png'); background-repeat: no-repeat; }

.logo-wbc-phone,
.symbol-wbc-phone { background-image: url('../img/wbc-phone.png'); background-repeat: no-repeat; }

.logo-wbc-tablet,
.symbol-wbc-tablet { background-image: url('../img/wbc-tablet.png'); background-repeat: no-repeat; }

