.icon-alert { background-image: url('../img/icon-alert.png'); background-repeat: no-repeat; }

.icon-help { background-image: url('../img/icon-help.png'); background-repeat: no-repeat; }

.icon-info { background-image: url('../img/icon-info.png'); background-repeat: no-repeat; }

