.symbol-american-express { background-image: url('../img/symbol-american-express.png'); background-repeat: no-repeat; }

.symbol-bpay-land { background-image: url('../img/symbol-bpay-land.png'); background-repeat: no-repeat; }

.symbol-bpay-port { background-image: url('../img/symbol-bpay-port.png'); background-repeat: no-repeat; }

.symbol-facebook { background-image: url('../img/symbol-facebook.png'); background-repeat: no-repeat; }

.symbol-google-plus { background-image: url('../img/symbol-google-plus.png'); background-repeat: no-repeat; }

.symbol-instagram { background-image: url('../img/symbol-instagram.png'); background-repeat: no-repeat; }

.symbol-linkedin { background-image: url('../img/symbol-linkedin.png'); background-repeat: no-repeat; }

.symbol-master-card-accepted { background-image: url('../img/symbol-master-card-accepted.png'); background-repeat: no-repeat; }

.symbol-master-card-horizontal { background-image: url('../img/symbol-master-card-horizontal.png'); background-repeat: no-repeat; }

.symbol-master-card { background-image: url('../img/symbol-master-card.png'); background-repeat: no-repeat; }

.symbol-payid { background-image: url('../img/symbol-payid.png'); background-repeat: no-repeat; }

.symbol-slack { background-image: url('../img/symbol-slack.png'); background-repeat: no-repeat; }

.symbol-store-apple-inverse { background-image: url('../img/symbol-store-apple-inverse.png'); background-repeat: no-repeat; }

.symbol-store-apple { background-image: url('../img/symbol-store-apple.png'); background-repeat: no-repeat; }

.symbol-store-google { background-image: url('../img/symbol-store-google.png'); background-repeat: no-repeat; }

.symbol-store-windows { background-image: url('../img/symbol-store-windows.png'); background-repeat: no-repeat; }

.symbol-twitter { background-image: url('../img/symbol-twitter.png'); background-repeat: no-repeat; }

.symbol-visa-blue { background-image: url('../img/symbol-visa-blue.png'); background-repeat: no-repeat; }

.symbol-visa-white { background-image: url('../img/symbol-visa-white.png'); background-repeat: no-repeat; }

.symbol-visa { background-image: url('../img/symbol-visa.png'); background-repeat: no-repeat; }

.symbol-yammer { background-image: url('../img/symbol-yammer.png'); background-repeat: no-repeat; }

.symbol-youtube { background-image: url('../img/symbol-youtube.png'); background-repeat: no-repeat; }

