.symbol-house { background-image: url('../img/house.png'); background-repeat: no-repeat; }

.icon-people,
.symbol-people { background-image: url('../img/people.png'); background-repeat: no-repeat; }

.icon-person,
.symbol-person { background-image: url('../img/person.png'); background-repeat: no-repeat; }

