.icon-business-person,
.symbol-business-person { background-image: url('../img/business-person.png'); background-repeat: no-repeat; }

.icon-eftpos,
.symbol-eftpos { background-image: url('../img/eftpos.png'); background-repeat: no-repeat; }

.icon-office,
.symbol-office { background-image: url('../img/office.png'); background-repeat: no-repeat; }

.icon-shop,
.symbol-shop { background-image: url('../img/shop.png'); background-repeat: no-repeat; }

