.icon-add,
.symbol-add { background-image: url('../img/add.png'); background-repeat: no-repeat; }

.icon-backspace,
.symbol-backspace { background-image: url('../img/backspace.png'); background-repeat: no-repeat; }

.icon-close,
.symbol-close { background-image: url('../img/close.png'); background-repeat: no-repeat; }

.icon-download,
.symbol-download { background-image: url('../img/download.png'); background-repeat: no-repeat; }

.icon-new-window,
.symbol-new-window { background-image: url('../img/new-window.png'); background-repeat: no-repeat; }

.icon-pause,
.symbol-pause { background-image: url('../img/pause.png'); background-repeat: no-repeat; }

.icon-play,
.symbol-play { background-image: url('../img/play.png'); background-repeat: no-repeat; }

.icon-plus,
.symbol-plus { background-image: url('../img/plus.png'); background-repeat: no-repeat; }

.icon-refresh,
.symbol-refresh { background-image: url('../img/refresh.png'); background-repeat: no-repeat; }

.icon-remove,
.symbol-remove { background-image: url('../img/remove.png'); background-repeat: no-repeat; }

.icon-upload,
.symbol-upload { background-image: url('../img/upload.png'); background-repeat: no-repeat; }

.icon-write,
.symbol-write { background-image: url('../img/write.png'); background-repeat: no-repeat; }

