/*![Module-Version-Brand]*/
/*
 * images mixins
 *
 * doc comment with stuff and stuff
 *
 */


//////////////////////////////////////| images STYLES
._images( @brand ) {

	/*
	 *  SETTINGS
	 */
	.getBrand() when (@brand = BOM) {
		@test: 'BOM';
	}
	.getBrand() when (@brand = BSA) {
		@test: 'BSA';
	}
	.getBrand() when (@brand = STG) {
		@test: 'STG';
	}
	.getBrand() when (@brand = WBC) {
		@test: 'WBC';
	}
	.getBrand();



	.images {
		content: @test;
	}
}