.icon-house { background-image: url('../img/icon-house.png'); background-repeat: no-repeat; }

.icon-people { background-image: url('../img/icon-people.png'); background-repeat: no-repeat; }

.icon-person { background-image: url('../img/icon-person.png'); background-repeat: no-repeat; }

