/*
 * Testing colors for _colors v1.0.1 WBC
 */
/* ---------------------------------------| COLORS |--------------------------------------- */
/*!_colors v1.0.1 WBC*/
.written-by {
  content: 'Dominik Wilkowski, Justin Spencer, Kate T MacDonald';
  color: #BADA55;
}
/*!_colors v1.0.1 WBC*/
.body-font {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
.brand-font {
  font-family: "Times New Roman", "Times", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
/*!_colors v1.0.1 WBC*/
.clearfix:before,
.clearfix:after,
.container-fluid:before,
.container-fluid:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 744px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1164px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.row {
  margin-left: -6px;
  margin-right: -6px;
}
@media (min-width: 768px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 992px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
@media (min-width: 1200px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
@media (min-width: 768px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.container {
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 768px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 992px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}
/*!_colors v1.0.1 WBC*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
	 * 1. Set default font family to sans-serif.
	 * 2. Prevent iOS text size adjust after orientation change, without disabling
	 *    user zoom.
	 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
	 * Remove default margin.
	 */
body {
  margin: 0;
}
/* HTML5 display definitions
		 ========================================================================== */
/**
	 * Correct `block` display not defined for any HTML5 element in IE 8/9.
	 * Correct `block` display not defined for `details` or `summary` in IE 10/11
	 * and Firefox.
	 * Correct `block` display not defined for `main` in IE 11.
	 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
	 * 1. Correct `inline-block` display not defined in IE 8/9.
	 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
	 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
	 * Prevent modern browsers from displaying `audio` without controls.
	 * Remove excess height in iOS 5 devices.
	 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
	 * Address `[hidden]` styling not present in IE 8/9/10.
	 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
	 */
[hidden],
template {
  display: none;
}
/* Links
		 ========================================================================== */
/**
	 * Remove the gray background color from active links in IE 10.
	 */
a {
  background-color: transparent;
}
/**
	 * Improve readability when focused and also mouse hovered in all browsers.
	 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
		 ========================================================================== */
/**
	 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
	 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
	 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
	 */
b,
strong {
  font-weight: bold;
}
/**
	 * Address styling not present in Safari and Chrome.
	 */
dfn {
  font-style: italic;
}
/**
	 * Address variable `h1` font-size and margin within `section` and `article`
	 * contexts in Firefox 4+, Safari, and Chrome.
	 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
	 * Address styling not present in IE 8/9.
	 */
mark {
  background: #ff0;
  color: #000;
}
/**
	 * Address inconsistent and variable font size in all browsers.
	 */
small {
  font-size: 80%;
}
/**
	 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
	 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
		 ========================================================================== */
/**
	 * Remove border when inside `a` element in IE 8/9/10.
	 */
img {
  border: 0;
}
/**
	 * Correct overflow not hidden in IE 9/10/11.
	 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
		 ========================================================================== */
/**
	 * Address margin not present in IE 8/9 and Safari.
	 */
figure {
  margin: 1em 40px;
}
/**
	 * Address differences between Firefox and other browsers.
	 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
	 * Contain overflow in all browsers.
	 */
/**
	 * Address odd `em`-unit font size rendering in all browsers.
	 */
/* Forms
		 ========================================================================== */
/**
	 * Known limitation: by default, Chrome and Safari on OS X allow very limited
	 * styling of `select`, unless a `border` property is set.
	 */
/**
	 * 1. Correct color not being inherited.
	 *    Known issue: affects color of disabled elements.
	 * 2. Correct font properties not being inherited.
	 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
	 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
	 * Address `overflow` set to `hidden` in IE 8/9/10/11.
	 */
button {
  overflow: visible;
}
/**
	 * Address inconsistent `text-transform` inheritance for `button` and `select`.
	 * All other form control elements do not inherit `text-transform` values.
	 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
	 * Correct `select` style inheritance in Firefox.
	 */
button,
select {
  text-transform: none;
}
/**
	 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
	 *    and `video` controls.
	 * 2. Correct inability to style clickable `input` types in iOS.
	 * 3. Improve usability and consistency of cursor style between image-type
	 *    `input` and others.
	 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
	 * Re-set default cursor for disabled elements.
	 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
	 * Remove inner padding and border in Firefox 4+.
	 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
	 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
	 * the UA stylesheet.
	 */
input {
  line-height: normal;
}
/**
	 * It's recommended that you don't attempt to style these elements.
	 * Firefox's implementation doesn't respect box-sizing, padding, or width.
	 *
	 * 1. Address box sizing set to `content-box` in IE 8/9/10.
	 * 2. Remove excess padding in IE 8/9/10.
	 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
	 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
	 * `font-size` values of the `input`, it causes the cursor style of the
	 * decrement button to change from `default` to `text`.
	 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
	 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
	 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
	 *    (include `-moz` to future-proof).
	 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
	 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
	 * Safari (but not Chrome) clips the cancel button when the search input has
	 * padding (and `textfield` appearance).
	 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
	 * Define consistent border, margin, and padding.
	 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
	 * 1. Correct `color` not being inherited in IE 8/9/10/11.
	 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
	 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
	 * Remove default vertical scrollbar in IE 8/9/10/11.
	 */
textarea {
  overflow: auto;
}
/**
	 * Don't inherit the `font-weight` (applied by a rule above).
	 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
	 */
optgroup {
  font-weight: bold;
}
/* Tables
		 ========================================================================== */
/**
	 * Remove most spacing between table cells.
	 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.h1,
h1 {
  font-size: 30px;
  color: #621a4b;
  font-family: "Times New Roman", "Times", "Helvetica Neue", "Roboto", Arial, sans-serif;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .h1,
  h1 {
    font-size: 36px;
  }
}
.h1.body-font,
h1.body-font {
  font-weight: 300;
}
.h2,
h2 {
  font-size: 24px;
  color: #621a4b;
  font-family: "Times New Roman", "Times", "Helvetica Neue", "Roboto", Arial, sans-serif;
  margin-top: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .h2,
  h2 {
    font-size: 30px;
  }
}
.h2.body-font,
h2.body-font {
  font-weight: 300;
}
.h3,
h3 {
  font-size: 18px;
  color: #621a4b;
  font-family: "Times New Roman", "Times", "Helvetica Neue", "Roboto", Arial, sans-serif;
  margin-top: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .h3,
  h3 {
    font-size: 24px;
  }
}
.h3.body-font,
h3.body-font {
  font-weight: 300;
}
.h4,
h4 {
  font-size: 16px;
  color: #621a4b;
  font-family: "Times New Roman", "Times", "Helvetica Neue", "Roboto", Arial, sans-serif;
  margin-top: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .h4,
  h4 {
    font-size: 18px;
  }
}
.h4.body-font,
h4.body-font {
  font-weight: 400;
}
.h5,
h5 {
  font-size: 16px;
  color: #621a4b;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: 500;
}
.h5.body-font,
h5.body-font {
  font-weight: 500;
}
.h6,
h6 {
  font-size: 14px;
  color: #621a4b;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: 700;
}
.h6.body-font,
h6.body-font {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
html {
  font-size: 6px;
}
body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #2d373e;
  background-color: #f4f3f0;
  font-family: "Helvetica Neue", "Roboto", Arial, sans-serif;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #2d373e;
}
address {
  font-style: normal;
}
blockquote {
  font-size: 16px;
  font-weight: 300;
}
::-moz-selection {
  background-color: #f7ccd5;
}
::selection {
  background-color: #f7ccd5;
}
::-moz-selection {
  background-color: #f7ccd5;
}
::selection {
  background-color: #f7ccd5;
}
::-moz-selection {
  background-color: #f7ccd5;
}
a {
  color: #d5002b;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #d5002b;
  text-decoration: underline;
}
a:focus {
  outline: none;
  color: #d5002b;
}
.is-keyboarduser a:focus {
  outline: 2px dotted #000;
  outline-offset: 0.5rem;
}
.is-keyboarduser a:focus {
  background-color: #fff;
}
a:hover {
  outline: none;
  background-color: transparent;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: #fff !important;
    box-shadow: none !important;
    border-color: #000 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding: 6px;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  p a {
    word-wrap: break-word;
  }
  select {
    background: #fff !important;
  }
  .container,
  .container-fluid {
    margin: auto;
    width: auto;
  }
}
.written-by {
  content: 'Dominik Wilkowski, Justin Spencer, Kate T MacDonald';
  color: #BADA55;
}
.colors {
  padding: 12px;
}
.colors:after {
  float: right;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6px;
  text-transform: uppercase;
  min-width: 75px;
  display: inline-block;
  text-align: center;
}
.color-A {
  background-color: #d5002b;
}
.color-A:after {
  content: "#d5002b";
}
.color-A-90 {
  background-color: #d91940;
}
.color-A-90:after {
  content: "#d91940";
}
.color-A-80 {
  background-color: #dd3355;
}
.color-A-80:after {
  content: "#dd3355";
}
.color-A-70 {
  background-color: #e24d6b;
}
.color-A-70:after {
  content: "#e24d6b";
}
.color-A-60 {
  background-color: #e66680;
}
.color-A-60:after {
  content: "#e66680";
}
.color-A-50 {
  background-color: #ea8095;
}
.color-A-50:after {
  content: "#ea8095";
}
.color-A-40 {
  background-color: #ee99aa;
}
.color-A-40:after {
  content: "#ee99aa";
}
.color-A-30 {
  background-color: #f2b3bf;
}
.color-A-30:after {
  content: "#f2b3bf";
}
.color-A-20 {
  background-color: #f7ccd5;
}
.color-A-20:after {
  content: "#f7ccd5";
}
.color-A-10 {
  background-color: #fbe6ea;
}
.color-A-10:after {
  content: "#fbe6ea";
}
.color-A-5 {
  background-color: #fdf2f4;
}
.color-A-5:after {
  content: "#fdf2f4";
}
.color-B {
  background-color: #621a4b;
}
.color-B:after {
  content: "#621a4b";
}
.color-B-90 {
  background-color: #72315d;
}
.color-B-90:after {
  content: "#72315d";
}
.color-B-80 {
  background-color: #81486f;
}
.color-B-80:after {
  content: "#81486f";
}
.color-B-70 {
  background-color: #915f81;
}
.color-B-70:after {
  content: "#915f81";
}
.color-B-60 {
  background-color: #a17693;
}
.color-B-60:after {
  content: "#a17693";
}
.color-B-50 {
  background-color: #b18da5;
}
.color-B-50:after {
  content: "#b18da5";
}
.color-B-40 {
  background-color: #c0a3b7;
}
.color-B-40:after {
  content: "#c0a3b7";
}
.color-B-30 {
  background-color: #d0bac9;
}
.color-B-30:after {
  content: "#d0bac9";
}
.color-B-20 {
  background-color: #e0d1db;
}
.color-B-20:after {
  content: "#e0d1db";
}
.color-B-10 {
  background-color: #efe8ed;
}
.color-B-10:after {
  content: "#efe8ed";
}
.color-B-5 {
  background-color: #f7f4f6;
}
.color-B-5:after {
  content: "#f7f4f6";
}
.color-C {
  background-color: #2d373e;
}
.color-C:after {
  content: "#2d373e";
}
.color-C-90 {
  background-color: #424b51;
}
.color-C-90:after {
  content: "#424b51";
}
.color-C-80 {
  background-color: #575f65;
}
.color-C-80:after {
  content: "#575f65";
}
.color-C-70 {
  background-color: #6c7378;
}
.color-C-70:after {
  content: "#6c7378";
}
.color-C-60 {
  background-color: #81878b;
}
.color-C-60:after {
  content: "#81878b";
}
.color-C-50 {
  background-color: #969b9f;
}
.color-C-50:after {
  content: "#969b9f";
}
.color-C-40 {
  background-color: #abafb2;
}
.color-C-40:after {
  content: "#abafb2";
}
.color-C-30 {
  background-color: #c0c3c5;
}
.color-C-30:after {
  content: "#c0c3c5";
}
.color-C-20 {
  background-color: #d5d7d8;
}
.color-C-20:after {
  content: "#d5d7d8";
}
.color-C-10 {
  background-color: #eaebec;
}
.color-C-10:after {
  content: "#eaebec";
}
.color-C-5 {
  background-color: #f5f5f5;
}
.color-C-5:after {
  content: "#f5f5f5";
}
.color-D {
  background-color: #9f0029;
}
.color-D:after {
  content: "#9f0029";
}
.color-D-90 {
  background-color: #a9193e;
}
.color-D-90:after {
  content: "#a9193e";
}
.color-D-80 {
  background-color: #b23354;
}
.color-D-80:after {
  content: "#b23354";
}
.color-D-70 {
  background-color: #bc4d69;
}
.color-D-70:after {
  content: "#bc4d69";
}
.color-D-60 {
  background-color: #c5667f;
}
.color-D-60:after {
  content: "#c5667f";
}
.color-D-50 {
  background-color: #cf8094;
}
.color-D-50:after {
  content: "#cf8094";
}
.color-D-40 {
  background-color: #d999a9;
}
.color-D-40:after {
  content: "#d999a9";
}
.color-D-30 {
  background-color: #e2b3bf;
}
.color-D-30:after {
  content: "#e2b3bf";
}
.color-D-20 {
  background-color: #ecccd4;
}
.color-D-20:after {
  content: "#ecccd4";
}
.color-D-10 {
  background-color: #f5e6ea;
}
.color-D-10:after {
  content: "#f5e6ea";
}
.color-D-5 {
  background-color: #faf2f4;
}
.color-D-5:after {
  content: "#faf2f4";
}
.color-E {
  background-color: #680000;
}
.color-E:after {
  content: "#680000";
}
.color-E-90 {
  background-color: #771919;
}
.color-E-90:after {
  content: "#771919";
}
.color-E-80 {
  background-color: #863333;
}
.color-E-80:after {
  content: "#863333";
}
.color-E-70 {
  background-color: #954d4d;
}
.color-E-70:after {
  content: "#954d4d";
}
.color-E-60 {
  background-color: #a46666;
}
.color-E-60:after {
  content: "#a46666";
}
.color-E-50 {
  background-color: #b48080;
}
.color-E-50:after {
  content: "#b48080";
}
.color-E-40 {
  background-color: #c39999;
}
.color-E-40:after {
  content: "#c39999";
}
.color-E-30 {
  background-color: #d2b3b3;
}
.color-E-30:after {
  content: "#d2b3b3";
}
.color-E-20 {
  background-color: #e1cccc;
}
.color-E-20:after {
  content: "#e1cccc";
}
.color-E-10 {
  background-color: #f0e6e6;
}
.color-E-10:after {
  content: "#f0e6e6";
}
.color-E-5 {
  background-color: #f7f2f2;
}
.color-E-5:after {
  content: "#f7f2f2";
}
.color-F {
  background-color: #2d373e;
}
.color-F:after {
  content: "#2d373e";
}
.color-F-90 {
  background-color: #424b51;
}
.color-F-90:after {
  content: "#424b51";
}
.color-F-80 {
  background-color: #575f65;
}
.color-F-80:after {
  content: "#575f65";
}
.color-F-70 {
  background-color: #6c7378;
}
.color-F-70:after {
  content: "#6c7378";
}
.color-F-60 {
  background-color: #81878b;
}
.color-F-60:after {
  content: "#81878b";
}
.color-F-50 {
  background-color: #969b9f;
}
.color-F-50:after {
  content: "#969b9f";
}
.color-F-40 {
  background-color: #abafb2;
}
.color-F-40:after {
  content: "#abafb2";
}
.color-F-30 {
  background-color: #c0c3c5;
}
.color-F-30:after {
  content: "#c0c3c5";
}
.color-F-20 {
  background-color: #d5d7d8;
}
.color-F-20:after {
  content: "#d5d7d8";
}
.color-F-10 {
  background-color: #eaebec;
}
.color-F-10:after {
  content: "#eaebec";
}
.color-F-5 {
  background-color: #f5f5f5;
}
.color-F-5:after {
  content: "#f5f5f5";
}
.color-G {
  background-color: #575f65;
}
.color-G:after {
  content: "#575f65";
}
.color-G-90 {
  background-color: #686f74;
}
.color-G-90:after {
  content: "#686f74";
}
.color-G-80 {
  background-color: #797f84;
}
.color-G-80:after {
  content: "#797f84";
}
.color-G-70 {
  background-color: #898f93;
}
.color-G-70:after {
  content: "#898f93";
}
.color-G-60 {
  background-color: #9a9fa3;
}
.color-G-60:after {
  content: "#9a9fa3";
}
.color-G-50 {
  background-color: #abafb2;
}
.color-G-50:after {
  content: "#abafb2";
}
.color-G-40 {
  background-color: #bcbfc1;
}
.color-G-40:after {
  content: "#bcbfc1";
}
.color-G-30 {
  background-color: #cdcfd1;
}
.color-G-30:after {
  content: "#cdcfd1";
}
.color-G-20 {
  background-color: #dddfe0;
}
.color-G-20:after {
  content: "#dddfe0";
}
.color-G-10 {
  background-color: #eeeff0;
}
.color-G-10:after {
  content: "#eeeff0";
}
.color-G-5 {
  background-color: #f7f7f7;
}
.color-G-5:after {
  content: "#f7f7f7";
}
.color-H {
  background-color: #d7d2cb;
}
.color-H:after {
  content: "#d7d2cb";
}
.color-H-90 {
  background-color: #dbd7d0;
}
.color-H-90:after {
  content: "#dbd7d0";
}
.color-H-80 {
  background-color: #dfdbd5;
}
.color-H-80:after {
  content: "#dfdbd5";
}
.color-H-70 {
  background-color: #e3e0db;
}
.color-H-70:after {
  content: "#e3e0db";
}
.color-H-60 {
  background-color: #e7e4e0;
}
.color-H-60:after {
  content: "#e7e4e0";
}
.color-H-50 {
  background-color: #ebe9e5;
}
.color-H-50:after {
  content: "#ebe9e5";
}
.color-H-40 {
  background-color: #efedea;
}
.color-H-40:after {
  content: "#efedea";
}
.color-H-30 {
  background-color: #f3f2ef;
}
.color-H-30:after {
  content: "#f3f2ef";
}
.color-H-20 {
  background-color: #f7f6f5;
}
.color-H-20:after {
  content: "#f7f6f5";
}
.color-H-10 {
  background-color: #fbfbfa;
}
.color-H-10:after {
  content: "#fbfbfa";
}
.color-H-5 {
  background-color: #fdfdfc;
}
.color-H-5:after {
  content: "#fdfdfc";
}
.color-I {
  background-color: #f4f3f0;
}
.color-I:after {
  content: "#f4f3f0";
}
.color-I-90 {
  background-color: #f5f4f2;
}
.color-I-90:after {
  content: "#f5f4f2";
}
.color-I-80 {
  background-color: #f6f5f3;
}
.color-I-80:after {
  content: "#f6f5f3";
}
.color-I-70 {
  background-color: #f7f7f5;
}
.color-I-70:after {
  content: "#f7f7f5";
}
.color-I-60 {
  background-color: #f8f8f6;
}
.color-I-60:after {
  content: "#f8f8f6";
}
.color-I-50 {
  background-color: #faf9f8;
}
.color-I-50:after {
  content: "#faf9f8";
}
.color-I-40 {
  background-color: #fbfaf9;
}
.color-I-40:after {
  content: "#fbfaf9";
}
.color-I-30 {
  background-color: #fcfbfb;
}
.color-I-30:after {
  content: "#fcfbfb";
}
.color-I-20 {
  background-color: #fdfdfc;
}
.color-I-20:after {
  content: "#fdfdfc";
}
.color-I-10 {
  background-color: #fefefe;
}
.color-I-10:after {
  content: "#fefefe";
}
.color-I-5 {
  background-color: #fefefe;
}
.color-I-5:after {
  content: "#fefefe";
}
.color-J {
  background-color: #f9f9f8;
}
.color-J:after {
  content: "#f9f9f8";
}
.color-J-90 {
  background-color: #fafaf9;
}
.color-J-90:after {
  content: "#fafaf9";
}
.color-J-80 {
  background-color: #fafaf9;
}
.color-J-80:after {
  content: "#fafaf9";
}
.color-J-70 {
  background-color: #fbfbfa;
}
.color-J-70:after {
  content: "#fbfbfa";
}
.color-J-60 {
  background-color: #fbfbfb;
}
.color-J-60:after {
  content: "#fbfbfb";
}
.color-J-50 {
  background-color: #fcfcfc;
}
.color-J-50:after {
  content: "#fcfcfc";
}
.color-J-40 {
  background-color: #fdfdfc;
}
.color-J-40:after {
  content: "#fdfdfc";
}
.color-J-30 {
  background-color: #fdfdfd;
}
.color-J-30:after {
  content: "#fdfdfd";
}
.color-J-20 {
  background-color: #fefefe;
}
.color-J-20:after {
  content: "#fefefe";
}
.color-J-10 {
  background-color: #fefefe;
}
.color-J-10:after {
  content: "#fefefe";
}
.color-J-5 {
  background-color: #ffffff;
}
.color-J-5:after {
  content: "#ffffff";
}
.color-Success {
  background-color: #008000;
}
.color-Success:after {
  content: "#008000";
}
.color-Success-90 {
  background-color: #198d19;
}
.color-Success-90:after {
  content: "#198d19";
}
.color-Success-80 {
  background-color: #339933;
}
.color-Success-80:after {
  content: "#339933";
}
.color-Success-70 {
  background-color: #4da64d;
}
.color-Success-70:after {
  content: "#4da64d";
}
.color-Success-60 {
  background-color: #66b366;
}
.color-Success-60:after {
  content: "#66b366";
}
.color-Success-50 {
  background-color: #80c080;
}
.color-Success-50:after {
  content: "#80c080";
}
.color-Success-40 {
  background-color: #99cc99;
}
.color-Success-40:after {
  content: "#99cc99";
}
.color-Success-30 {
  background-color: #b3d9b3;
}
.color-Success-30:after {
  content: "#b3d9b3";
}
.color-Success-20 {
  background-color: #cce6cc;
}
.color-Success-20:after {
  content: "#cce6cc";
}
.color-Success-10 {
  background-color: #e6f2e6;
}
.color-Success-10:after {
  content: "#e6f2e6";
}
.color-Success-5 {
  background-color: #f2f9f2;
}
.color-Success-5:after {
  content: "#f2f9f2";
}
.color-Danger {
  background-color: #c40000;
}
.color-Danger:after {
  content: "#c40000";
}
.color-Danger-90 {
  background-color: #ca1919;
}
.color-Danger-90:after {
  content: "#ca1919";
}
.color-Danger-80 {
  background-color: #d03333;
}
.color-Danger-80:after {
  content: "#d03333";
}
.color-Danger-70 {
  background-color: #d64d4d;
}
.color-Danger-70:after {
  content: "#d64d4d";
}
.color-Danger-60 {
  background-color: #dc6666;
}
.color-Danger-60:after {
  content: "#dc6666";
}
.color-Danger-50 {
  background-color: #e28080;
}
.color-Danger-50:after {
  content: "#e28080";
}
.color-Danger-40 {
  background-color: #e79999;
}
.color-Danger-40:after {
  content: "#e79999";
}
.color-Danger-30 {
  background-color: #edb3b3;
}
.color-Danger-30:after {
  content: "#edb3b3";
}
.color-Danger-20 {
  background-color: #f3cccc;
}
.color-Danger-20:after {
  content: "#f3cccc";
}
.color-Danger-10 {
  background-color: #f9e6e6;
}
.color-Danger-10:after {
  content: "#f9e6e6";
}
.color-Danger-5 {
  background-color: #fcf2f2;
}
.color-Danger-5:after {
  content: "#fcf2f2";
}
.color-Warning {
  background-color: #c53b00;
}
.color-Warning:after {
  content: "#c53b00";
}
.color-Warning-90 {
  background-color: #cb4f19;
}
.color-Warning-90:after {
  content: "#cb4f19";
}
.color-Warning-80 {
  background-color: #d16233;
}
.color-Warning-80:after {
  content: "#d16233";
}
.color-Warning-70 {
  background-color: #d6764d;
}
.color-Warning-70:after {
  content: "#d6764d";
}
.color-Warning-60 {
  background-color: #dc8966;
}
.color-Warning-60:after {
  content: "#dc8966";
}
.color-Warning-50 {
  background-color: #e29d80;
}
.color-Warning-50:after {
  content: "#e29d80";
}
.color-Warning-40 {
  background-color: #e8b199;
}
.color-Warning-40:after {
  content: "#e8b199";
}
.color-Warning-30 {
  background-color: #eec4b3;
}
.color-Warning-30:after {
  content: "#eec4b3";
}
.color-Warning-20 {
  background-color: #f3d8cc;
}
.color-Warning-20:after {
  content: "#f3d8cc";
}
.color-Warning-10 {
  background-color: #f9ebe6;
}
.color-Warning-10:after {
  content: "#f9ebe6";
}
.color-Warning-5 {
  background-color: #fcf5f2;
}
.color-Warning-5:after {
  content: "#fcf5f2";
}
.color-Info {
  background-color: #0074c4;
}
.color-Info:after {
  content: "#0074c4";
}
.color-Info-90 {
  background-color: #1982ca;
}
.color-Info-90:after {
  content: "#1982ca";
}
.color-Info-80 {
  background-color: #3390d0;
}
.color-Info-80:after {
  content: "#3390d0";
}
.color-Info-70 {
  background-color: #4d9ed6;
}
.color-Info-70:after {
  content: "#4d9ed6";
}
.color-Info-60 {
  background-color: #66acdc;
}
.color-Info-60:after {
  content: "#66acdc";
}
.color-Info-50 {
  background-color: #80bae2;
}
.color-Info-50:after {
  content: "#80bae2";
}
.color-Info-40 {
  background-color: #99c7e7;
}
.color-Info-40:after {
  content: "#99c7e7";
}
.color-Info-30 {
  background-color: #b3d5ed;
}
.color-Info-30:after {
  content: "#b3d5ed";
}
.color-Info-20 {
  background-color: #cce3f3;
}
.color-Info-20:after {
  content: "#cce3f3";
}
.color-Info-10 {
  background-color: #e6f1f9;
}
.color-Info-10:after {
  content: "#e6f1f9";
}
.color-Info-5 {
  background-color: #f2f8fc;
}
.color-Info-5:after {
  content: "#f2f8fc";
}
